{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css') }}" type="text/css">
    <link href="{{ asset('fancybox/jquery.fancybox.css') }}" rel="stylesheet" />    
    <link rel="stylesheet" href="{{ asset('assets/vendor/loumultiselect/css/multi-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css') }}" type="text/css">
    <style>
        .input-group-addon{padding:0px;}
        .input-group .form-control {
            z-index: 1;
        }
        .input-group {
            margin-top: 35px;
        }
        .photo_img{
            width: 35rem;
            height: auto;
            overflow: hidden;
            border: 0;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            border-radius: 1rem;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            margin: 1rem 1rem 0 3rem;
        }
    </style>
{% endblock %}

{% block body %}
<input type="hidden" id="url_tipo" name="url_tipo" value="{{ path('_ajaxTipo')}}">


{% set uri = app.request.getbasepath %}
<input type="hidden" id="root_site" name="root_site" value="{{ uri }}" />
{% if usuario_empresa %}
    <input type="hidden" id="usuario_empresa" name="usuario_empresa" value="/{{ usuario_empresa }}" />
    <input type="hidden" id="si" name="si" value="{{ usuario_empresa }}">
{% else %}    
    <input type="hidden" id="usuario_empresa" name="usuario_empresa" value="" />
{% endif %}
<input type="hidden" id="deslen" name="deslen" value="0" />
<br><br>
<input type="hidden" id="photo" name="photo" value="{{ asset('img/picture.png') }}">
<div class="row align-items-center justify-content-start">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <a href="{{ path('_bibliotecas', { 'app_id': app.session.get('app_id') })}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <div class="card-title">
                    <h6>{{ 'Detalle de la Biblioteca Virtual'|trans }}</h6>
                </div>
            </div>
            <div class="card-block">
                <div class="container_wizard wizard-thin">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel d-flex">
                            <div class="stepwizard-step col">
                                <a href="#det0" class="btn bttn__fndo pass">
                                    <span class="btn-round">1</span>
                                    <p>{{ 'Datos Básicos'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det1" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">2</span>
                                    <p>{{ 'Contenido'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det2" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">3</span>
                                    <p>{{ 'Archivos'|trans }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form id="form_biblioteca" name="form_biblioteca" action="{{ path('_registroBiblioteca', { 'biblioteca_id': biblioteca.id }) }}" class="container-fluid p-0" method="POST">
                        <div class="row setup-content" id="det0">   
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 1</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    {% if not usuario_empresa %}
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-2 col-form-label">{{ 'Empresa'|trans }}</label>
                                        <div class="col-14">
                                            <select class="form-control form_sty_select" name="empresa_id" id="empresa_id">
                                                <option value=""></option>
                                                {% for empresa in empresas %}
                                                    {% set selected = biblioteca.id ? biblioteca.empresa.id == empresa.id ? 'selected="selected"' : '' : '' %}
                                                    <option value="{{ empresa.id }}" {{ selected }} >{{ empresa.nombre|trim }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="fa fa-industry"></span>
                                        </div>
                                    </div>
                                    {% else %}
                                        <input type="hidden" id="empresa_id" name="empresa_id" value="0" />
                                    {% endif %}
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-2 col-form-label">{{ 'Título'|trans }}</label>
                                        <div class="col-14">
                                            <input type="text" class="form-control form_sty1" name="titulo" id="titulo" value="{{ biblioteca.titulo }}">
                                            <span class="fa fa-font"></span>
                                        </div>
                                    </div>
                                {% if not usuario_empresa %}                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-6 col-form-label">{{ 'Fecha de Publicación'|trans }}</label>
                                        <div class="col-14">
                                            
                                            <input type="text" class="form-control form_sty1" name="fecha_publicacion" id="fecha_publicacion" value="" placeholder="DD/MM/YYYY">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">                                            
                                        <label for="texto" class="col-6 col-form-label">{{ 'Fecha de Vencimiento'|trans }}</label>
                                        <div class="col-14">
                                            
                                            <input type="text" class="form-control form_sty1" name="fecha_vencimiento" id="fecha_vencimiento" value="" placeholder="DD/MM/YYYY">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                {% endif %}
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-6 col-form-label">{{ 'Tipo de recurso'|trans }}</label>
                                        <div class="col-14">
                                            <select class="form-control form_sty_select" name="tipo_biblioteca_id" id="tipo_biblioteca_id">
                                                <option value=""></option>
                                                {% for tipoBiblioteca in tipoBibliotecas %}
                                                    {% set selected = biblioteca.id ? biblioteca.tipoBiblioteca.id == tipoBiblioteca.id ? 'selected="selected"' : '' : '' %}
                                                    <option value="{{ tipoBiblioteca.id }}" {{ selected }} >{{ tipoBiblioteca.nombre|trim }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="fa fa-industry"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8" style="display: none;" id="ver">
                                        <label for="texto" class="col-6 col-form-label">{{ 'Autor'|trans }}</label>
                                        <div class="col-14">
                                            <input type="text" class="form-control form_sty1" name="autor" id="autor" value="">
                                            <span class="fa fa-industry"></span>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="det1">
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 2</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-16">
                                        <div class="form-group">
                                            <label for="texto" class="col-2 col-form-label">{{ 'Contenido'|trans }}</label>
                                            <div class="col-16">
                                                <textarea class="ckeditor" rows="3" id="contenido" name="contenido" cols="30" rows="10">{{ biblioteca.contenido }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="det2">
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 3</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-auto col-sm-auto col-xl-auto col-lg-auto">
                                        {% set img = biblioteca.imagen  ? uploads~biblioteca.imagen : asset('img/picture.png') %}
                                        <div class="photo_img" id="figure"><img src="{{ img }}" alt="{{ 'Imagen'|trans }}" style="width: 512px; height: auto; margin: 0 1rem;"></div>
                                    </div>
                                    <div class="col-md-auto col-sm-auto col-xl-auto col-lg-auto">
                                        <div class="input-group">
                                            <input type="hidden" id="imagen" name="imagen" value="{{ biblioteca.imagen }}" readonly="readonimagen">
                                            <span class="input-group-addon">
                                                {% if usuario_empresa %}
                                                    <a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=1&field_id=imagen&rootFolder=recursos/noticias/{{ usuario_empresa }}"  class="btn iframe-btn" type="button">
                                                {% else %}
                                                    <a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=1&field_id=imagen&rootFolder=recursos/noticias"  class="btn iframe-btn" type="button">
                                                {% endif %}
                                                        <button type="button" class="btn_addImg">
                                                            <span class="fa fa-photo"></span>
                                                        </button>
                                                    </a>
                                            </span>
                                            <span class="input-group-addon">
                                                <button id="btn_clear_img" class="btn_clearImg" type="button">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row" id="recurso1" style="display: none;">
                                    <div class="col-sm-8 col-lg-8 col-md-8">
                                        <label for="pdf" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ 'Recurso'|trans }}</label>
                                        <div class="col-sm-16 col-md-16 col-lg-16">
                                            <input type="text" class="form-control form_sty1" name="video" id="video" value="{{ biblioteca.pdf }}" readonly="readonly" placeholder="{{ 'Sólo archivos con extensión mp4 o webm.'|trans }}">
                                            <span class="fa fa-file-video-o"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                                {% if usuario_empresa %}
                                                    <div id="recurso"><a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=3&field_id=video&rootFolder=recursos/noticias/{{ usuario_empresa }}" class="btn iframe-btn" type="button"></div>
                                                {% else %}
                                                    <div id="recurso"><a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=3&field_id=video&rootFolder=recursos/noticias" class="btn iframe-btn" type="button"></div>
                                                {% endif %}
                                                        <button type="button" class="btn_addImg">
                                                            <span class="fa fa-file-video-o"></span>
                                                        </button>
                                                    </a>
                                           </span>
                                           <span class="input-group-addon">
                                               <button id="btn_clear_pdf" class="btn_clearImg2" type="button">
                                                   <span class="fa fa-times"></span>
                                               </button>
                                           </span>
                                       </div>
                                    </div>
                                </div>
                                <div class="row" id="recurso2" style="display: none;">
                                    <div class="col-sm-8 col-lg-8 col-md-8">
                                        <label for="pdf" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ 'Recurso'|trans }}</label>
                                        <div class="col-sm-16 col-md-16 col-lg-16">
                                            <input type="text" class="form-control form_sty1" name="audio" id="audio" value="{{ biblioteca.pdf }}" readonly="readonly" placeholder="{{ 'Sólo archivos con extensión mp3.'|trans }}">
                                            <span class="fa fa-file-audio-o"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                                {% if usuario_empresa %}
                                                    <div id="recurso"><a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=2&field_id=audio&rootFolder=recursos/noticias/{{ usuario_empresa }}" class="btn iframe-btn" type="button"></div>
                                                {% else %}
                                                    <div id="recurso"><a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=2&field_id=audio&rootFolder=recursos/noticias" class="btn iframe-btn" type="button"></div>
                                                {% endif %}
                                                        <button type="button" class="btn_addImg">
                                                            <span class="fa fa-file-audio-o"></span>
                                                        </button>
                                                    </a>
                                           </span>
                                           <span class="input-group-addon">
                                               <button id="btn_clear_pdf" class="btn_clearImg2" type="button">
                                                   <span class="fa fa-times"></span>
                                               </button>
                                           </span>
                                       </div>
                                    </div>
                                </div>
                                <div class="row" id="recurso3" style="display: none;">
                                    <div class="col-sm-8 col-lg-8 col-md-8">
                                        <label for="pdf" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ 'Recurso'|trans }}</label>
                                        <div class="col-sm-16 col-md-16 col-lg-16">
                                            <input type="text" class="form-control form_sty1" name="pdf" id="pdf" value="{{ biblioteca.pdf }}" readonly="readonly" placeholder="{{ 'Sólo archivos con extensión pdf.'|trans }}">
                                            <span class="fa fa-file-pdf-o"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                                {% if usuario_empresa %}
                                                    <div id="recurso"><a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=2&field_id=pdf&rootFolder=recursos/noticias/{{ usuario_empresa }}" class="btn iframe-btn" type="button"></div>
                                                {% else %}
                                                    <div id="recurso"><a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=2&field_id=pdf&rootFolder=recursos/noticias" class="btn iframe-btn" type="button"></div>
                                                {% endif %}
                                                        <button type="button" class="btn_addImg">
                                                            <span class="fa fa-file-pdf-o"></span>
                                                        </button>
                                                    </a>
                                           </span>
                                           <span class="input-group-addon">
                                               <button id="btn_clear_pdf" class="btn_clearImg2" type="button">
                                                   <span class="fa fa-times"></span>
                                               </button>
                                           </span>
                                       </div>
                                    </div>
                                </div>                              
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Finalizar'|trans }}</span><span class="fa fa-check"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/config.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>    
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/loumultiselect/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('js/admin/biblioteca.js') }}"></script>  
    <script type="text/javascript">

        $("form :input").attr("autocomplete", "off");
        
        $("#btn_clear_img").on("click",function(event) {
            $("#imagen").val("");
            $("#figure").html('<img src="'+$('#photo').val()+'">');
        });

        $("#btn_clear_pdf").on("click",function(event) {
            $("#pdf").val("");
        });

        $('#finish').click(function()
        {
           var valid = $('#form_biblioteca').valid();
           if(!valid)
           {
               notify($('#div-error').html());
           }else
           {
                var deslen = $('#deslen').val();
                if (deslen < {{ minlenght_bienvenida }} )
                {
                    $('#div-error ul').html("<li>- {{'Cantidad mínima de caracteres en el Contenido'|trans }}: {{ minlenght_bienvenida }}</li>");
                    $('#div-error ul').show();
                    notify($('#div-error').html());
                }else
                {
                    if (deslen > {{ minlenght_bienvenida }} )
                    {
                        $('#finish').attr("disabled", "disabled");
                        $('#form_biblioteca').submit();
                    }
                }
            }
        });
        
        $("#form_biblioteca").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'empresa_id': {
                    required: true
                },
                'titulo': {
                    required: true,
                    minlength: 3
                },
                'imagen': {
                    extension: "jpg|png"
                },
                'pdf': {
                    extension: "pdf"
                },
                'audio': {
                    extension: "mp3"
                },
                'video': {
                    extension: "mp4|webm|ogv"
                }                
            },
            messages: {
                'empresa_id': {
                    required: "- {{ 'La empresa es requerida.'|trans }}"
                },            
                'titulo': {
                    required: "- {{ 'El título es requerido.'|trans }}",
                    minlength: "- {{ 'El título debe ser mínimo de 3 caracteres.'|trans }}"
                },
                'imagen': {
                    extension: "- {{ 'Sólo archivos con extensión .jpg o .png'|trans }}"
                },
                'pdf': {
                    extension: "- {{ 'Sólo archivos con extensión .pdf'|trans }}"
                },
                'audio': {
                    extension: "- {{ 'Sólo archivos con extensión .mp3'|trans }}"
                },
                'video': {
                    extension: "- {{ 'Sólo archivos con extensión .mp4 o .webm o .ogv'|trans }}"
                }
            }
        });
    </script>

{% endblock %}