{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css') }}" type="text/css">
    <link href="{{ asset('fancybox/jquery.fancybox.css') }}" rel="stylesheet" />    
    <style>
        .input-group-addon{padding:0px;}
        .input-group .form-control {
            z-index: 1;
        }
        .input-group {
            margin-top: 35px;
        }
       
    </style>
{% endblock %}

{% block body %}

{% set uri = app.request.getbasepath %}
<input type="hidden" id="root_site" name="root_site" value="{{ uri }}" />
<input type="hidden" id="deslen" name="deslen" value="0" />
<input type="hidden" id="deslen2" name="deslen2" value="0" />
<br><br>
<div class="row align-items-center justify-content-start">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <a href="{{ path('_bibliotecas', { 'app_id': app.session.get('app_id') })}}" class="bttn__bck"><span class="fa fa-clipboard"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <div class="card-title">
                    <h6>{{ 'Detalles de la Noticia y Novedad'|trans }}</h6>
                </div>
            </div>
            <div class="card-block">
                <div class="container_wizard wizard-thin">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel d-flex">
                            <div class="stepwizard-step col">
                                <a href="#det0" class="btn bttn__fndo pass">
                                    <span class="btn-round">1</span>
                                    <p>{{ 'Datos Básicos'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det1" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">2</span>
                                    <p>{{ 'Resumen'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det2" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">3</span>
                                    <p>{{ 'Contenido'|trans }}</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det3" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">4</span>
                                    <p>{{ 'Archivos'|trans }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form id="form" name="form" action="{{ path('_registroNovedades', { 'noticia_id': noticia.id }) }}" class="container-fluid p-0" method="POST">
                        <div class="row setup-content" id="det0">   
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 1</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    {% if not usuario_empresa %}                                
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-2 col-form-label">{{ 'Empresa'|trans }}</label>
                                        <div class="col-14">
                                            <select class="form-control form_sty_select" name="empresa_id" id="empresa_id">
                                                <option value=""></option>
                                                {% for empresa in empresas %}
                                                    {% set selected = noticia.id ? noticia.empresa.id == empresa.id ? 'selected="selected"' : '' : '' %}
                                                    <option value="{{ empresa.id }}" {{ selected }} >{{ empresa.nombre|trim }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="fa fa-industry"></span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-8 col-md-8 col-lg-8">                                            
                                        <label for="texto" class="col-6 col-form-label">{{ 'Tipo de Noticia'|trans }}</label>
                                        <div class="col-14">
                                            <select class="form-control form_sty_select" name="tipo_noticia_id" id="tipo_noticia_id">
                                                <option value=""></option>
                                                {% for tipoNoticia in tipoNoticias %}
                                                    {% set selected = noticia.id ? noticia.tipoNoticia.id == tipoNoticia.id ? 'selected="selected"' : '' : '' %}
                                                    <option value="{{ tipoNoticia.id }}" {{ selected }} >{{ tipoNoticia.nombre|trim }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="fa fa-tags"></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-2 col-form-label">{{ 'Título'|trans }}</label>
                                        <div class="col-14">
                                            <input type="text" class="form-control form_sty1" name="titulo" id="titulo" value="{{ noticia.titulo }}">
                                            <span class="fa fa-font"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">                                            
                                        <label for="texto" class="col-2 col-form-label">{{ 'Autor'|trans }}</label>
                                        <div class="col-14">
                                            <input type="text" class="form-control form_sty1" name="autor" id="autor" value="{{ noticia.autor }}">
                                            <span class="fa fa-font"></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label for="texto" class="col-6 col-form-label">{{ 'Fecha de Publicación'|trans }}</label>
                                        <div class="col-14">
                                            {% set fecha_publicacion = noticia.fechaPublicacion ? noticia.fechaPublicacion|date('d/m/Y') : '' %}
                                            <input type="text" class="form-control form_sty1" name="fecha_publicacion" id="fecha_publicacion" value="{{ fecha_publicacion }}">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">                                            
                                        <label for="texto" class="col-6 col-form-label">{{ 'Fecha de Vencimiento'|trans }}</label>
                                        <div class="col-14">
                                            {% set fecha_vencimiento = noticia.fechaVencimiento ? noticia.fechaVencimiento|date('d/m/Y') : '' %}
                                            <input type="text" class="form-control form_sty1" name="fecha_vencimiento" id="fecha_vencimiento" value="{{ fecha_vencimiento }}">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div> 
                                <br>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="det1">
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 2</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-16">
                                        <div class="form-group">
                                            <label for="texto" class="col-2 col-form-label">{{ 'Resumen'|trans }}</label>
                                            <div class="col-16">
                                                <textarea class="ckeditor" rows="3" id="resumen" name="resumen" cols="30" rows="10">{{ noticia.resumen }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="det2">
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 3</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-16">
                                        <div class="form-group">
                                            <label for="texto" class="col-2 col-form-label">{{ 'Contenido'|trans }}</label>
                                            <div class="col-16">
                                                <textarea class="ckeditor" rows="3" id="contenido" name="contenido" cols="30" rows="10">{{ noticia.contenido }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">{{ 'Siguiente'|trans }}</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="det3">
                            <div class="col-sm-16">
                                <div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">{{ 'Paso'|trans }} 4</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-8 col-lg-8 col-md-8">
                                        <label for="imagen" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ 'Imagen'|trans }}</label>
                                        <div class="col-sm-16 col-md-16 col-lg-16">
                                            <input type="text" class="form-control form_sty1" name="imagen" id="imagen" value="" readonly="readonly" placeholder="{{ 'Sólo archivos con extensión jpg o png.'|trans }}">
                                            <span class="fa fa-picture-o"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=1&field_id=imagen&fldr=recursos/noticias" class="btn iframe-btn" type="button">
                                                    <span class="fa fa-file-picture-o"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                   <!--  <div class="col-sm-4 col-lg-4 col-md-4">
                                        {% set img = asset('img/picture.png') %}
                                        <div id="figure"><img src="{{ img }}" alt="{{ 'Imagen de la Noticia y Novedad|trans' }}" style="width: 150px; height: auto; margin: 0 1rem;"></div>
                                    </div>   -->                              
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-8 col-lg-8 col-md-8">
                                        <label for="imagen" class="col-sm-6 col-md-6 col-lg-6 col-form-label">{{ 'Pdf'|trans }}</label>
                                        <div class="col-sm-16 col-md-16 col-lg-16">
                                            <input type="text" class="form-control form_sty1" name="pdf" id="pdf" value="" readonly="readonly" placeholder="{{ 'Sólo archivos con extensión jpg o png.'|trans }}">
                                            <span class="fa fa-file-pdf-o"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <a href="{{ uri }}/jq/ResponsiveFilemanager/filemanager/dialog.php?type=2&field_id=pdf&fldr=recursos/noticias" class="btn iframe-btn" type="button">
                                                    <span class="fa fa-file-pdf-o"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__end" id="finish"><span class="text__end">{{ 'Finalizar'|trans }}</span><span class="fa fa-check"></span></button>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/config.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>   
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('js/admin/novedad.js') }}"></script>
    <script type="text/javascript">

        $('#finish').click(function()
        {
           var valid = $('#form').valid();
           if(!valid){
               notify($('#div-error').html());
           }
            else{
                var deslen = $('#deslen').val();
                if (deslen < 3 ) //{{ minlenght_bienvenida }}
                {
                    $('#div-error ul').html("<li>- {{'Cantidad mínima de caracteres en el mensaje de bienvenida'|trans }}: 3</li>");
                    $('#div-error ul').show();
                    notify($('#div-error').html());
                }
                else
                {
                    $('#form').submit();
                }
            }
        });
        
        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'empresa_id': {
                    required: true
                },
                'tipo_noticia_id': {
                    required: true
                },
                'titulo': {
                    required: true,
                    minlength: 3
                },
                'autor': {
                    required: true,
                    minlength: 3
                },
                'fecha_publicacion': {
                    required: true
                },
                'fecha_vencimiento': {
                    required: true
                },
                'pdf': {
                    extension: "pdf"
                },
                'imagen': {
                    extension: "jpg|png"
                }                
            },
            messages: {
                'empresa_id': {
                    required: "- {{ 'La empresa es requerido.'|trans }}",
                },
                'tipo_noticia_id': {
                    required: "- {{ 'El tipo de noticia es requerido.'|trans }}",
                },                
                'titulo': {
                    required: "- {{ 'El título es requerido.'|trans }}",
                    minlength: "- {{ 'El título debe ser mínimo de 3 caracteres.'|trans }}"
                },
                'autor': {
                    required: "- {{ 'El autor es requerido.'|trans }}",
                    minlength: "- {{ 'El autor debe ser mínimo de 3 caracteres.'|trans }}"
                },
                'fecha_publicacion': {
                    required: "- {{ 'Debe seleccionar una fecha de publicación.'|trans }}"
                },
                'fecha_vencimiento': {
                    required: "- {{ 'Debe seleccionar una fecha de vencimiento.'|trans }}"
                },
                'pdf': {
                    extension: "- {{ 'Sólo archivos con extensión .pdf'|trans }}"
                },
                'imagen': {
                    extension: "- {{ 'Sólo archivos con extensión .jpg o .png'|trans }}"
                }                
            }
        });
    </script>
{% endblock %}
