{% extends '::admin.html.twig' %}

{% block body %}
<br>
<input type="hidden" id="url_pages" name="url_pages" value="{{ path('_ajaxPaginasEmpresa') }}">
<input type="hidden" id="url_tree" name="url_tree" value="{{ path('_ajaxTreePaginasEmpresa') }}">
<input type="hidden" id="url_acceso" name="url_acceso" value="{{ path('_ajaxAccesoPagina') }}">
<input type="hidden" id="error_msg-pages" name="error_msg-pages" value="{{ 'Error al obtener las páginas asignadas.'|trans }}">
<input type="hidden" id="error_msg-acceso" name="error_msg-access" value="{{ 'No se pudo habilitar/inhabilitar el acceso a esta página.'|trans }}">

<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Asignación de páginas'|trans }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Listado de Empresas'|trans }}</h5>
            </div>
            <div class="card-block">
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">{{ 'Nombre'|trans }}</th>
                            <th class="hd__title">RIF</th>
                            <th class="hd__title">{{ 'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empresa in empresas %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{ eo }}">
                                <td>{{ empresa.nombre }}</td>
                                <td>{{ empresa.rif }}</td>
                                <td class="center">
                                    <a href="{{ path('_empresaPaginas', { 'empresa_id': empresa.id }) }}" title="{{ 'Asignar páginas'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-sitemap"></span></a>
                                    {% if empresa.tiene_paginas %}
                                        <a href="#" title="{{ 'Ver páginas asignadas'|trans }}" class="btn btn-link btn-sm see" data="{{ empresa.id }}"><span class="fa fa-eye"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 col-10" style="display:none;" id="div-pages">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Páginas asignadas a'|trans }} <span id="empresaTitle"></span></h5>
            </div>
            <div class="card-block">
                <div class="row" id="div-active-alert" style="display:none;">
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert"> 
                            <strong>{{ 'Error en el servidor'|trans }}!</strong> <span id="active-error">{{ 'Ha ocurrido un error en el servidor. Contacte al administrador del sistema.'|trans }}.</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <div id="pages"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/empresasPaginas.js') }}"></script>
{% endblock %}
