{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables/RowReorder-1.2.3/css/rowReorder.dataTables.min.css') }}" type="text/css">
    <style type="text/css">
        .modal-dialog {
            max-width: 60%;
        }
    </style>
{% endblock %}

{% block body %}
<input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxGetPage') }}">
<input type="hidden" id="url_tree" name="url_tree" value="{{ path('_ajaxTreePaginas') }}">
<input type="hidden" id="url_list" name="url_list" value="{{ path('_paginas',{ 'app_id': app.session.get('app_id') }) }}">
<br>
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Configuración de páginas'|trans }}</h3>
    </div>
    <div class="col text-right ">
        <a href="{{ path('_newPagina')}}" class="bttn__nr"><span class="fa fa-plus" style="margin-top: 8px;"></span><span class="text__nr">{{ 'Nueva página'|trans }}</span></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Páginas principales'|trans }}</h5>
            </div>
            <div class="card-block">
                {{ include('LinkBackendBundle:Pagina:listado.html.twig', { 'paginas': paginas }) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}
<div class="modal-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%); color: #fff;">
    <h5 class="modal-title" id="exampleModalLongTitle">{{ 'Duplicar página y sub-páginas'|trans }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="color: #fff;">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="form" name="form" action="{{ path( '_ajaxDuplicatePage')}}" method="POST">
        <input type="hidden" id="pagina_id" name="pagina_id" value="">
        <div class="row" style="width: 90%;margin-left: 1rem;">
            <div class="col-sm-12 col-md-12 col-lg-12  form-group" >
                <label for="recipient-name" class="form-control-label">{{ 'Nombre para esta página'|trans }}:</label>
                <input type="text" class="form-control form_sty_modal" id="nombre" name="nombre" value="">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4  form-group" >
                <label for="recipient-name" class="form-control-label">{{ 'Duplicar evaluación'|trans }}:</label>
                <div class="can-toggle demo-rebrand-2 small">
                    <input id="duplica_evaluacion" name="duplica_evaluacion" type="checkbox">
                    <label for="duplica_evaluacion">
                        <div class="can-toggle__switch" data-checked="{{ 'Si'|trans }}" data-unchecked="No"></div>
                    </label>
                    </div>
            </div>
        </div>
    </form>
    <div class="alert alert-success" role="alert" id="alert-success" style="display:none;">
        <strong>{{ 'Bien hecho'|trans }}!</strong> {{ 'Cantidad de registros creados'|trans }}: <span id="inserts"></span>.
    </div>
    <div class="card" id="detail" style="display:none;">
        <div class="card-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%);">
            <h4 class="card-title" style="color: #fff; text-transform: uppercase">{{'Estructura'|trans}}</h4>
        </div>
        <div class="card-block">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 pnl__tree" >
                        &nbsp;
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/datatables/RowReorder-1.2.3/js/dataTables.rowReorder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/paginas.js') }}"></script>
    <script type="text/javascript">
        $("#form").validate({
            rules: {
                'nombre': {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                'nombre': {
                    required: "{{ 'Este campo es requerido.'|trans }}",
                    minlength: "{{ 'Debe ser mínimo de 3 caracteres.'|trans }}"
                }
            }
        });
    </script>
{% endblock %}
