<table class="table" id="dt">
    <thead class="sty__title">
        <tr>
            <th class="hd__title">{{ 'Nombre'|trans }}</th>
            <th class="hd__title">{{ 'Categoría'|trans }}</th>
            <th class="hd__title">{{ 'Modificado el'|trans }}</th>
            <th class="hd__title">{{ 'Modificado por'|trans }}</th>
            <th class="hd__title">{{ 'Estatus'|trans }}</th>
            <th class="hd__title">{{ 'Sub-páginas'|trans }}</th>
            <th class="hd__title">{{ 'Acciones'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for pagina in paginas %}
            {% set eo = cycle(['odd', 'even'], loop.index) %}
            <tr class="{{ eo }}">
                <td>{{ pagina.nombre }}</td>
                <td>{{ pagina.categoria }}</td>
                <td>{{ pagina.modificacion }}</td>
                <td>{{ pagina.usuario }}</td>
                <td>{{ pagina.status }}</td>
                <td>
                    {% if pagina.subpaginas.tiene > 0 %}
                        <div class="tree">
                            <ul data-jstree='{ "opened" : true }'>
                                {{ pagina.subpaginas.str|raw }}
                            </ul>
                        </div>
                    {% else %}
                        {{ 'No tiene sub-páginas'|trans }}
                    {% endif %}
                </td>
                <td class="center">
                    <a href="{{ path('_pagina', { 'pagina_id': pagina.id }) }}" title="{{ 'Configurar página'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-gears"></span></a>
                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm {% if pagina.delete_disabled == '' %}delete{% endif %} {{ pagina.delete_disabled }}" data="{{ pagina.id }}"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>