{% extends '::admin.html.twig' %}

{% block body %}
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>Roles</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ 'Listado de Roles' |trans}}</h5>
            </div>
            <div class="card-block">
                <table class="table " id="dt">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th class="center">{{'Descripcion' |trans}}</th>
                            <th>{{'Acciones' |trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for rol in roles %}
                            <tr class="odd">
                                <td>{{ rol.nombre }}</td>
                                <td>{{ rol.descripcion }}</td>
                                <td class="center">
                                    <a href="#" class="btn btn-link btn-sm"><span class="fa fa-pencil"></span></a>
                                    <a href="#" class="btn btn-link btn-sm"><span class="fa fa-trash"></span></a>
                                </td>
                            </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive --> 
            </div>
        </div>
    </div>
</div>
            <!-- fin Listado -->
{% endblock %}