{% extends '::admin.html.twig' %}

{% block body %}
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Aplicaciones'|trans }}</h3>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#formModal">Nuevo Registro</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ 'Listado de Aplicaciones'|trans }}</h5>
            </div>
            <div class="card-block">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>{{ 'Nombre'|trans }}</th>
                            <th>Url</th>
                            <th>{{ 'Icono'|trans }}</th>
                            <th>{{ 'Activo'|trans }}</th>
                            <th>{{ 'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aplicacion in aplicaciones %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{ eo }}">
                                <td>{{ aplicacion.nombre }}</td>
                                <td>{{ aplicacion.url }}</td>
                                <td>
                                    <p class="fa {{ aplicacion.icono }}"> {{ aplicacion.icono }} </p>
                                </td>
                                <td class="center">
                                    <div class="can-toggle demo-rebrand-2 small">
                                        <input id="f" type="checkbox" {% if aplicacion.activo %}checked{% endif %}>
                                        <label for="f">
                                            <div class="can-toggle__switch" data-checked="{{ 'Si'|trans }}" data-unchecked="No"></div>
                                        </label>
                                    </div>
                                </td>
                                <td class="center">
                                    <a href="#" class="btn btn-link btn-sm edit" data-toggle="modal" data-target="#formModal" data="{{ aplicacion.id }}"><span class="fa fa-pencil"></span></a>
                                    <a href="#" class="btn btn-link btn-sm"><span class="fa fa-trash"></span></a>
                                </td>
                            </tr>
                            {% for subaplicacion in aplicacion.subaplicaciones %}
                                <tr class="{{ eo }}">
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="fa fa-arrow-right"> {{ subaplicacion.nombre }}</p>
                                    </td>
                                    <td>{{ subaplicacion.url }}</td>
                                    <td>
                                        <p class="fa {{ subaplicacion.icono }}"> {{ subaplicacion.icono }} </p>
                                    </td>
                                    <td class="center">
                                        <div class="can-toggle demo-rebrand-2 small">
                                            <input id="f" type="checkbox" {% if subaplicacion.activo %}checked{% endif %}>
                                            <label for="f">
                                                <div class="can-toggle__switch" data-checked="{{ 'Si'|trans }}" data-unchecked="No"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <a href="#" class="btn btn-link btn-sm edit" data-toggle="modal" data-target="#formModal" data="{{ subaplicacion.id }}"><span class="fa fa-pencil"></span></a>
                                        <a href="#" class="btn btn-link btn-sm"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}
    <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">{{ 'Datos de la Aplicación'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
        <form id="form" name="form" action="{{ path('_ajaxUpdateAplicacion') }}" method="POST">
            <input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxEditAplicacion') }}">
            <input type="hidden" id="app_id" name="app_id" value="">
            <div class="form-group">
                <label for="nombre" class="form-control-label">{{ 'Nombre'|trans }}:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="">
            </div>
            <div class="form-group">
                <label for="url" class="form-control-label">Url:</label>
                <input type="text" class="form-control" id="url" name="url" value="">
            </div>
            <div class="form-group">
                <label for="icono" class="form-control-label">{{ 'Icono'|trans }}:</label>
                <input type="text" class="form-control" id="icono" name="icono" value="">
            </div>
            <div class="form-group">
                <label for="activo" class="form-control-label">{{ 'Activo'|trans }}:</label>
                <div class="can-toggle demo-rebrand-2 small">
                    <input id="activo" name="activo" type="checkbox" checked>
                    <label for="activo">
                        <div class="can-toggle__switch" data-checked="{{ 'Si'|trans }}" data-unchecked="No"></div>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="subaplicacion_id" class="form-control-label">{{ 'Sub-Aplicación de'|trans }}:</label>
                <select class="form-control" id="subaplicacion_id" name="subaplicacion_id" style="border-radius: 5px;">
                    {% for subapp in apps %}
                        <option value="{{ subapp.id }}">{{ subapp.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    {#<script src="{{ asset('jq/jquery-validation-1.15.0/dist/localization/messages_es.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/admin/aplicacion.js') }}"></script>
{% endblock %}
