{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
<br><br>
    <div class="row">
        <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
            <div class="card">
                <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                    <h5 class="card-title">{{ 'Búsqueda de participantes por empresa' |trans}}</h5>
                </div>
                    {% if usuario.empresa is null %}
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                                    <select class="form_sty_sel form-control" style="border-radius: 5px" id="empresa_id" name="empresa_id">
                                        <option value="0"></option>
                                        {% for empresa in empresas %}
                                            <option value="{{ empresa.id }}" >{{ empresa.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="fa fa-industry"></span>
                                    <span class="bttn_d"><img src="{{asset ('img/down-arrowbck.png')}}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                                    <select class="form_sty_sel form-control" style="border-radius: 5px">
                                        {% for nivel in niveles %}
                                        
                                        <option>{{nivel.nombre}}</option>
                                        
                                        {% endfor %}
                                    </select>
                                    <span class="fa fa-industry"></span>
                                    <span class="bttn_d"><img src="{{asset ('img/down-arrowbck.png')}}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-4 offset-md-4 offset-lg-4" style="margin-bottom: 0px;">
                                    <div class="alert alert-link">
                                        <p>Elegir empresa a la que quiere consultar sus participantes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                        <div class="card-footer">
                            <div class="col-sm-16 col-md-16 text-right">
                                <button type="submit" id="save" class="bttn__nxt edit" data-toggle="tooltip" data-placement="bottom" title="{{ 'Buscar'|trans }}"><span class="text__nxt">Buscar</span><span class="fa fa-search"></span></button>
                            </div>
                        </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.pack.js') }}"></script>
{% endblock %}