{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
{% set encabezado = usuario_empresa ? 'Búsqueda de participantes empresa'|trans~' '~usuario.empresa.nombre : 'Búsqueda de participantes por empresa'|trans %}
{% set empresa_n = usuario_empresa ? usuario.empresa.nombre : 0 %}
<br><br>
<input type="hidden" id="url_niveles" name="url_niveles" value="{{ path('_ajaxNiveles') }}">
<input type="hidden" id="usuario_empresa" name="usuario_empresa" value="{{ usuario_empresa ? usuario.empresa.id : 0 }}">
<input type="hidden" id="url_participantes" name="url_participantes" value="{{ path ('_ajaxParticipantes') }}">
<input type="hidden" id="empresa_n" name="empresa_n" value="{{ empresa_n }}">
<div class="col text-right">
    <a href="{{ path('_nuevoParticipante')}}" class="bttn__nr"><span class="fa fa-plus" style="margin-top: 8px;"></span><span class="text__nr">{{ 'Nuevo Registro'|trans }}</span></a>
</div>
<br>
<div class="col text-right">
    <a href="{{ path('_uploadParticipantes')}}" class="bttn__nr"><span class="fa fa-upload" style="margin-top: 8px;"></span><span class="text__nr">{{ 'Carga masiva'|trans }}</span></a>
</div>
<div class="row">
    <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ encabezado }}</h5>
            </div>
            <div class="card-block">
                {% if not usuario_empresa %}
                 <label for="texto" class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">Empresa</label>
                    <div class="row">
                        <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                            <select class="form_sty_sel form-control" style="border-radius: 5px" id="empresa_id" name="empresa_id">
                                <option value="0"></option>
                                {% for empresa in empresas %}
                                    <option value="{{ empresa.id }}" >{{ empresa.nombre }}</option>
                                {% endfor %}
                            </select>
                            <span class="fa fa-industry"></span>
                            <span class="bttn_d"><img src="{{asset ('img/down-arrowbck.png')}}"></span>
                        </div>
                    </div>
                    <br>
                {% endif %}
                <label for="texto" class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">Nivel</label>
                <div class="row">
                    <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                        <select class="form_sty_sel form-control" style="border-radius: 5px" id="nivel_id" name="nivel_id">
                        </select>
                        <span class="fa fa-industry"></span>
                        <span class="bttn_d"><img src="{{asset ('img/down-arrowbck.png')}}"></span>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Listado de participantes'|trans }}</h5>
            </div>
            <div class="card-block">
                <div class="row" id="div-active-alert" style="display:none;">
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert"> 
                            <strong>{{ 'Error en el servidor'|trans }}!</strong> <span id="active-error">{{ 'Ha ocurrido un error en el servidor. Contacte al administrador del sistema.'|trans }}.</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th>{{ 'Nombre'|trans }}</th>
                            <th>{{ 'Apellido'|trans }}</th>
                            <th>{{ 'Nivel'|trans }}</th>
                            <th>{{ 'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody id="usuarios" name="usuarios">
                        
                    </tbody>
                </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/participantes.js') }}"></script>
{% endblock %}