{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('fancybox/jquery.fancybox.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('jq/jquery-ui.css') }}">
    <style>
        .input-group-addon{padding:0px;}
        .input-group .form-control {
            z-index: 1;
        }
        .social-profile-pic img {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border: 0;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4) ;
            margin: 0 20px 0 10px;
        }
        .sty__title {
            padding: 2px 5px;
            box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.5);
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}

<input type="hidden" id="url_list" name="url_list" value="{{ path('_tutorial', { 'app_id': app.session.get('app_id') }) }}">
<input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxEditTutorial') }}">
<input type="hidden" id="url_update" name="url_updatet" value="{{ path('_ajaxRefreshTable') }}">
<input type="hidden" id="url_updateTutorial" name="url_updateTutorial" value="{{path( '_ajaxUpdateTutorial') }}">
<input type="hidden" id="url_deleteTutorial" name="url_deleteTutorial" value="{{path( '_ajaxDeleteTutorial') }}">
<input type="hidden" id="url_uploadFiles_tutorial" name="url_uploadFiles_tutorial" value="{{path( '_ajaxUploadFileTutorial') }}">




<br>
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{'Tutoriales'|trans}}</h3>
    </div>
   <div class="col text-right">
       <button type="button" id="nuevoTutorial" class="bttn__nr new" data-toggle="modal" data-target="#formModal"><span class="fa fa-plus"></span><span class="text__nr">{{'Nuevo registro' | trans}}</span></button>
   </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ 'Listado de tutoriales' |trans}}</h5>
            </div>
            <div class="card-block">
                <table class="table" id="tablaTutoriales">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">ID</th>
                            <th class="hd__title">{{'Nombre' |trans }}</th>
                            <th class="hd__title">PDF</th>
                            <th class="hd__title">Videos</th>
                            <th class="hd__title">{{'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody id="BodyTable">
                     
                    </tbody>
                </table>                 
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}

<div class="modal-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%); color: #fff;">
    <h5 class="modal-title" id="exampleModalLongTitle">{{'Datos del tutorial'|trans}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="color: #fff;">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input type="hidden" id="fileUpload" value="">
    <form id="form" name="form" action="{{ path('_ajaxUpdateTutorial') }}" method="POST">
        <input type="hidden" id="tutorial_id" name="tutorial_id" value="">
        <div class="form-group">
            <label for="recipient-name" class="form-control-label">{{ 'Nombre'|trans }}:</label>
            <input type="text" class="form-control form_sty_modal" id="nombre" name="nombre" value="">
            <span class="fa fa-cube"></span>
        </div>
        <div class="form-group">
            <label for="descripcion" class="form-control-label">{{ 'Descripción'|trans }}:</label>
            <input type="text" class="form-control form_sty_modal2" id="descripcion" name="descripcion" value="">
            <span class="fa fa-align-justify"></span>
        </div>
       <div class="form-group ">
            <label for="recipient-name" class="form-control-label">PDF:</label>
            <div class="input-group">
                <input type="text" class="form-control " name="pdf" id="pdf" value="" readonly="readonly" placeholder="{{ 'Seleccione el archivo'|trans }}" >
                    <a href="#" class="btn fileinput-button uploadFileHref" type="button" data-etiqueta="pdf" >
                        <span class="fa fa-photo"></span>
                        <input class="uploadFile"  type="file" name="files[]" multiple>
                    </a>
            </div>
        </div>
         
        
        <div class="form-group ">
            <label for="recipient-name" class="form-control-label">{{ 'Imagen'|trans }}:</label>
            <div class="input-group">
                <input type="text" class="form-control " name="imagen" id="imagen" value="" readonly="readonly" placeholder="{{ 'Seleccione el archivo'|trans }}">
                <a href="#" class="btn fileinput-button uploadFileHref" type="button" data-etiqueta="imagen">
                    <span class="fa fa-photo"></span>
                    <input class="uploadFile" type="file" name="files[]" multiple>
                </a>
            </div>
        </div>

       
        <div class="form-group ">
            <label for="recipient-name" class="form-control-label">Video:</label>
            <div class="input-group">
                <input type="text" class="form-control " name="video" id="video" value="" readonly="readonly" placeholder="{{ 'Seleccione el archivo'|trans }}">
                <a href="#" class="btn fileinput-button uploadFileHref" type="button" data-etiqueta="video" >
                    <span class="fa fa-photo"></span>
                    <input class="uploadFile" type="file" name="files[]" multiple>
                </a>
            </div>
        </div>


    </form>
    <div class="col-sm-16 col-md-16 col-lg-16 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>
    <div class="alert alert-success" role="alert" id="alert-success" style="display:none;"> 
        <strong>{{ 'Bien hecho'|trans }}!</strong> {{ 'El tutorial ha sido almacenada con éxito'|trans }}. 
    </div>
    <div class="card" id="detail" style="display:none;">
        <div class="card-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%);">
            <h4 class="card-title" style="color: #fff; text-transform: uppercase">{{ 'Datos Básicos'|trans }}</h4>
        </div>
        <div class="card-block">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-16 col-md-16 show__details">
                        <h5>{{ 'Nombre'|trans }}:</h5>
                        <p id="p-nombre">Lorem Ipsum</p>
                    </div>
                </div>
                <br>
                <div class="row justify-content-between">
                    <div class="col-sm-16 col-md-16 show__details">
                        <h5>Pdf:</h5>
                        <p id="p-pdf">https://Loremipsumdolorsitamet.domain/</p>
                    </div>
                </div>
                <br>
                <div class="row justify-content-between">
                    <div class="col-sm-16 col-md-16 show__details">
                        <h5>{{ 'Imagen'|trans }}:</h5>
                        <p id="p-imagen">https://Loremipsumdolorsitamet.domain/</p>
                    </div>
                </div>
                <br>
                <div class="row justify-content-between">
                    <div class="col-sm-16 col-md-16 show__details">
                        <h5>Video:</h5>
                        <p id="p-video">https://Loremipsumdolorsitamet.domain/</p>
                    </div>
                </div>
                <br>
               
            </div>
        </div>
        <div class="card-footer">
            <div class="col-sm-16 col-md-16 text-right" id="buttons">
                <button type="button" class="bttn__edit edit_footer" data-toggle="tooltip" data-placement="bottom" title="{{ 'Editar'|trans }}" id="detail-edit" data=""><span class="fa fa-pencil"></span></button>
                <button type="button" class="bttn__elim delete_fotter" data-toggle="tooltip" data-placement="bottom" title="{{ 'Eliminar'|trans }}" id="detail-delete" data=""><span class="fa fa-trash"></span></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    {#<script src="{{ asset('jq/jquery-validation-1.15.0/dist/localization/messages_es.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tutorial.js') }}"></script>
    <script type="text/javascript">

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            rules: {
                'nombre': {
                    required: true,
                    minlength: 3
                },
                'descripcion':{
                    required: true,
                    minlength: 3
                },
                'pdf': {
                  required: true,
                  extension: "pdf"
                },
                'video': {
                  required: true,
                  extension: "mov|mpeg|m4v|mp4|avi|mpg|wma|flv|webm"
                },
                'imagen': {
                  extension: "jpg|jpeg|bmp|svg|png|gif|tiff"
                }
            },
            messages: {
                'nombre': {
                    required: "- {{ 'El nombre del tutorial es requerido'|trans }}.",
                    minlength: "- {{ 'El nombre del tutorial debe ser mínimo de 3 caracteres'|trans }}."
                },
                'descripcion':{
                    required: "- {{ 'La descripción es requerida.'|trans }}",
                    minlength: "- {{ 'La descripción debe ser mínimo de 3 caracteres.'|trans }}",
                },
                 'pdf':{
                    required: "- {{ 'PDF requerido'|trans }}.",
                    extension: "- {{ 'Extensiones aceptadas para el campo PDF'|trans }}: pdf."
                },
                'video':{
                    required: "- {{ 'Video requerido'|trans }}.",
                    extension: "- {{ 'Extensiones aceptadas para vídeo'|trans }}: mov,mpeg,m4v,mp4,avi,mpg,wma,flv,webm."
                },
                'imagen':{
                    extension: "- {{ 'Extensiones aceptadas para imagen'|trans }}: jpg,jpeg,bmp,svg,png,gif,tiff."
                }
            }
        });

        function sweetAlertDeleteTutorial(id,preg_opt=0)
        {
            swal({
                title: "{{ '¿Desea eliminar el registro?'|trans }}",
                text: "{{ 'Si acepta no puede revertir el cambio'|trans }}",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#e04646',
                cancelButtonColor: '#97af21',
                confirmButtonText: "{{ 'Eliminar'|trans }}",
                confirmButtonClass: 'fa fa-trash',
                cancelButtonClass: 'fa fa-times',
                cancelButtonText: "{{ 'Cancelar'|trans }}",
                allowOutsideClick: false
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: preg_opt == 0 ? $('#url_deleteTutorial').val() : preg_opt,
                    async: true,
                    data: { id: id },
                    dataType: "json",
                    success: function(data) {
                        swal(
                            "{{ 'Eliminado'|trans }}!",
                            "{{ 'Su registro ha sido eliminado'|trans }}",
                            'success');

                           
                            table.ajax.reload(null,false);
                       

                    },
                    error: function(){
                        swal(
                            "{{ 'Mensaje del servidor'|trans }}!",
                            "{{ 'Ha ocurrido un error en la eliminación de este registro'|trans }}",
                            'error'
                        );
                    }
                });
            });
        }
        
    </script>
{% endblock %}