{% extends '::admin.html.twig' %}

{% block body %}

<br>
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>Tutoriales</h3>
    </div>
   <div class="col text-right">
       <button type="button" class="bttn__nr new" data-toggle="modal" data-target="#formModal"><span class="fa fa-plus"></span><span class="text__nr">{{'Nuevo Registro' | trans}}</span></button>
   </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ 'Listado de tutoriales' |trans}}</h5>
            </div>
            <div class="card-block">
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">{{'Nombre' |trans }}</th>
                            <th class="hd__title">{{'PDF'|trans }}</th>
                            <th class="hd__title">{{'Videos'|trans }}</th>
                            <th class="hd__title">{{'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for tutorial in tutoriales %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{eo}}">
                                <td>{{tutorial.nombre}}</td>
                                <td><a href="#">{{tutorial.pdf}}</a></td>
                                <td><a href="#">{{tutorial.video}}</a></td>
                                <td class="center">
                                    <a href="#" class="btn btn-link btn-sm edit" data-toggle="modal" data-target="#formModal" data="{{ tutorial.id }}"><span class="fa fa-pencil"></span></a>
                                    <a href="#" class="btn btn-link btn-sm {% if tutorial.delete_disabled == '' %}delete{% endif %} {{ tutorial.delete_disabled }}" data="{{tutorial.id}}"><span class="fa fa-trash"></span></a>
                                </td>
                            </tr>
                      {% endfor %}
                    </tbody>
                </table>                 
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    {#<script src="{{ asset('jq/jquery-validation-1.15.0/dist/localization/messages_es.js') }}"></script>#}
    <script type="text/javascript">

        $("#form").validate({
            rules: {
                'rol': {
                    required: true,
                    minlength: 3
                },
            },
            messages: {
                'rol': {
                    required: "{{ 'Este campo es requerido.'|trans }}",
                    minlength: "{{ 'Debe ser mínimo de 3 caracteres.'|trans }}"
                }
            }
        });

        
    </script>
{% endblock %}