<table class="table styleTab">
    <thead>
        <tr>
            <td colspan="8"><b>{{ 'Empresa'|trans }}:</b> {{ empresa }}</td>
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight: bold;">
            <th>{{ 'Código'|trans }}</th>
            <th>{{ 'Usuario'|trans }}</th>
            <th>{{ 'Nombre'|trans }}</th>
            <th>{{ 'Correo'|trans }}</th>
            <th>{{ 'Nivel'|trans }}</th>
            <th>{{ 'Fecha de registro'|trans }}</th>
            <th>{{ 'Cantidad de conexiones'|trans}}</th>
            <th>{{ 'Promedio de conexiones'|trans }}</th>
           
        </tr>
        {% for participante in listado %}
             {% set eo = cycle(['odd', 'even'], loop.index) %}
            
            <tr class="{{ eo }}" >
                <td>{{ participante.codigo}}</td>
                <td>{{ participante.login }}</td>
                <td>{{ participante.nombre }} {{ participante.apellido }}</td>
                <td>{{ participante.correo_corporativo }}</td>
                <td>{{ participante.nivel }}</td>
                <td>{{ participante.fecha_registro }}</td>
                <td>{{ participante.visitas }}</td>
                <td>{{ participante.promedio }}</td>
            </tr>
       
        {% endfor %}
    </tbody>
</table>
<div class="card-footer">
    <div class="col-sm-16 col-md-16 text-right">
        <button id="excel" type="button" class="bttn__saved generable" data-toggle="tooltip" data-placement="bottom" title="{{ 'Generar'|trans }} Excel"><span class="fa fa-file-excel-o"></span></button>
        <a id="excel-link" class="descargable" href="#" target="_blank" style="display:none;"><button type="button" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Descargar'|trans }} Excel"><span class="fa fa-download"></span></button></a>
        <img id="excel-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
    </div>
</div>