{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css') }}" type="text/css">
{% endblock %}

{% block body %}
{% set encabezado = 'Conexiones por participante'|trans %}

<form id="form" name="form" action="{{ path ('_ajaxConexionesUsuario') }}" method="POST">
    {{ include('LinkBackendBundle:Reportes:filtro.html.twig', { 'encabezado': encabezado, 'usuario': usuario, 'empresas': empresas, 'filtro_programas': 0 ,'filtro_tema': 0, 'filtro_username': 0 ,'filtro_fecha': 1 }) }}
</form>

{# Sección de resultados del reporte #}
<input type="hidden" id="url_img" name="url_img" value="{{ path ('_ajaxSaveImgHorasConexion') }}">
<input type="hidden" id="url_pdf" name="url_pdf" value="{{ path('_pdfHorasConexion') }}">
<input type="hidden" id="desdef" name="desdef" value="">
<input type="hidden" id="hastaf" name="hastaf" value="">
<input type="hidden" id="graph" name="graph" value="">
<div class="row" id="reporte" style="display:none;">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ encabezado }}. <span id="label_filtro" style="display:none;">{{ 'Desde'|trans }}: <span id="label_desde"></span> / {{ 'Hasta'|trans }}: <span id="label_hasta"></span>.</span></h5>
            </div>
            <div class="card-block">
                <div id="resultado" style="">
                                    
                    
                </div>

                <div class="card-footer" style="display:none;" id="excel_contenedor">
                    <div class="col-sm-16 col-md-16 text-right">
                        <button id="excel" type="button" class="bttn__saved generable" data-toggle="tooltip" data-placement="bottom" title="{{ 'Generar'|trans }} Excel"><span class="fa fa-file-excel-o"></span></button>
                        <a id="excel-link" class="descargable" href="#" target="_blank" style="display:none;"><button type="button" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Descargar'|trans }} Excel"><span class="fa fa-download"></span></button></a>
                        <img id="excel-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
                    </div>
                </div>
                <div class="row justify-content-center" id="grafico" style="display:none;">
                    <div class="col-16 col-lg-16 col-xl-16 col-md-16 col-sm-16">
                        <div class="card">
                            <div class="card-header gradiente">
                                <h6 class="card-title">{{ 'Gráfica'|trans }}</h6>
                            </div>
                            <div class="card-block">
                                <div class="canvasCont">
                                    <canvas class="barChart" id="myChart"></canvas>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col-sm-16 col-md-16 text-right">
                                    <button id="pdf" type="button" class="bttn__saved generable" data-toggle="tooltip" data-placement="bottom" title="{{ 'Generar'|trans }} PDF"><span class="fa fa-file-pdf-o"></span></button>
                                    <a id="pdf-link" class="descargable" href="#" target="_blank" style="display:none;"><button type="button" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Descargar'|trans }} PDF"><span class="fa fa-download"></span></button></a>
                                    <img id="pdf-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load1 load-wrapper">
                    <div class="loader">
                        Loading...
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}+
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/utils.js') }}"></script>
    {{ include('LinkBackendBundle:Reportes:validacionFiltro.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/admin/reportes/conexionesUsuario.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/reportes/filtro.js') }}"></script>    
{% endblock %}