<br><br>
<input type="hidden" id="error-msg" name="error-msg" value="{{ 'Ha ocurrido un error en el procesamiento de la consulta. Contacte al administrador del sistema.'|trans }}">
<input type="hidden" id="error-msg-paginas" name="error-msg-paginas" value="{{ 'Ha ocurrido un error obteniendo los programas. Contacte al administrador del sistema.'|trans }}">
<input type="hidden" id="filtro_programas" name="filtro_programas" value="{{ filtro_programas }}">
<input type="hidden" id="filtro_tema" name="filtro_tema" value="{{ filtro_tema }}">
<input type="hidden" id="url_programas" name="url_programas" value="{{ path ('_ajaxFiltroProgramas') }}">
<input type="hidden" id="url_temas" name="url_temas" value="{{ path ('_ajaxFiltroTemas') }}">
<div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
    <ul></ul>
</div>
<div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-server" style="display:none;">
</div>
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 offset-sm-5 offset-md-5 offset-lg-5 page-title">
        <h3>{{ encabezado }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-sm-4 offset-md-4 offset-lg-4">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ 'Filtro'|trans }}</h5>
            </div>
            <div class="card-block">
                {% if not usuario.empresa %}
                    <div class="row">
                        <div class="col-sm-16 col-md-16 col-lg-16">
                            <label for="empresa_id" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Empresa'|trans }}</label>
                            <div class="col-sm-16 col-md-16 col-lg-16">
                                <select class="form_sty_sel form-control" style="border-radius: 5px" id="empresa_id" name="empresa_id">
                                    <option value=""></option>
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-industry"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                {% else %}
                    <input type="hidden" id="empresa_id" name="empresa_id" value="{{ usuario.empresa.id }}">
                {% endif %}
                {% if filtro_programas %}
                    <div class="row">
                        <div class="col-sm-16 col-md-16 col-lg-16">
                            <label for="empresa_id" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Programa'|trans }}</label>
                            <div class="col-sm-16 col-md-16 col-lg-16">
                                <select class="form_sty_sel form-control" style="border-radius: 5px" id="pagina_id" name="pagina_id">
                                    <option value=""></option>
                                </select>
                                <span class="fa fa-file-text-o"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                                <img id="pagina-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <br>
                {% endif %}
                {% if filtro_tema %}
                    <div class="row">
                        <div class="col-sm-16 col-md-16 col-lg-16">
                            <label for="empresa_id" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Tema'|trans }}</label>
                            <div class="col-sm-16 col-md-16 col-lg-16">
                                <select class="form_sty_sel form-control" style="border-radius: 5px" id="tema_id" name="tema_id">
                                    <option value=""></option>
                                </select>
                                <span class="fa fa-file-text-o"></span>
                                <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                                <img id="tema-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <br>
                {% endif %}
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <label for="desde" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Desde'|trans }}</label>
                        <div class="col-sm-14 col-md-14 col-lg-14">
                            <input type="text" class="form-control form_sty1 datePicker" id="desde" name="desde" placeholder="DD/MM/YYYY" data-date-end-date="0d">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <label for="hasta" class="col-sm-10 col-md-10 col-lg-10 col-form-label">{{ 'Hasta'|trans }}</label>
                        <div class="col-sm-14 col-md-14 col-lg-14">
                            <input type="text" class="form-control form_sty1 datePicker" id="hasta" name="hasta" placeholder="DD/MM/YYYY" data-date-end-date="0d">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-sm-16 col-md-16 text-right">
                    <button type="button" id="search" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Consultar'|trans }}"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>