{% extends '::pdf.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header gradiente">
            <h5 class="card-title">{{ 'Horas de conexión de la empresa'|trans }} {{ empresa.nombre }}. {{ 'Desde'|trans }}: {{ desde }} / {{ 'Hasta'|trans }}: {{ hasta }}.</h5>
        </div>
        <div class="card-block">
            <table class="table styleTab" align="center">
                <thead>
                    <tr>
                        {% for i in 0..25 %}
                            {% if loop.last %}
                                <th class="totalEnd">{{ conexiones[0][i] }}</th>
                            {% else %}
                                <th class="{% if i in columnas_mayor %} hourMaxCon{% endif %}">{{ conexiones[0][i] }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for f in 1..8 %}
                        {% if loop.last %}
                            {% set eo = 'totalEnd' %}
                        {% else %}
                            {% if f in filas_mayor %}
                                {% set eo = 'dayMaxCon' %}
                            {% else %}
                                {% set eo = cycle(['odd', 'even'], loop.index) %}
                            {% endif %}
                        {% endif %}
                        <tr class="{{ eo }}">
                            {% for c in 0..25 %}
                                {% set class_mayor = (c in columnas_mayor) ? 'hourMaxCon' : '' %}
                                {% if loop.last %}
                                    <td class="totalEnd {{ class_mayor }}">{{ conexiones[f][c] }}</td>
                                {% else %}
                                    <td class="{{ class_mayor }}">{{ conexiones[f][c] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}