<table class="table styleTab">
    <thead>
        <tr>
            <td colspan="2"><b>{{ 'Empresa'|trans }}:</b> {{ empresa }}</td>
            <td colspan="1"><b>{{ 'Programa'|trans }}:</b> {{ programa }}</td>
            <td colspan="1"><b>{{ 'Tema'|trans }}:</b> {{ tema }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ 'Usuario'|trans }}</th>
            <th>{{ 'Nombre'|trans }}</th>
            <th>{{ 'Fecha mensaje'|trans }}</th>
            <th>{{ 'Mensaje'|trans }}</th>
        </tr>
        {% for participante in listado %}
            {% set eo = cycle(['odd', 'even'], loop.index) %}
            {% set limit_iterations = participante.foro|length - 1 %}
            <tr class="{{ eo }}">
                <td rowspan="{{ participante.foro|length }}">{{ participante.login }}</td>
                <td rowspan="{{ participante.foro|length }}">{{ participante.nombre }} {{ participante.apellido }}</td>
                <td>{{ participante.foro[0].fecha_mensaje }}</td>
                <td>{{ participante.foro[0].mensaje }}</td>
            </tr>
            {% if limit_iterations > 0 %}
                {% for i in 1..limit_iterations %}
                    <tr class="{{ eo }}">
                        <td>{{ participante.foro[i].fecha_mensaje }}</td>
                        <td>{{ participante.foro[i].mensaje }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="9">{{ 'No existen registros para esta consulta'|trans }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="card-footer">
    <div class="col-sm-16 col-md-16 text-right">
        <button id="excel" type="button" class="bttn__saved generable" data-toggle="tooltip" data-placement="bottom" title="{{ 'Generar'|trans }} Excel"><span class="fa fa-file-excel-o"></span></button>
        <a id="excel-link" class="descargable" href="#" target="_blank" style="display:none;"><button type="button" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Descargar'|trans }} Excel"><span class="fa fa-download"></span></button></a>
        <img id="excel-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
    </div>
</div>