{% extends '::pdf.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .table {
            width: 300px;
            max-width: 300px;
            margin-bottom: 50px;
        }
        .styleTab {
            font-size: 12px;
        }
        .table th, .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #eceeef;
            border-top-color: rgb(236, 238, 239);
        }
        .card {
            border-radius: 8px;
            margin: 80px auto 15px auto;
            background: #ffffff;
            position: relative;
            border: 0px solid rgba(0, 0, 0, 0.125);
            width: 600px;
        }
        .card .card-header {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .gradiente {
            background-color: #bce100 !important;
            text-align: center;
        }
        .card-header {
            padding: 7px 12px;
            margin-bottom: 0;
            background-color: #bce100;
        }
        .card .card-header .card-title {
            font-size: 18px;
            margin: 0;
            line-height: 30px;
            font-weight: 400;
            color: #000;
            vertical-align: middle;
        }
        .card-block {
            padding: 5px;
        }
        .main {
            width: 600px;
            max-width: 600px;
            margin-bottom: 50px;
        }
        .main-td {
            width: 300px;
            max-width: 300px;
        }
        .estado {
            background: #d9edf7 !important;
            font-weight: bold;
        }
        th.bg-warning {
            background: #ed7d31 !important;
        }
        td.bg-warning {
            background: #f8cbad !important;
        }
        th.bg-info {
            background: #0070c0 !important;
        }
        td.bg-info {
            background: #bdd7ee !important;
        }
        h6 {
            font-weight: bold !important;
            color: #007bcd;
            font-size: 14px;
        }
        .rojo {
            background: #ff0000 !important;
        }
        .amarillo {
            background: #ffff00 !important;
        }
        .verde_claro {
            background: #92d050 !important;
        }
        .verde {
            background: #00b050 !important;
        }
        .total {
            background: #dff0d8 !important;
        }
        .leyenda {
            margin-top: -35px;
        }
        .text-black {
            color: #000;
        }.
        .text-white {
            color: #fff !important;
        }
        .small {
            font-size: 80%;
            font-weight: normal;
        }
        img {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header gradiente">
            <h5 class="card-title">{{ 'Resumen general de registros'|trans }}. {{ 'Empresa'|trans }}: {{ empresa }}. <BR> {{'Huso horario'|trans}}: {{ timeZone }} </h5>
        </div>
        <div class="card-block">
            <table class="main">
                <tbody>
                    <tr>
                        <td class="main-td">
                            <h6>{{ 'Estatus de los participantes de la empresa'|trans }} {{ empresa }}</h6>
                            <table class="table styleTab">
                                <thead>
                                    <tr>
                                        <th rowspan="2" align="left" class="estado">{{ 'Estado'|trans }}</th>
                                        <th class="bg-warning text-white" colspan="2">{{ week_before }}</th>
                                        <th class="bg-info text-white" colspan="2">{{ now }}</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-white" align="center">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-warning text-white" align="center">%</th>
                                        <th class="bg-info text-white" align="center">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-info text-white" align="center">(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Inactivos'|trans }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.desde_inactivos }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.desde_inactivos_pct }}</td>
                                        <td class="bg-info" align="center">{{ reporte.hasta_inactivos }}</td>
                                        <td class="bg-info" align="center">{{ reporte.hasta_inactivos_pct }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Activos'|trans }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.desde_activos }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.desde_activos_pct }}</td>
                                        <td class="bg-info" align="center">{{ reporte.hasta_activos }}</td>
                                        <td class="bg-info" align="center">{{ reporte.hasta_activos_pct }}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left;" class="total">Total</th>
                                        <td class="bg-warning" align="center">{{ reporte.desde_total }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.desde_total_pct }}</td>
                                        <td class="bg-info" align="center">{{ reporte.hasta_total }}</td>
                                        <td class="bg-info" align="center">{{ reporte.hasta_total_pct }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="leyenda">
                                <span class="small"><b>{{ 'Activos' }}:</b> {{ 'Participantes que se han logueado al menos una vez en la plataforma'|trans }}.</span><br>
                                <span class="small"><b>{{ 'Inactivos' }}:</b> {{ 'Participantes que aunque tienen usuario y clave nunca se han logueado en la plataforma'|trans }}.</span>
                            </div>
                        </td>
                        <td class="main-td">
                            <br>
                            <img src="{{ src.src1 }}" alt="Formación Smart">
                        </td>
                    </tr>
                    <tr>
                        <td class="main-td">
                            <h6>{{ 'Resumen de registros de participantes del'|trans }} {{ programa }}</h6>
                            <table class="table styleTab">
                                <thead>
                                    <tr>
                                        <th rowspan="2" align="left" class="estado">{{ 'Estado'|trans }}</th>
                                        <th class="bg-warning text-white" colspan="2">{{ week_before }}</th>
                                        <th class="bg-info text-white" colspan="2">{{ now }}</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-white" align="center">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-warning text-white" align="center">%</th>
                                        <th class="bg-info text-white" align="center">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-info text-white" align="center">(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Inactivos'|trans }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.week_before_inactivos }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.week_before_inactivos_pct }}</td>
                                        <td class="bg-info" align="center">{{ reporte.now_inactivos }}</td>
                                        <td class="bg-info" align="center">{{ reporte.now_inactivos_pct }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Activos'|trans }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.week_before_activos }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.week_before_activos_pct }}</td>
                                        <td class="bg-info" align="center">{{ reporte.now_activos }}</td>
                                        <td class="bg-info" align="center">{{ reporte.now_activos_pct }}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left;" class="total">Total</th>
                                        <td class="bg-warning" align="center">{{ reporte.week_before_total1 }}</td>
                                        <td class="bg-warning" align="center">{{ reporte.week_before_total1_pct }}</td>
                                        <td class="bg-info" align="center">{{ reporte.now_total1 }}</td>
                                        <td class="bg-info" align="center">{{ reporte.now_total1_pct }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="leyenda">
                                <span class="small"><b>{{ 'Activos' }}:</b> {{ 'Participantes registrados en el programa que se han logueado al menos una vez en la plataforma'|trans }}.</span><br>
                                <span class="small"><b>{{ 'Inactivos' }}:</b>{{ 'Participantes registrados en el programa que aunque tienen usuario y clave nunca se han logueado en la plataforma'|trans }}.</span>
                            </div>
                        </td>
                        <td class="main-td">
                            <br>
                            <img src="{{ src.src2 }}" alt="Formación Smart">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}