{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jq/datetimepicker/bootstrap-datetimepicker.min.css') }}" type="text/css">
    <style type="text/css">
        .table td, .table th {
            vertical-align: middle !important;
            text-align: center;
            border-top: 1px solid #000000 !important;
        }
        .estado {
            background-color: #d9edf7 !important;
            font-weight: bold;
        }
        th.bg-warning {
            background-color: #ed7d31 !important;
        }
        td.bg-warning {
            background-color: #f8cbad !important;
        }
        th.bg-info {
            background-color: #0070c0 !important;
        }
        td.bg-info {
            background-color: #bdd7ee !important;
        }
        h6 {
            font-weight: bold !important;
        }
        .rojo {
            background-color: #ff0000 !important;
        }
        .amarillo {
            background-color: #ffff00 !important;
        }
        .verde_claro {
            background-color: #92d050 !important;
        }
        .verde {
            background-color: #00b050 !important;
            color: #000 !important;
        }
        .total {
            background-color: #dff0d8 !important;
        }
        .leyenda {
            margin-top: -15px;
        }
        .text-black {
            color: #000;
        }
    </style>
{% endblock %}

{% block body %}
{% set encabezado = usuario.empresa ? 'Resumen general de registros'|trans : 'Resumen general de registros por empresa'|trans %}

<form id="form" name="form" action="{{ path ('_ajaxResumenRegistros') }}" method="POST">
    {{ include('LinkBackendBundle:Reportes:filtro.html.twig', { 'encabezado': encabezado, 'usuario': usuario, 'empresas': empresas, 'filtro_programas': 1 ,'filtro_tema': 0 , 'filtro_fecha': 1 ,'resumen_registro': 1, 'filtro_username': 0 }) }}
</form>

{# Sección de resultados del reporte #}
<input type="hidden" id="url_img" name="url_img" value="{{ path ('_ajaxSaveImgResumenRegistros') }}">
<input type="hidden" id="url_pdf" name="url_pdf" value="{{ path('_pdfResumenRegistros') }}">
<input type="hidden" id="week_beforef" name="week_beforef" value="">
<input type="hidden" id="nowf" name="nowf" value="">
<div class="row" id="reporte" style="display:none;">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ encabezado }}. <span id="label_filtro" style="display:none;">{{ 'Comparativo hasta el'|trans }} <span id="label_desde"></span> {{ 'y el' }}  <span id="label_hasta"></span>. {{'Huso horario'|trans}}: <span id="label_horario"></span>.</span></h5>
            </div>
            <div class="card-block">
                <div id="resultado" style="display:none;">
                    <div class="row justify-content-center reporte" style="display:none;">
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <h6>{{ 'Estatus de los participantes de la empresa'|trans }} <span id="label_empresa"></span></h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th rowspan="2" align="left" class="estado">{{ 'Estado'|trans }}</th>
                                        <th class="week_before bg-warning text-white" colspan="2">&nbsp;</th>
                                        <th class="now bg-info text-white" colspan="2">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-white">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-warning text-white">%</th>
                                        <th class="bg-info text-white">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-info text-white">(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Inactivos'|trans }}</td>
                                        <td class="bg-warning" id="desde_inactivos">0</td>
                                        <td id="desde_inactivos_pct" class="bg-warning">0</td>
                                        <td class="bg-info" id="hasta_inactivos">0</td>
                                        <td id="hasta_inactivos_pct" class="bg-info">0</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Activos'|trans }}</td>
                                        <td class="bg-warning" id="desde_activos">0</td>
                                        <td id="desde_activos_pct" class="bg-warning">0</td>
                                        <td class="bg-info" id="hasta_activos">0</td>
                                        <td id="hasta_activos_pct" class="bg-info">0</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left;" class="total">Total</th>
                                        <td class="bg-warning" id="desde_total">0</td>
                                        <td id="desde_total_pct" class="bg-warning">0</td>
                                        <td class="bg-info" id="hasta_total">0</td>
                                        <td id="hasta_total_pct" class="bg-info">0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="leyenda">
                                <small><b>{{ 'Activos' }}:</b> {{ 'Participantes que se han logueado al menos una vez en la plataforma'|trans }}.</small><br>
                                <small><b>{{ 'Inactivos' }}:</b> {{ 'Participantes que aunque tienen usuario y clave nunca se han logueado en la plataforma'|trans }}.</small>
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <div class="canvasCont" id="canvasCont1">
                                <canvas class="barChart" id="chart1"></canvas>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row justify-content-center reporte" style="display:none;">
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <h6>{{ 'Resumen de registros de participantes del'|trans }} <span class="label_programa"></span>. {{ 'Fecha inicio'|trans }}: <span class="label_inicio"></span></h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th rowspan="2" align="left" class="estado">{{ 'Estado'|trans }}</th>
                                        <th class="week_before bg-warning text-white" colspan="2">&nbsp;</th>
                                        <th class="now bg-info text-white" colspan="2">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-white">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-warning text-white">%</th>
                                        <th class="bg-info text-white">{{ 'Cantidad'|trans }}</th>
                                        <th class="bg-info text-white">(%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Inactivos'|trans }}</td>
                                        <td class="bg-warning week_before_inactivos">0</td>
                                        <td id="week_before_inactivos_pct" class="bg-warning">0</td>
                                        <td class="bg-info now_inactivos">0</td>
                                        <td id="now_inactivos_pct" class="bg-info">0</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Activos'|trans }}</td>
                                        <td class="bg-warning week_before_activos">0</td>
                                        <td id="week_before_activos_pct" class="bg-warning">0</td>
                                        <td class="bg-info now_activos">0</td>
                                        <td id="now_activos_pct" class="bg-info">0</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left;" class="total">Total</th>
                                        <td class="bg-warning week_before_total1">0</td>
                                        <td id="week_before_total1_pct" class="bg-warning">0</td>
                                        <td class="bg-info now_total1">0</td>
                                        <td id="now_total1_pct" class="bg-info">0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="leyenda">
                                <small><b>{{ 'Activos' }}:</b> {{ 'Participantes registrados en el programa que se han logueado al menos una vez en la plataforma'|trans }}.</small><br>
                                <small><b>{{ 'Inactivos' }}:</b> {{ 'Participantes registrados en el programa que aunque tienen usuario y clave nunca se han logueado en la plataforma'|trans }}.</small>
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <div class="canvasCont" id="canvasCont2">
                                <canvas class="barChart" id="chart2"></canvas>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row justify-content-center reporte" style="display:none;">
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <h6>{{ 'Resumen de registros de participantes en el'|trans }} <span class="label_programa"></span></h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align:left;">{{ 'Estado'|trans }}</th>
                                        <th class="week_before bg-warning text-white">&nbsp;</th>
                                        <th class="now bg-info text-white">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">{{ 'No iniciados'|trans }}</td>
                                        <td class="bg-warning week_before_no_iniciados">0</td>
                                        <td class="bg-info now_no_iniciados">0</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">{{ 'En curso'|trans }}</td>
                                        <td class="bg-warning week_before_en_curso">0</td>
                                        <td class="bg-info now_en_curso">0</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">{{ 'Aprobados'|trans }}</td>
                                        <td class="bg-warning week_before_aprobados">0</td>
                                        <td class="bg-info now_aprobados">0</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left;" class="total">Total {{ 'Activos'|trans }}</th>
                                        <td id="week_before_total2" class="bg-warning">0</td>
                                        <td id="now_total2" class="bg-info">0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="leyenda">
                                <small><b>{{ 'No iniciados' }}:</b> {{ 'Participantes que si bien están activos en la plataforma, no han ingresado al contenido del programa o curso'|trans }}.</small><br>
                                <small><b>{{ 'En curso' }}:</b> {{ 'Participantes que han ingresado al programa o curso asignado'|trans }}.</small><br>
                                <small><b>{{ 'Aprobados' }}:</b> {{ 'Participantes que han aprobado el último módulo del programa o curso'|trans }}.</small>
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <div class="canvasCont" id="canvasCont3">
                                <canvas class="barChart" id="chart3"></canvas>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row justify-content-center reporte" style="display:none;">
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align:left;" class="estado">{{ 'Estado'|trans }}</th>
                                        <th class="week_before estado">&nbsp;</th>
                                        <th class="now estado">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="rojo text-white" style="text-align:left;">{{ 'Inactivos'|trans }}</td>
                                        <td class="rojo text-white week_before_inactivos">0</td>
                                        <td class="rojo text-white now_inactivos">0</td>
                                    </tr>
                                    <tr>
                                        <td class="amarillo text-black" style="text-align:left;">{{ 'No iniciados'|trans }}</td>
                                        <td class="amarillo text-black week_before_no_iniciados">0</td>
                                        <td class="amarillo text-black now_no_iniciados">0</td>
                                    </tr>
                                    <tr>
                                        <td class="verde_claro text-black" style="text-align:left;">{{ 'En curso'|trans }}</td>
                                        <td class="verde_claro text-black week_before_en_curso">0</td>
                                        <td class="verde_claro text-black now_en_curso">0</td>
                                    </tr>
                                    <tr>
                                        <td class="verde text-black" style="text-align:left;">{{ 'Aprobados'|trans }}</td>
                                        <td class="verde text-black week_before_aprobados">0</td>
                                        <td class="verde text-black now_aprobados">0</td>
                                    </tr>
                                    <tr class="total">
                                        <th style="text-align:left;">Total</th>
                                        <th id="week_before_total3">0</th>
                                        <th id="now_total3">0</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-8 col-md-8 col-sm-8">
                            <div class="canvasCont" id="canvasCont4">
                                <canvas class="barChart" id="chart4"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-sm-16 col-md-16 text-right">
                            <button id="pdf" type="button" class="bttn__saved generable" data-toggle="tooltip" data-placement="bottom" title="{{ 'Generar'|trans }} PDF"><span class="fa fa-file-pdf-o"></span></button>
                            <a id="pdf-link" class="descargable" href="#" target="_blank" style="display:none;"><button type="button" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Descargar'|trans }} PDF"><span class="fa fa-download"></span></button></a>
                            <img id="pdf-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
                        </div>
                    </div>
                </div>
                <div class="load1 load-wrapper">
                    <div class="loader">
                        Loading...
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/Chart.PieceLabel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/datetimepicker/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/datetimepicker/bootstrap-datetimepicker.es.js') }}"></script>
    {{ include('LinkBackendBundle:Reportes:validacionFiltro.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/admin/reportes/filtro.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/reportes/resumenRegistros.js') }}"></script>
{% endblock %}