{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/js/plugins/introjs/introjs.css') }}">
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}

{% block body %}
{% set uri = app.request.getbasepath %}
<input type="hidden" id="porcentaje_avance" name="porcentaje_avance" value="{{ porcentaje_avance }}">
<input type="hidden" id="paso_actual_intro" name="paso_actual_intro" value="{{ paso_actual_intro }}" data-pasoCorrecto="2">
<input type="hidden" id="cancelar_intro" name="cancelar_intro" value="{{ cancelar_intro }}">
<input type="hidden" id="url_cambiar_estado" name="url_cambiar_estado" value="{{ path('_ajaxCambiarEstado') }}">
<div id="message" class="for-message well-message-prog text-center container py-6 px-6 mb-1">
    <i id="arrowDown" class="material-icons mr-2" >keyboard_arrow_down</i>
    <div id="tuto-step1">
        <h4>{{'Bienvenido'|trans}} {{ categoria.bienvenida|trans~' '~categoria.nombre|trans~' ' }}  </h4>
        <h1 class="mb-5">{{ pagina.nombre}}</h1>
    </div>
    {{ pagina.contenido|raw }}
    <!-- MAPA DE PROGRESO -->
    <div id="tuto-step2">
        <h4 class="color-light-black my-3 mt-5">{{'Tu progreso en'|trans}} {{ categoria.pronombre|trans~' '~categoria.nombre|trans}}</h4>
        <!--?xml version="1.0" encoding="UTF-8"?-->
        <div class="d-block d-sm-none small-advance-check">
            <p class="text-center percentage-number-advance my-4">
                {{ porcentaje_avance }}%
            </p>
            <div class="progress mt-4 mb-3 mt-md-2">
                <div class="progress-bar" role="progressbar" style="width: {{ porcentaje_avance }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <svg class="d-none d-sm-block" width="100%" height="300px" viewBox="0 0 1051 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="">
            <defs>
                <path id="path-1" d="M133.96582,40L825.760742,40L1019.46338,201.353516L0,201.353516Z" class="mjAkFdae_0"></path>
                <filter x="-4.2%" y="-13.3%" width="107.9%" height="153.3%" filterUnits="objectBoundingBox" id="filter-2">
                    <feOffset dx="-2" dy="24" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="9.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0.665   0 0 0 0 0.686   0 0 0 0 0.7  0 0 0 0.55247962 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Prototype" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Programa---bienvenida" transform="translate(-261.000000, -608.000000)">
                    <g id="map" transform="translate(279.000000, 608.000000)">
                        <g id="base">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#F7FAFC" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>

                <path id="grey" stroke="#DAE1E6" stroke-width="4" stroke-linejoin="round" d="M191.69043,70.7143555L244.182129,70.7143555L207,146.380371L367.880859,146.380371L376.774414,71.2866211L509.732422,70.7143555L527.570312,146.380371L794.882813,146.380371L730.555176,70L794.882812,70.7143555" class="mjAkFdae_1"></path>
                <path id="green" stroke="#CFE65C" stroke-width="4" stroke-linejoin="round" d="M191.69043,70.7143555L244.182129,70.7143555L207,146.380371L367.880859,146.380371L376.774414,71.2866211L509.732422,70.7143555L527.570312,146.380371L794.882813,146.380371L730.555176,70L794.882812,70.7143555" class="progress-bar" style="stroke-dashoffset: 1017;"></path>

                <path d="M794.5,77.2518536 C812.449254,77.0296453 827,73.3937078 827,69.1307599 C827,64.8678119 812.449254,61.2318744 794.5,61.0096661 C776.550746,60.7874578 762,64.4233953 762,69.1307599 C762,73.8381244 776.550746,77.4740619 794.5,77.2518536 Z" id="goal" fill="#DAE1E6" class="mjAkFdae_3" ></path>
                <path d="M179.5,75.7044826 C190.269553,75.5974962 199,73.4362247 199,70.8784559 C199,68.3206872 190.269553,66.1604837 179.5,66.054815 C168.730447,65.9505916 160,68.1118632 160,70.8808417 C160,73.6498202 168.730447,75.8100236 179.5,75.7044826 Z" id="start" fill="#CFE65C" transform="translate(179.500000, 70.879695) rotate(-1.000000) translate(-179.500000, -70.879695) " class="mjAkFdae_4"></path>

                        <g id="percent" transform="translate(-50,-75)" >
                            <path d="M60.7231801,50.4 L77,50.4 C85.836556,50.4 93,43.236556 93,34.4 L93,34.4 L93,16 C93,7.163444 85.836556,-9.47168734e-15 77,0 L16,0 L16,0 C7.163444,1.623249e-15 -1.082166e-15,7.163444 0,16 L0,16 L0,34.4 C1.082166e-15,43.236556 7.163444,50.4 16,50.4 L16,50.4 L35.4837165,50.4 L48.1034483,64 L60.7231801,50.4 Z" id="Combined-Shape" fill="#80CCFF" class="mjAkFdae_5"></path>
                            <text id="num" x="15" y="34" font-family="Roboto-Medium, Roboto" font-size="28" font-weight="400" letter-spacing="-0.0641666874" fill="#3D93CC"> 0% </text>
                            <animateMotion
                                 xlink:href="#percent"
                                 dur="4s"
                                 repeatCount="1"
                                 fill="freeze"
                                 calcMode="linear">
                                <mpath xlink:href="#green"/>
                            </animateMotion>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <!-- FIN MAPA DE PROGRESO -->
</div>

        {% if modulos == 1 %}
        <!-- MODULOS -->
        <h4 class="mt-6 pt-4 mb-0 pb-1 title-grey sub-line container ">{{ categoria.tarjetas|trans }}</h4>

        <!--CONTENDOR DE LAS CARDS  -->
        <div class="container d-flex flex-column justify-content-center align-items-center" id="tuto-step3">

                <!-- CARDS MODULOS HZR -->
                {{ lis_mods|raw }}

        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/js/plugins/introjs/intro.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/tuto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/resizeElements.js') }}"></script>
    <script>

        $(document).ready(function(){
            $('#proG').addClass("active");
            const allImages = document.querySelectorAll('#message img');
            const introSteps = [
                {
                    element: document.getElementById('tuto-step1'),
                    intro: 'Esta es la pantalla de bienvenida del programa/curso.'
                },
                {
                    element: document.getElementById('tuto-step2'),
                    intro: 'Aquí podrás ver tu progreso en el curso.'
                },
                {
                    element: document.getElementById('tuto-step3'),
                    intro: 'Para ingresar al programa haz clic en el botón iniciar.'
                }
            ]



            startIntro(introSteps);
            resizeImages(allImages);
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/front/programa_inicio.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/mapa.js') }}"></script>
{% endblock %}