{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
{% set uri = app.request.getbasepath %}

        <div id="message" class="for-message well-message-prog text-center container py-6 px-6 mb-1">
            <i id="arrowDown" class="material-icons mr-2" >keyboard_arrow_down</i>
            <h5>Bienvenido al programa de </h5>
            <h1 class="mb-5">{{ pagina.nombre }}</h1>
            {{ pagina.descripcion|raw }}
            
        <!-- MAPA DE AVANCE -->
            <div id="mapAvance" class=" avance-message container py-3 px-6 mb-0 ">
                <h4 class="mb-4 title-grey">Tu Avance</h4>
                <img  class="img-fluid" src="http://localhost/formacion2.0/docs/prototipos/front/assets/img/map_avance.png" alt="">
            </div>

        </div>

        {% if modulos == 1 %}
        <!-- MODULOS -->
        <h4 class="mt-6 pt-4 mb-0 pb-1 title-grey sub-line container ">Módulos</h4>

        <!--CONTENDOR DE LAS CARDS  -->
        <div class="container d-flex flex-column justify-content-center align-items-center ">

                <!-- CARDS MODULOS HZR -->
                {{ lis_mods|raw }}
                
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/front/programa_inicio.js') }}"></script> 
{% endblock %}