{% extends '::'~layout %}

{% block logout %}
    <a href="" class="btn btn-link icon-header bttn1">{{ 'Salir'|trans }}</a>
{% endblock %}
{% block header %}
<nav class="navbar  justify-content-between py-0 fixed-top bg-white">
    <a class="navbar-brand" href="{{ path('_inicio') }}">
        {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion.png') : asset('front/assets/img/logo_formacion.png') %}
        <img class="img-fluid py-1" src="{{ img_logo }}" width= "200" alt="logo formación 2.0">
    </a>
    <div class="navbar-brand d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <div class="wrapperDdApps">
                <a href="#" id="apps">
                    <div class="appFun">
                        <i class="material-icons mr-3 color-light-grey">apps</i>
                    </div>
                </a>
                <span class="markApps"></span>
                <div class="dropDownApps">
                    <div class="row align-items-center justify-content-between px-0 py-0 mx-0 my-1">
                        <div class="col-4 px-0 py-0">
                            <a href="">
                                <div class="opcApps text-center">
                                    <img class="imgApps" src="{{asset('front/assets/img/tutorial.svg')}}" alt="">
                                    <p class="tituloApps">Tutoriales</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 px-0 py-0">
                            <a href="#">
                                <div class="opcApps text-center">
                                    <img class="imgApps" src="{{asset('front/assets/img/faq.svg')}}" alt="">
                                    <p class="tituloApps">FAQS</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 px-0 py-0">
                            <a href="" data-toggle="modal" data-target="#modalSv">
                                <div class="opcApps text-center">
                                    <img class="imgApps" src="{{asset('front/assets/img/soporteVirtual.svg')}}" alt="">
                                    <p class="tituloApps">Soporte Virtual</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center px-0 py-0 mx-0 mb-1">
                        <div class="col-4 px-0 py-0">
                            <a href="#">
                                <div class="opcApps text-center">
                                    <img class="imgApps" src="{{asset('front/assets/img/calendario.svg')}}" alt="">
                                    <p class="tituloApps">Calendario</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="wrapperDdNotify">
                <a href="#" id="notify">
                    <div class="notify">
                        <i class="material-icons mr-3 color-light-grey">notifications</i>
                        <div class="sonar"></div>
                    </div>
                </a>
                <span class="markNotify"></span>
                <ul class="dropDownNotify">
                    <a href="">
                        <li class="opcListNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify anunSticker"><i class="material-icons icNotify">volume_down</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="opcListNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify notiSticker"><i class="material-icons icNotify">library_books</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="opcListNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify mailSticker"><i class="material-icons icNotify">mail</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="opcListNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify ecSticker"><i class="material-icons icNotify">speaker_notes</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="opcListNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify muroSticker"><i class="material-icons icNotify">insert_comment</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="opcListNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify calenSticker"><i class="material-icons icNotify">event_note</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                    <a href="">
                        <li class="opcListNotify opcLastNotify">
                            <div class="anunNotify">
                                <span class="stickerNotify rcSticker"><i class="material-icons icNotify">question_answer</i></span>
                                <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class=" d-flex flex-column ">
            <div class="wrapperDdMenu">
                <a href="#" class="perfil no-decorate" id="config">
                    {% set img = app.session.get('usuario').foto is defined ? app.session.get('usuario').foto is not null and app.session.get('usuario').foto != '' ? uploads~app.session.get('usuario').foto : asset('front/assets/img/user.svg') : asset('front/assets/img/user.svg') %}
                    <img class="img-fluid mx-auto avatar-img" src="{{img}}" alt="usuario"><span class="material-icons color-light-grey icDown">expand_more</span>
                </a>
                <ul class="dropDownMenu">
                    <li class="mark"></li>
                    <a href="#">
                        <li class="opcList">
                            <span>Preferencias de usuario <i class="material-icons icMenu">style</i></span>
                        </li>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modalCs">
                        <li class="opcList markOpc">
                            <span>Cerrar sesión<i class="material-icons icMenu">exit_to_app</i></span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block sidemenu %}
<nav>
    <div id="mainSidenav" class="main-sidenav ">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i id="menuArrow" class="arrow mr-2"></i></a>
        <a class="d-flex mt-1 mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">home</i> Dashboard </a>
        <a class="d-flex mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">bookmark</i> Mis Programas </a>
        <a class="d-flex mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">dashboard</i> Programas </a>
        <a class="d-flex mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">book</i>  Biblioteca </a>
        <a class="d-flex mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">event</i>  Calendario </a>
        <a class="d-flex mb-3 text-nowrap" href=""> <i class="material-icons mr-2">library_books</i>  Noticias & <br> Novedades </a>
        <a class="d-flex mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">help</i>  Faqs</a>
        <a class="d-flex mb-3 text-nowrap" href="#"> <i class="material-icons mr-2">star</i>  Ranking</a>

    </div>
</nav>
{% endblock %}

{% block body %}

<div id="message" class="for-message well-message container py-6 px-6 mb-4">
    <i id="equis" class="material-icons mr-2" >close</i>
    <h1 class="mb-4">Bienvenido a Formación&nbsp;2.0 {{ empresa.nombre }}</h1>
    <p>{{ empresa.bienvenida| raw }}</p>
    <img class="img-fluid img-message d-none d-lg-block" src="{{ asset('front/assets/img/well_hero.png') }}" alt="hero">
</div>
<div id="" class="for-message es-message container py-5 px-6 mb-4 ">
    <h4 class="mb-4 title-grey">Actividades Recientes</h4>
    <p>Aquí podrás acceder a tus últimas actividades, y ver tu progreso en ellas.</p>
    <h5>¡Comencemos! Elige tu programa </h5>
</div>

<div class="for-message  container py-5 px-6 mb-4 ">
    <h4 class="mb-4 title-grey">Actividades Recientes</h4>

    <!-- CURSANDO -->
    <div class="container d-flex flex-column justify-content-center align-items-center ">
        <div class="card-hrz card-current">
            <img class="card-hrz-img " src="{{ asset('front/assets/img/liderazgo-hrz.png') }}" alt="">
            <div class="card-hrz-body">
                <h5 class="title-grey "> Liderazgo </h5>
                <span class="text-sm title-grey d-none d-lg-block"> Módulo </span>
                <span class="text-sm color-light-grey d-none d-lg-block"> 04. Liderazgo para la conducción de personas </span>
                <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-hrz-right float-right col-3 ml-4 d-flex flex-wrap align-items-center justify-content-center ">
                <div class="percent text-center mt-3">
                    <h2 class="color-light-grey mb-0 pb-0"> 20% </h2>
                    <span class="count mt-0 mb-2 text-xs d-none d-lg-block  color-light-grey ">Finaliza en 08 días</span>
                </div>
                <a href="#" class="btn btn-sm btn-continuar mt-0 px-3 mb-3" > Continuar </a>
            </div>
        </div>

        <div class="card-hrz card-current">
            <img class="card-hrz-img " src="{{ asset('front/assets/img/desarrollo_hrz.png') }}" alt="">
            <div class="card-hrz-body ">
                <h5 class="title-grey "> Desarrollo de otros </h5>
                <span class="text-sm title-grey d-none d-lg-block"> Módulo </span>
                <span class="text-sm color-light-grey d-none d-lg-block "> 04. Liderazgo para la conducción de personas </span>
                <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-hrz-right float-right col-3 ml-4 d-flex flex-wrap align-items-center justify-content-center ">
                <div class="percent text-center mt-3">
                    <h2 class="color-light-grey mb-0 mt-0 pb-0"> 80% </h2>
                </div>
                <span class="count mt-0 mb-2 text-xs d-none d-lg-block  color-light-grey ">Finaliza en 08 días</span>
                <a href="#" class="btn btn-sm btn-continuar mt-0 px-3 mb-3" > Continuar </a>
            </div>
        </div>
    </div>
</div>

<!-- FILTERS -->
<div class="container">
    <h4 class="mt-6 pt-4 mb-0 pb-1 title-grey sub-line "> Grupos </h4>
    <div class="filter-group d-flex justify-content-around mb-3">
        <a class=" color-light-grey mt-3" href=""> Grupo a </a>
        <a class="active-line color-light-grey mt-3" href=""> Grupo b </a>
        <a class="color-light-grey mt-3" href=""> Grupo c </a>
    </div>
</div>
<!-- CARD SECTION -->

<div class="cards-section container d-flex justify-content-between justify-content-sm-center flex-wrap">
    <div class="card" >
            <img class="card-img-top" src="{{ asset('front/assets/img/liderazgo.png') }}" alt="Card image cap">
            <div class="card-img-overlay">
                <span class="count text-xs ">Finaliza en 08 días</span>
            </div>
            <div class="card-body">
                <h5 class="card-title mb-3"> Liderazgo </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-continuar  mt-3">Continuar </a>
            </div>
    </div>
    <div class="card" >
        <img class="card-img-top" src="{{ asset('front/assets/img/negociacion.png') }}" alt="Card image cap">
        <div class="card-img-overlay">
            <span class="count text-xs ">Finaliza en 08 días</span>
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3"> Negociación </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-3">Iniciar</a>
        </div>
    </div>
    <div class="card" >
        <img class="card-img-top" src="{{ asset('front/assets/img/desarrollo.png') }}" alt="Card image cap">
        <div class="card-img-overlay">
            <span class="count text-xs ">Finaliza en 08 días</span>
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3"> Desarrollo de otros </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-3">Iniciar</a>
        </div>
    </div>
    <div class="card" >
        <img class="card-img-top" src="{{ asset('front/assets/img/liderazgo.png') }}" alt="Card image cap">
        <div class="card-img-overlay">
            <span class="count text-xs ">Finaliza en 08 días</span>
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3"> Comunicación </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-3"> Iniciar </a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="{{ asset('front/assets/img/negociacion.png') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-3"> Marketing Digital </h5>
            <div class="badge-wrap">
                <i class="material-icons badge-aprobado ">check_circle</i>
                <span class="text-badge"> Aprobado </span>
            </div>
        </div>
        <div class="card-footer  d-flex justify-content-around">
            <a  href="#" class="flex-column align-items-center col-6 btn-edge btn-certificado">
                <i class="material-icons d-block">aspect_ratio</i>
                <small class=" d-block"> Certificado </small>
            </a>
            <a  href="#" class="flex-column align-items-center col-6 btn-edge btn-notas " >
                <i class="material-icons   d-block">content_copy</i>
                <small class=" d-block"> Notas </small>
            </a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="{{ asset('front/assets/img/desarrollo.png') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-3"> Inteligencia emocional </h5>
            <div class="badge-wrap">
                <i class="material-icons badge-aprobado ">check_circle</i>
                <span class="text-badge"> Aprobado </span>
            </div>
        </div>
        <div class="card-footer  d-flex justify-content-around">
            <a  href="#" class="flex-column align-items-center col-6 btn-edge btn-certificado">
                <i class="material-icons d-block">aspect_ratio</i>
                <small class=" d-block"> Certificado </small>
            </a>
            <a  href="#" class="flex-column align-items-center col-6 btn-edge btn-notas " >
                <i class="material-icons   d-block">content_copy</i>
                <small class=" d-block"> Notas </small>
            </a>
        </div>
    </div>

</div>

{% endblock %}
