{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('jq/jquery-ui.css') }}" rel="stylesheet">
    <style>
        .menu{
            width: 60%;
            height: 300px;
        }
    </style>
{% endblock %}

{% block clbody %}
    lesson-body
{% endblock %}

{% block header %}
    <nav class="navbar justify-content-between py-0 fixed-top bg-white">
        <div class="logo d-sm-block d-md-block">
            <a class="navbar-brand" href="{{ path('_inicio') }}">
                {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion.png') : asset('front/assets/img/logo_formacion.png') %}
                <img class="img-fluid py-1 {{ app.session.get('empresa').tipo_logo }}" src="{{ img_logo }}" alt="logo formación 2.0">
            </a>
        </div>
        <div class="wraper-title-lesson d-flex flex-column align-items-center">
            <h4 class="my-1 color-light-grey" >{{ titulo }}</h4>
            <h6 class="mt-0 color-light-grey" >{{ subtitulo }}</h6>
        </div>
        <div class="navbar-brand d-flex justify-content-center align-items-center" href="#">
            <a id="iconComments" href="javascript:void(0)">
                <i class="material-icons mx-3 color-light-grey">comment</i>
            </a>
            {{ include('LinkBackendBundle:VistaPrevia:notificaciones.html.twig') }}
            {{ include('LinkBackendBundle:VistaPrevia:configuracion.html.twig') }}
        </div>
    </nav>
{% endblock %}

{% block sidemenu %}
    <div id="mainSidenav" class="main-sidenav nav-lesson main-sidenav nav-lesson">
        
        <div class="row justify-content-around">
            <a href="#"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="{{ 'Ir al inicio'|trans }}">home</i></a>
            <a href="javascript:void(0)" onclick="closeNav()"><i id="menuArrow" class="arrow mr-2" data-toggle="tooltip" data-placement="left" title="Cerrar sidebar"></i></a>
        </div>

        <ul class="nav justify-content-around mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons rotate-180" data-toggle="tooltip" data-placement="bottom" title="{{ 'Volver al programa'|trans }}">exit_to_app</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="pills-indice-tab" data-toggle="pill" href="#pills-indice" role="tab" aria-controls="pills-home" aria-selected="true">
                    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'Indice del contenido'|trans }}">view_list</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-recursos" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{ 'Recursos del programa'|trans }}">widgets</i>
                </a>
            </li>
        </ul>

        <div class="tab-content menu-lesson" id="pills-tabContent" >
            <div class="tab-pane fade show active" id="pills-indice" role="tabpanel" aria-labelledby="pills-home-tab">
                <h5 class="text-center mb-3 mt-1 color-light-grey font-normal ">{{ 'Índice'|trans }}</h5>
                <ol id="menu_indice">
                    <li>
                        <a href="#">Relación entre cambio y liderazgo</a>
                        <ul class="ul-items">
                            <li><a href="#">Cambios tecnológicos</a></li>
                            <li><a href="#">Nuevos paradigmas</a></li>
                            <li><a href="#">Nuevos modelos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Necesidad de liderazgo</a>
                        <ul class="ul-items">
                            <li><a href="#">Tres ámbitos del cambio</a></li>
                            <li><a href="#">Cambios globales requieren innovacción</a></li>
                            <li><a href="#">Cambios empresariales requieren liderazgo</a></li>
                            <li><a href="#">Cambios personales requieren actitud</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="less-disabled" href="">Capacidad de liderazgo</a>
                        <ul class="ul-items">
                            <li><a class="lesson-pending less-disabled" href="#">Lider de consecución</a></li>
                            <li><a class="lesson-pending less-disabled" href="#">Lider integrador</a></li>
                            <li><a class="lesson-pending less-disabled" href="#">Lider visionario</a></li>
                            <li><a class="lesson-pending less-disabled"  href="#">Lider 360 grados</a></li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="tab-pane fade" id="pills-recursos" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h5 class="text-center my-3 color-light-grey font-normal ">{{ 'Recursos'|trans }}</h5>
                <a href="#">{{ 'Espacio colaborativo'|trans }}</a>
                <a href="#">{{ 'Reportar problema'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bg %}
    bg-white
{% endblock %}

{% block body %}

    {# CONTENIDO DE LA LECCION ESTILOS Y ESTRUCTURA PARA EL CK-EDITOR #}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="unico" role="tabpanel" aria-labelledby="one-tab">
            <div class="lesson-container container py-6 text-center">
                <h2>{{ pagina.nombre }}</h2>
                {% if pagina.foto %}
                    {% set img = uploads~pagina.foto %}
                    <img src="{{ img }}" alt="" class="img-fluid my-5 rounded">
                {% endif %}
                {{ pagina.contenido|raw }}
                {% if pagina.pdf != '' %}
                    {% set pdf = uploads~pagina.pdf %}
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <a href="{{ pdf }}" target="_blank">
                                <button type="button" class="btn btn-primary bttnDownl"><i class="material-icons">cloud_download</i></button>
                                <div class="tooltipN"><div class="tiparrow"></div><p class="textTooltip">{{ 'Descargue material complementario'|trans }}</p></div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <nav class="container text-center">
                <div class="btn-primary btn">{{ 'Continuar'|trans }}</div>
            </nav>
        </div>
    </div>

{% endblock %}

{% block comments %}

    <div id="comments" class="px-3 pt-3"  >
        <h5 class="color-grey text-center">{{ 'Comentarios'|trans }}</h5>
        <form class="mt-4 mb-6" id="form-comment">
            <div class="form-group">
                <textarea class="form-control" id="comentario" name="comentario" rows="3" maxlength="340" placeholder="{{ 'Escriba su comentario'|trans }}..."></textarea>
            </div>
            <button type="button" name="button" class="btn btn-sm btn-primary float-right">{{ 'Comentar'|trans }}</button>
        </form>
        <div class="tab mt-6 d-flex justify-content-around text-xs">
            <a href="#" class="active-line color-light-grey mt-3 tab_rv" id="mas_recientes">{{ 'Más recientes'|trans }}</a>
            <a href="#" class="color-light-grey mt-3 tab_rv" id="mas_valorados">{{ 'Más valorados'|trans }} </a>
        </div>

        <div id="mas_recientes_comments">
            {% for i in 1..2 %}
                {{ include('LinkBackendBundle:VistaPrevia:muro.html.twig') }}
            {% endfor %}
            <a href="#" class="links text-center d-block more_comments">{{ 'Ver más comentarios'|trans }}</a>
        </div>
        <div id="mas_valorados_comments" style="display:none;">
            {{ include('LinkBackendBundle:VistaPrevia:muro.html.twig') }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('front/js/popper.min.js')}}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front/js/custom.js') }}"></script>
    <script src="{{ asset('jq/jquery-ui.js') }}" charset="utf-8"></script>
    <script src="{{ asset('jq/jquery-ui.js') }}" charset="utf-8"></script>
    <script src="{{ asset('front/js/popper.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('front/js/jquery.scrollTo.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('front/js/navLecciones.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/vistaPreviaP.js') }}"></script>
{% endblock %}