<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,400i,600,600i,700|Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <title>
            {% block title %}
                {% if app.session.started and app.session.get('empresa').titulo is defined and app.session.get('empresa').titulo != '' %}
                    {{ app.session.get('empresa').titulo }}
                {% else %}
                    {{ 'Sistema Formación'|trans }} 2.0
                {% endif %}
            {% endblock %}
        </title>
        {% set img = app.session.get('empresa').favicon is defined ? app.session.get('empresa').favicon is not null and app.session.get('empresa').favicon != '' ? uploads~app.session.get('empresa').favicon : asset('img/icono.png') : asset('img/icono.png') %}
        <link rel="icon" type="image/x-icon" href="{{ img }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('front/base_styles/css/bootstrap/bootstrap.css') }}">
            {% set css = app.session.get('empresa').css is defined ? app.session.get('empresa').css is not null and app.session.get('empresa').css != '' ? asset(app.session.get('empresa').css) : asset('front/client_styles/formacion/css/main.css') : asset('front/client_styles/formacion/css/main.css') %}
            <link rel="stylesheet" href="{{ css }}">
            <link href="{{ asset('front/js/plugins/video.js/video-js.min.css') }}" rel="stylesheet">
            <link href="{{ asset('front/js/plugins/video.js/vsg-skin.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('front/js/plugins/mediaelement-4.2.8/build/mediaelementplayer.min.css') }}">
        {% endblock %}
    </head>
    <body class="{% block clbody %}{% endblock %}">
        
        {# HEADER #}
        <header>
            {% block header %}
            <nav class="navbar  justify-content-between py-0 fixed-top bg-white">
                <a class="navbar-brand" href="{{ path('_inicio') }}">
                    {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion.png') : asset('front/assets/img/logo_formacion.png') %}
                    <img class="img-fluid py-1" src="{{ img_logo }}" width= "200" alt="logo formación 2.0">
                </a>
                <div class="navbar-brand d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column">
                        <div class="wrapperDdApps">
                            <a href="#" id="apps">
                                <div class="appFun">
                                    <i class="material-icons mr-3 color-light-grey">apps</i>
                                </div>
                            </a>
                            <span class="markApps"></span>
                            <div class="dropDownApps">
                                <div class="row align-items-center justify-content-between px-0 py-0 mx-0 my-1">
                                    <div class="col-4 px-0 py-0">
                                        <a href="">
                                            <div class="opcApps text-center">
                                                <img class="imgApps" src="{{asset('front/assets/img/tutorial.svg')}}" alt="">
                                                <p class="tituloApps">Tutoriales</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 px-0 py-0">
                                        <a href="{{ path('_faqsf') }}">
                                            <div class="opcApps text-center">
                                                <img class="imgApps" src="{{asset('front/assets/img/faq.svg')}}" alt="">
                                                <p class="tituloApps">FAQS</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 px-0 py-0">
                                        <a href="" data-toggle="modal" data-target="#modalSv">
                                            <div class="opcApps text-center">
                                                <img class="imgApps" src="{{asset('front/assets/img/soporteVirtual.svg')}}" alt="">
                                                <p class="tituloApps">Soporte Virtual</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row align-items-center px-0 py-0 mx-0 mb-1">
                                    <div class="col-4 px-0 py-0">
                                        <a href="{{ path('_calendarioDeEventos') }}">
                                            <div class="opcApps text-center">
                                                <img class="imgApps" src="{{asset('front/assets/img/calendario.svg')}}" alt="">
                                                <p class="tituloApps">Calendario</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="wrapperDdNotify">
                            <a href="#" id="notify">
                                <div class="notify">
                                    <i class="material-icons mr-3 color-light-grey">notifications</i>
                                    <div class="sonar"></div>
                                </div>
                            </a>
                            <span class="markNotify"></span>
                            <ul class="dropDownNotify">
                                <a href="">
                                    <li class="opcListNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify anunSticker"><i class="material-icons icNotify">volume_down</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="opcListNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify notiSticker"><i class="material-icons icNotify">library_books</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="opcListNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify mailSticker"><i class="material-icons icNotify">mail</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="opcListNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify ecSticker"><i class="material-icons icNotify">speaker_notes</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="opcListNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify muroSticker"><i class="material-icons icNotify">insert_comment</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="opcListNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify calenSticker"><i class="material-icons icNotify">event_note</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="opcListNotify opcLastNotify">
                                        <div class="anunNotify">
                                            <span class="stickerNotify rcSticker"><i class="material-icons icNotify">question_answer</i></span>
                                            <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class=" d-flex flex-column ">
                        <div class="wrapperDdMenu">
                            <a href="#" class="perfil no-decorate" id="config">
                                {% set img = app.session.get('usuario').foto is defined ? app.session.get('usuario').foto is not null and app.session.get('usuario').foto != '' ? uploads~app.session.get('usuario').foto : asset('front/assets/img/user.svg') : asset('front/assets/img/user.svg') %}
                                <img class="img-fluid mx-auto avatar-img" src="{{img}}" alt="usuario"><span class="material-icons color-light-grey icDown">expand_more</span>
                            </a>
                            <ul class="dropDownMenu">
                                <li class="mark"></li>
                                <a href="{{ path('_usuariop') }}">
                                    <li class="opcList">
                                        <span>Preferencias de usuario <i class="material-icons icMenu">style</i></span>
                                    </li>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#modalCs">
                                    <li class="opcList markOpc">
                                        <span>Cerrar sesión<i class="material-icons icMenu">exit_to_app</i></span>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </header>

        <div class="container-fluid mt-6">
            
            {# SIDE MENU #}
            {% block sidemenu %}
                <nav>
                    <div id="mainSidenav" class="main-sidenav ">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i id="menuArrow" class="arrow mr-2"></i></a>
                        <a class="d-flex mt-1 mb-3 text-nowrap" href="{{ path('_inicio') }}"> <i class="material-icons mr-2">home</i> Dashboard </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_misProgramas') }}"> <i class="material-icons mr-2">bookmark</i> Mis Programas </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_programas') }}"> <i class="material-icons mr-2">dashboard</i> Programas </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_biblioteca')}}"> <i class="material-icons mr-2">book</i>  Biblioteca </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_calendarioDeEventos') }}"> <i class="material-icons mr-2">event</i>  Calendario </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_noticias') }}"> <i class="material-icons mr-2">library_books</i>  Noticias & <br> Novedades </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_faqsf') }}"> <i class="material-icons mr-2">help</i>  Faqs</a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_ranking') }}"> <i class="material-icons mr-2">star</i>  Ranking</a>

                    </div>
                </nav>
            {% endblock %}

            <div id="main" class="{% block bg %}{% endblock %}">

                {% block body %}
                {% endblock %}

            </div>

            {% block comments %}{% endblock %}

        </div>

        <!-- Modal Cerrar Sesion-->
        <div class="modal modalCerrarSesion" id="modalCs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row mt-6 justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <h4 class="titulo">¿Está segur@ de que desea cerrar la sesión?</h4>
                    </div>
                </div>
                <div class="row mt-3 align-items-center justify-content-center">
                    <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-center">
                        <a href="{{ path('_logout', { 'ruta': '_login' }) }}"><button type="button" class="btn btn-primary btn-Cs">Cerrar Sesión</button></a>
                    </div>
                </div>
                <div class="row mt-3 align-items-end justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="#" class="cancelarCs" data-dismiss="modal">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Soporte virtual-->
        <div class="modal modalSopVirtual" id="modalSv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row align-items-end justify-content-end">
                    <div class="col-auto text-center">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <h4 class="titulo">Soporte virtual</h4>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center align-items-center">
                    <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-justify">
                        <p class="txtModalVs">¡Estimado participante! Envía tus comentarios o dudas sobre cualquier aspecto relacionado con los programas de certificación.</p>
                    </div>
                </div>
                <form action="">
                    <div class="row mt-3 justify-content-center align-items-center">
                        <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-left">
                            <div class="form-group">
                                <label class="mb-1" for="asuntoV">Asunto</label>
                                <input  type="text" class="form-control" id="asuntoV" aria-describedby="asuntoSupportVitual" placeholder="Escriba su asunto">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 justify-content-center">
                        <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-left">
                            <div class="form-group">
                                <label class="mb-1" for="msjSv">Mensaje</label>
                                <textarea class="form-control textAsv" rows="4" id="msjSv" aria-describedby="messageSupportVirtual" placeholder="Escriba su mensaje"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mt-2 align-items-center justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="#"><button type="submit" class="btn btn-primary btnEnv">Enviar</button></a>
                    </div>
                </div>
                <div class="row mt-3 align-items-end justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="#" class="cerrarSv" data-dismiss="modal">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('front/js/custom.js') }}"></script>
            <script src="{{ asset('front/js/plugins/video.js/video.min.js') }}"></script>
            <script src="{{ asset('front/js/plugins/mediaelement-4.2.8/build/mediaelement-and-player.min.js') }}"></script>
            <script src="{{ asset('front/js/audio.js') }}"></script>
        {% endblock %}
    </body>
</html>
