<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,400i,600,600i,700|Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('front/js/plugins/video.js/video-js.min.css') }}" rel="stylesheet">
        <link href="{{ asset('front/js/plugins/video.js/vsg-skin.css') }}" rel="stylesheet">
        
        <title>
            {% block title %}
                {% if app.session.started and app.session.get('empresa').titulo is defined and app.session.get('empresa').titulo != '' %}
                    {{ app.session.get('empresa').titulo }}
                {% else %}
                    {{ 'Sistema Formación'|trans }} 2.0
                {% endif %}
            {% endblock %}
        </title>
        {% set img = app.session.get('empresa').favicon is defined ? app.session.get('empresa').favicon is not null and app.session.get('empresa').favicon != '' ? uploads~app.session.get('empresa').favicon : asset('img/icono.png') : asset('img/icono.png') %}
        <link rel="icon" type="image/x-icon" href="{{ img }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('front/base_styles/css/bootstrap/bootstrap.css') }}">
            {% set css = app.session.get('empresa').css is defined ? app.session.get('empresa').css is not null and app.session.get('empresa').css != '' ? asset(app.session.get('empresa').css) : asset('front/client_styles/formacion/css/main.css') : asset('front/client_styles/formacion/css/main.css') %}
            <link rel="stylesheet" href="{{ css }}">
        {% endblock %}
    </head>
    <body class="{% block clbody %}{% endblock %}">
        
        {# HEADER #}
        <header>
            {% block header %}
                <nav class="navbar justify-content-between py-0 fixed-top bg-white">
                    <div class="logo d-none d-md-block">
                        <a class="navbar-brand" href="{{ path('_inicio') }}">
                            {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion.png') : asset('front/assets/img/logo_formacion.png') %}
                            <img class="img-fluid py-1" src="{{ img_logo }}" width= "200" alt="logo formación 2.0">
                        </a>
                    </div>
                    <div class="navbar-brand d-flex justify-content-center align-items-center " href="#">
                        <i class="material-icons mr-3 color-light-grey">mail_outline</i>
                        <div class=" d-flex flex-column ">
                            <div class="dropdown show">
                                <a href="#" class="perfil dropdown-toggle no-decorate" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% set img = app.session.get('usuario').foto is defined ? app.session.get('usuario').foto is not null and app.session.get('usuario').foto != '' ? uploads~app.session.get('usuario').foto : asset('front/assets/img/avatar_user.png') : asset('front/assets/img/avatar_user.png') %}
                                    <img class="img-fluid mx-auto avatar-img" src="{{ img }}"  width="80%" alt="usuario">
                                </a>
                                <div class="perfil-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a href="{{ path('_logout', { 'ruta': '_login' }) }}">{{ 'Salir'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <div class="container-fluid mt-6">
            
            {# SIDE MENU #}
            {% block sidemenu %}
                <nav>
                    <div id="mainSidenav" class="main-sidenav ">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i id="menuArrow" class="arrow mr-2"></i></a>
                        <a class="d-flex mt-1 mb-3 text-nowrap" href="{{ path('_inicio') }}"> <i class="material-icons mr-2">home</i> Dashboard </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_misProgramas') }}"> <i class="material-icons mr-2">bookmark</i> Mis Programas </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_programas') }}"> <i class="material-icons mr-2">dashboard</i> Programas </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_biblioteca')}}"> <i class="material-icons mr-2">book</i>  Biblioteca </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_calendarioDeEventos') }}"> <i class="material-icons mr-2">event</i>  Calendario </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_noticias') }}"> <i class="material-icons mr-2">library_books</i>  Noticias & <br> Novedades </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_faqsf') }}"> <i class="material-icons mr-2">help</i>  Faqs</a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_usuariop') }}"> <i class="material-icons mr-2">style</i>  Preferencias de <br> usuario </a>
                        <a class="d-flex mb-3 text-nowrap" href="{{ path('_ranking') }}"> <i class="material-icons mr-2">star</i>  Ranking</a>
                    </div>
                </nav>
            {% endblock %}

            <div id="main" class="{% block bg %}{% endblock %}">

                {% block body %}
                {% endblock %}

            </div>

            {% block comments %}{% endblock %}

        </div>

        {% block javascripts %}
            <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('front/js/custom.js') }}"></script>
            <script src="{{ asset('front/js/plugins/video.js/video.min.js') }}"></script>
            
        {% endblock %}
    </body>
</html>
