{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
{% set uri = app.request.getbasepath %}

    <div class="row align-items-center justify-content-center mt-3">
        <div class="col-8 col-md-10 col-lg-8 col-xl-8 col-sm-12 col-xs-12 text-center">
            <h3 class="title-rank">Ranking</h3>
        </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-10 col-md-12 col-lg-10 col-xl-10 col-sm-12 col-xs-12 text-center">
            <p class="txt-rank">Estas son las personas con mayor puntuación de los programas que has cursado</p>
        </div>
    </div>
    <div class="row">
    {% for r in ranking %}
            <div class="col-6 col-md-10 col-lg-6 col-xl-6 col-sm-10 col-xs-10">
                <div class="card-table">
                    <div class="card_header">
                        <h3 class="title_header">{{ r.pagina }}</h3>
                    </div>
                    <div class="card_body">
                        <table class="rank-table" cellpadding="0" cellspacing="0" border="0">
                            <thead class="campo_title">
                                <tr>
                                    <th>Posición</th>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Calificación</th>
                                    <th>EXP</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in r.usuarios|slice(0, 10) %}
                                    <tr class="{{ u.class }}">
                                        <td>{{ u.orden }}</td>
                                        <td><img class="up" src="{{ uploads ~ u.foto }}" alt=""></td>
                                        <td><span>{{ u.nombre ~ ' ' ~ u.apellido }}</span></td>
                                        <td>{{ u.calificacion }}</td>
                                        <td>
                                           <div class="img-coin">
                                                <img src="{{ uploads }}assets/img/coins.svg" alt="">
                                                <span class="text-coin">{{ u.experiencia }}K</span>
                                           </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for u in r.usuarios|slice(11) %}
                                    {% if u.topten == 0 %}
                                        {{ u.meorder|raw }}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if loop.index is divisibleby(2) and not loop.last %}
                </div>
                <div class="row">
            {% endif %}
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}