{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
<div class="row align-items-center justify-content-center mt-3">
    <div class="col-8 col-md-10 col-lg-8 col-xl-8 col-sm-12 col-xs-12 text-center">
        <h3 class="title-rank title-grey font-bold">Ranking curso Comunicaciòn para la supervisión</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-table">
            <div class="card_body">
                <table class="rank-table" cellpadding="0" cellspacing="0" border="0">
                    <thead class="campo_title">
                        <tr>
                            <th></th>
                            <th>Nombre y apellido</th>
                            <th>Medallas</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img class="rank-badge-number" src="{{ asset('front/assets/img/badge4.png') }}" alt="" />
                            </td>
                            
                            <td><span>Yuan Osaka</span></td>
                            <td>14</td>
                            <td>
                                840
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge-number" src="{{ asset('front/assets/img/badge3.png') }}" alt="" /></td>
                            
                            <td><span>Donald Malarkey</span></td>
                            <td>10</td>
                            <td>
                                500
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge-number" src="{{ asset('front/assets/img/badge2.png') }}" alt="" /></td>
                            
                            <td><span>Ronald Spears</span></td>
                            <td>8</td>
                            <td>
                                400
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Jessica Chestain</span></td>
                            <td>7</td>
                            <td>
                                370
                            </td>
                        </tr>
                        <tr class="me-i">
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Pat Christensen</span></td>
                            <td>7</td>
                            <td>
                                350
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Masaki Oki</span></td>
                            <td>5</td>
                            <td>
                                320
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Alton Moore</span></td>
                            <td>3</td>
                            <td>
                                300
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Rebecca Chambers</span></td>
                            <td>0</td>
                            <td>
                                210
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Ada Wong</span></td>
                            <td>0</td>
                            <td>
                                200
                            </td>
                        </tr>
                        <tr>
                            <td><img class="rank-badge" src="{{ asset('front/assets/img/badge.png') }}" alt="" /></td>
                            
                            <td><span>Natasha Romanov</span></td>
                            <td>0</td>
                            <td>
                                100
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}