{% extends '::admin.html.twig'%}
{% block body %}
<br>
<div class="row">
	<div class="col-sm-16">
		<div class="card">
			<div class="card-header">
                <div class="card-title">
                    <h6>Registrar Empresa</h6>
                </div>
            </div>
           	<div class="card-block">
                <div class="container_wizard wizard-thin">
                	<div class="stepwizard">
                		<div class="stepwizard-row setup-panel d-flex">
            				<div class="stepwizard-step col">
                                <a href="#det0" class="btn bttn__fndo pass">
                                    <span class="btn-round">1</span>
                                    <p>Datos Básicos</p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det1" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">2</span>
                                    <p>Bienvenida</small></p>
                                </a>
                            </div>
                            <div class="stepwizard-step col">
                                <a href="#det2" class="btn btn-secondary pass disabled">
                                    <span class="btn-round">3</span>
                                    <p>Confirmar</small></p>
                                </a>
                            </div>
                		</div>
                	</div>
                	<form action="" class="container-fluid p-0">
                		<div class="row setup-content" id="det0">	
                			<div class="col-sm-16">
                				<div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">Paso1</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                	<div class="col-sm-16 col-md-8 col-lg-6">
                                		<div class="form-group">
                                            <label for="texto" class="col-2 col-form-label">{{ 'Empresa'|trans }}</label>
                                            <div class="col-14">
                                                <input type="text" class="form-control form_sty1" name="nombre" id="nombre">
                                                <span class="fa fa-industry"></span>
                                            </div>	
                                        </div>
                                        <div class="form-group">
                                        	<label for="texto" class="col-2 col-form-label">{{ 'País'|trans }}</label>
                                        	<div class="col-14">
	                                        	<select class="form-control" name="pais" id="pais">
	                                        		{% for pais in paises %}
		                                                <option value={{pais.id}}>{{ pais.nombre }}</option>
	                                                {% endfor %}
	                                            </select>
                                            </div>
                                        </div>
                                	</div>
                                	<div class="col-sm-16 col-md-8 col-lg-6">
                                		<div class="form-group">
                                			<label for="texto" class="col-2 col-form-label">{{ 'Activo'|trans }}</label>
                                			<div class="col-4">
	                                            <div class="can-toggle demo-rebrand-2 small">
	                                                <input id="f" type="checkbox" name="activo" checked>
	                                                <label for="f">
	                                                    <div class="can-toggle__switch" data-checked="Si" data-unchecked="No"></div>
	                                                </label>
	                                            </div>
                                        	</div>
                                		</div>
                                	</div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">Siguiente</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                			</div>
                		</div>
                		<div class="row setup-content" id="det1">
                			<div class="col-sm-16">
                				<div class="row">
	                                <div class="col-sm-16">
	                                    <h3 class="mb-2">Paso 2</h3>
	                                </div>
	                            </div>
	                            <br>
	                            <div class="row">
                                    <div class="col-sm-16">
                                    	<div class="form-group">
                                    		<label for="texto" class="col-2 col-form-label">{{ 'Bienvenida'|trans }}</label>
                                    		<div class="col-16">
                                    			<textarea name="bienvenida" id="bienvenida" cols="30" rows="10"></textarea>
                                    		</div>
                                    	</div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="button" class="bttn__nxt nextBtn"><span class="text__nxt">Siguiente</span><span class="fa fa-chevron-right"></span></button>
                                    </div>
                                </div>
                			</div>
                		</div>
                		<div class="row setup-content" id="det2">
                			<div class="col-sm-16">
                				<div class="row">
                                    <div class="col-sm-16">
                                        <h3 class="mb-2">Paso 3</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-16">
                                    	<div class="alert alert-success" role="alert">
				                          <h4 class="alert-heading">Buen trabajo!</h4>
				                          <p>Presiona el botón finalizar para completar la creación del registro de la empresa.</p>
				                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="col-sm-16 text-right">
                                        <button type="submit" class="bttn__end"><span class="text__end">Finalizar</span><span class="fa fa-check"></span></button>
                                    </div>
                                </div>
                			</div>
                		</div>
                	</form>
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/empresa.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
    <script>
        $(document).ready(function(){
            CKEDITOR.config.skin = 'office2013';
            CKEDITOR.replace('bienvenida');
        });
    </script>
{% endblock %}
