{% extends '::admin.html.twig' %}

{% block body %}
<input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxEditRol') }}">
<input type="hidden" id="url_list" name="url_list" value="{{ path('_roles', { 'app_id': app.session.get('app_id') }) }}">
<input type="hidden" id="url_delete" name="url_delete" value="{{ path('_ajaxDeleteRol') }}">
<input type="hidden" id="error_msg-save" name="error_msg-save" value="{{ 'No se pudo almacenar este registro.'|trans }}">
<input type="hidden" id="error_msg-edit" name="error_msg-edit" value="{{ 'No se pudo editar este registro.'|trans }}">

<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{'Empresa' |trans}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ 'Listado de Empresas' |trans}}</h5>
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'Empresa'|trans}}</th>
                            <th>{{'País'|trans }}</th>
                            <th>{{'Niveles'|trans}}</th>
                            <th>{{'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for nivel in niveles %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{eo}}">
                                <td>{{ nivel.empresa_nombre }}</td>
                                <td>{{ nivel.empresa_pais}}</td>
                                <td></td>
                                <td class="center">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Acción'|trans }}</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">{{ 'Configurar'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                      {% endfor %}
                    </tbody>
                </table>                 
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    {#<script src="{{ asset('jq/jquery-validation-1.15.0/dist/localization/messages_es.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/admin/rol.js') }}"></script>
    <script type="text/javascript">

        jQuery.validator.addMethod("noSpace", function(value, element) { 
            return value.indexOf(" ") < 0; 
        }, "{{ 'No se permiten espacios en blanco.'|trans }}");

        $("#form").validate({
            rules: {
                'rol': {
                    required: true,
                    minlength: 3
                },
            },
            messages: {
                'rol': {
                    required: "{{ 'Este campo es requerido.'|trans }}",
                    minlength: "{{ 'Debe ser mínimo de 3 caracteres.'|trans }}"
                }
            }
        });

        
    </script>
{% endblock %}