{% extends '::admin.html.twig' %}


{% block body %}

<input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxEditGrupo') }}">
<input type="hidden" id="url_list" name="url_list" value="{{ path('_empresasGrupo', { 'app_id': app.session.get('app_id') }) }}">
<input type="hidden" id="url_grupos" name="url_grupos" value="{{ path ('_ajaxEmpresasGrupo') }}">
<input type="hidden" id="url_delete_grupos" name="url_delete_grupos" value="{{ path ('_ajaxDeleteGrupo') }}">

<br>
<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <a href="{{ path('_empresasGrupo', { 'app_id': app.session.get('app_id') })}}" class="bttn__bck"><span class="fa fa-clipboard" style="margin-top: 8px;"></span><span class="text__bck">{{ 'Ir al listado'|trans }}</span></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                <h5 class="card-title">{{ 'Listado de grupos' |trans}}</h5>
            </div>
            <div class="card-block">
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">{{'Nombre'|trans }}</th>
                            <th class="hd__title">{{'Asignar'|trans }}</th>
                        </tr>
                    </thead>
                        <tbody id="grupos" name="grupos">
                          {% for pagina in paginas %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{eo}}">
                                <td>{{ pagina.nombre }}</td>
                                <td> <input type="checkbox" name=""> </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                </table>                 
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/empresasGrupo.js') }}"></script>
    <script type="text/javascript">

        $("#form").validate({
            rules: {
                'nombre': {
                    required: true,
                    minlength: 3
                },
            },
            messages: {
                'nombre': {
                    required: "{{ 'Este campo es requerido.'|trans }}",
                    minlength: "{{ 'Debe ser mínimo de 3 caracteres.'|trans }}"
                }
            }
        });

        
    </script>
{% endblock %}