<table style="width:100%; font-family:Arial; font-size:18px;">
	<tr style="padding:0px; background-color:#c2e5fc; color:#000000;">
		<td style="text-align:left;">
		  	<b>{{ 'Detalle'|trans }}:</b>
		</td>
	</tr>
	<tr style="padding:10px; background-color:#F9FCFE; color:#000000;">
		<td style="text-align:left;">
		  	{{ 'Usted tiene una invitación a un evento corporativo programado para mañana'|trans }} {{ tomorrow }}.
		</td>
	</tr>
	<tr style="padding:10px; background-color:#c2e5fc; color:#000000;">
		<td style="text-align:left;">
		  	<b>{{ 'Para ver el detalle del evento puede entrar al siguiente enlace'|trans }}:</b>
		</td>
	</tr>
	<tr style="padding:10px; background-color:#F9FCFE; color:#000000;">
		<td style="text-align:left;">
		  	{{ href }}
		</td>
	</tr>
</table>