{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link  type="text/css" rel="stylesheet" href="{{ asset('css/fullcalendar/fullcalendar.min.css') }}" />
    <link  type="text/css" rel="stylesheet" href="{{ asset('css/fullcalendar/fullcalendar.print.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fullcalendar/moment.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/fullcalendar/jquery.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/fullcalendar/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/fullcalendar.min.js') }}"></script>

    <script>
      $(document).ready(function() {
        var initialLocaleCode = 'en';
        $('#external-events .fc-event').each(function() {
          $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
          });

          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
          });

        });

        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay,listMonth'
          },
          selectable: true,
          selectHelper: true,
          locale: initialLocaleCode,
          buttonIcons: false, // show the prev/next text
          weekNumbers: true,
          select: function(start, end) {
            var title = prompt('Event Title:');
            var eventData;
            if (title) {
              eventData = {
                title: title,
                start: start,
                end: end
              };
              $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
            }
            $('#calendar').fullCalendar('unselect');
          },
          editable: true,
          droppable: true, // this allows things to be dropped onto the calendar
          drop: function() {
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
              // if so, remove the element from the "Draggable Events" list
              $(this).remove();
            }
          },
          navLinks: true, // can click day/week names to navigate views
          businessHours: true, // display business hours
          events: [
            {
              title: 'Business Lunch',
              start: '2018-02-03T13:00:00',
              constraint: 'businessHours'
            },
            {
              title: 'Meeting',
              start: '2018-02-13T11:00:00',
              constraint: 'availableForMeeting', // defined below
              color: '#257e4a'
            },
            {
              title: 'Conference',
              start: '2018-02-18',
              end: '2018-02-20'
            },
            {
              title: 'Party',
              start: '2018-02-29T20:00:00'
            },

            // areas where "Meeting" must be dropped
            {
              id: 'availableForMeeting',
              start: '2018-02-11T10:00:00',
              end: '2018-02-11T16:00:00',
              rendering: 'background'
            },
            {
              id: 'availableForMeeting',
              start: '2018-02-13T10:00:00',
              end: '2018-02-13T16:00:00',
              rendering: 'background'
            },

            // red areas where no events can be dropped
            {
              start: '2018-02-24',
              end: '2018-02-28',
              overlap: false,
              rendering: 'background',
              color: '#ff9f89'
            },
            {
              start: '2018-02-06',
              end: '2018-02-08',
              overlap: false,
              rendering: 'background',
              color: '#ff9f89'
            }
          ]
        });

      });

    </script>
    
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row">
    <div id="external-events" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h4>Draggable Events</h4>
      <div class='fc-event'>My Event 1</div>
      <div class='fc-event'>My Event 2</div>
      <div class='fc-event'>My Event 3</div>
      <div class='fc-event'>My Event 4</div>
      <div class='fc-event'>My Event 5</div>
      <p>
        <input type='checkbox' id='drop-remove' />
        <label for='drop-remove'>remove after drop</label>
      </p>
    </div>

    <div id="calendar" class="col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>

    <div style='clear:both'></div>
</div>
{% endblock %}