{% extends '::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <!-- Full calendar css -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/fullcalendar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/fullcalendar.print.css') }}" type="text/css"  media="print">
    <style type="text/css">
      .fc button{
        height: 100%;
      }
      .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
        color: #ffffff !important;
        background: #00558D;
        background: -moz-linear-gradient(left, #0084db 0%, #00558D 100%);
        background: -webkit-linear-gradient(left, #0084db 0%, #00558D 100%);
        background: linear-gradient(to right, #0084db 0%, #00558D 100%);
        color: black;
        color: #ffffff;
        border-bottom: 2px solid #A3C300
      }
      .fc-center h2{
        font-size: 25px;
        font-weight: 500;
        text-transform: capitalize;
      }
    </style>
{% endblock %}

{% block body %}
<br>
<br>
<div class="row">
  <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
      <div id='calendar'></div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/cicular_progress/circle-progress.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/sparklines/jquery.sparkline.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/fullcalendar/locale/es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/calendar.js') }}"></script>
    
{% endblock %}