{% extends '::admin.html.twig' %}

{% block body %}
<br>
<input type="hidden" id="tipos" name="tipos" value="{# tipos #}">
<input type="hidden" id="url_edit" name="url_edit" value="{{ path('_ajaxEditFaqs') }}">
<input type="hidden" id="url_respuesta" name="url_respuesta" value="{{ path('_ajaxRespuesta') }}">
<input type="hidden" id="url_list" name="url_list" value="{{ path('_faqs', { 'app_id': app.session.get('app_id') }) }}">
<input type="hidden" id="error_msg-subapps" name="error_msg-subapps" value="{{ 'Error al obtener la repuesta'|trans }}.">
<input type="hidden" id="url_nuevaPregunta" name="url_nuevaPregunta" value="{{ path('_ajaxNuevaPregunta') }}">

<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>Faqs</h3>
    </div>
    <div class="col text-right">
        <button type="button" class="bttn__nr new" data-toggle="modal" data-target="#formModal"><span class="fa fa-plus"></span><span class="text__nr">{{ 'Nuevo registro'|trans }}</span></button>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Listado de preguntas'|trans }}</h5>
            </div>
            <div class="card-block">
                <div class="row" id="div-active-alert" style="display:none;">
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert"> 
                            <strong>{{ 'Error en el servidor'|trans }}!</strong> <span id="active-error">{{ 'Ha ocurrido un error en el servidor. Contacte al administrador del sistema.'|trans }}.</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            <th class="hd__title">{{ 'Tipo de pregunta'|trans }}</th>
                            <th class="hd__title">{{ 'Pregunta'|trans}}</th>
                            <th class="hd__title">{{ 'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for faq in faqs %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{ eo }}">
                                <td>{{ faq.tipopregunta }}</td>
                                <td>{{ faq.pregunta }}</td>
                                <td class="center">
                                    <a href="#" title="{{ 'Editar'|trans }}" class="btn btn-link btn-sm edit" data-toggle="modal" data-target="#formModal" data="{{ faq.id }}"><span class="fa fa-pencil"></span></a>
                                    <a href="#" title="{{ 'Eliminar'|trans }}" class="btn btn-link btn-sm {% if faq.delete_disabled == '' %}delete{% endif %} {{ faq.delete_disabled }}" data="{{ faq.id }}"><span class="fa fa-trash"></span></a>
                                    <a href="#" title="{{ 'Ver respuesta'|trans }}" class="btn btn-link btn-sm see" data="{{ faq.id }}"><span class="fa fa-eye"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-7" style="display:none;" id="div-respuesta">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Respuesta'|trans }} </h5>
            </div>
            <br>
            <div class=" alert alert-success" id="respuesta_v" role="alert" style="margin: 0 2rem 1rem 2rem; ">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formModal %}
    <div class="modal-header gradiente">
        <h5 class="modal-title" id="formModalLabel">{{ 'Datos de la pregunta'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
        <form id="form" name="form" action="{{ path('_ajaxUpdateFaqs') }}" method="POST">
            <input type="hidden" id="faq_id" name="faq_id" value="">
            <input type="hidden" id="id_tipo_pregunta" name="id_tipo_pregunta" value="">
            <div class="form-group row justify-content-end">
                <label for="pregunta" class="col-3 col-form-label">{{ 'Pregunta'|trans }}:</label>
                <div class="col-13">
                    <input type="text" class="form-control form_sty1" id="pregunta" name="pregunta" value="">
                    <span class="fa fa-keyboard-o"></span>
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <label for="respuesta" class="col-3 col-form-label">{{'Respuesta'|trans}}:</label>
                <div class="col-13">
                    <textarea class="form-control" id="respuesta" name="respuesta"></textarea>
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <label for="tipo_pregunta" class="col-4 col-form-label">{{ 'Tipo de pregunta'|trans }}:</label>
                <div class="col-12">
                    <select class="form-control form_sty_sm" id="tipo_pregunta_id" name="tipo_pregunta_id" style="border-radius: 5px;">
                        {% for tipo in tipos %}
                          <option value="{{ tipo.id }}"> {{ tipo.nombre }} </option>
                        {% endfor %}
                    </select>
                    <span class="fa fa-dedent"></span>
                </div>
            </div>
            <div class="form-group row justify-content-end">
                <label for="pregunta" class="col-3 col-form-label">{{ 'Agregar categoría'|trans }}:</label>
                <div class="col-13">
                    <input type="text" class="form-control form_sty1 " id="new_pregunta" name="new_pregunta">
                    <span class="fa fa-keyboard-o"></span>
                    <button type="button" class="bttn__addp nuevap" id="nuevap" name="nuevap" style="float: right; margin-top: 0.2rem;"><span class="text__addp">{{'Agregar categoría'|trans}}</span><span class="fa fa-plus"></span></button>
                </div>
            </div>
        </form>
        <div class="alert alert-success" role="alert" id="alert-success" style="display:none;"> 
            <strong>{{ 'Bien hecho'|trans }}!</strong> {{ 'La faq ha sido almacenada con éxito'|trans }}. 
        </div>
        <div class="card" id="detail" style="display:none;">
            <div class="card-header" style="background: linear-gradient(to right, #0084db 0%, #00558D 100%);">
                <h4 class="card-title" style="color: #fff; text-transform: uppercase">{{'Datos Básicos'|trans}}</h4>
            </div>
            <div class="card-block">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-sm-16 col-md-16 show__details">
                            <h5>{{ 'Pregunta'|trans }}:</h5>
                            <p id="p-pregunta">Lorem Ipsum</p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-between">
                        <div class="col-sm-16 col-md-16 show__details">
                            <h5>{{'Respuesta'|trans}}:</h5>
                            <p id="p-respuesta">https://Loremipsumdolorsitamet.domain/</p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-between">
                        <div class="col-sm-16 col-md-16 show__details">
                            <h5>{{ 'Tipo de pregunta'|trans }}:</h5>
                            <p id="p-t"><span class="fa fa-users"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-sm-16 col-md-16 text-right">
                    <button type="button" class="bttn__edit edit" data-toggle="tooltip" data-placement="bottom" title="{{'Editar' |trans}}" id="detail-edit" data=""><span class="fa fa-pencil"></span></button>
                    <button type="button" class="bttn__elim" data-toggle="tooltip" data-placement="bottom" title="{{'Eliminar' |trans}}" id="detail-delete" data=""><span class="fa fa-trash"></span></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/faq.js') }}"></script>
    <script type="text/javascript">

        $("#form").validate({
            rules: {
                'nombre': {
                    required: true,
                    minlength: 3
                },
                'url': {
                    noSpace: true
                },
                'icono': {
                    noSpace: true
                }
            },
            messages: {
                'nombre': {
                    required: "{{ 'Este campo es requerido.'|trans }}",
                    minlength: "{{ 'Debe ser mínimo de 3 caracteres.'|trans }}"
                }
            }
        });

    </script>
{% endblock %}
