{% extends '::'~app.session.get('empresa').plantilla %}
	{% block stylesheets %}
	    {{ parent() }}
	{% endblock %}

	{% block header %}
	    {{ parent() }}
	{% endblock %}

	{% block sidemenu %}
	    {{ parent() }}
	{% endblock %}

    
    {% block body %}
                <style type="text/css" >
                    .botonTut{
                        margin-left: 310px;
                        margin-top: 10px;
                    }
                    .descargaTut{
                        margin-left: 90px;"
                    }
                </style>

	    		<div class="container">
                    <div class="row mt-4">
                      
                       
                        <div class="col-12 text-center" style="">
                            <h3 class="titulo_faqs">Tutoriales</h3>
                        </div>

                    </div>
                    <section>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-10 col-lg-10 col-xl-10 col-md-10 col-sm-10 col-xs-10">
                                <h4 class="mt-3 pt-3 mb-0 pb-1 title-grey sub-line subtit_Tuto">{{tutorial.nombre}}</h4>
                            </div>
                        </div>
                        <div class="row mt-4 justify-content-center align-items-center">
                            <div class="col-lg-9 col-xl-9 col-md-9 col-sm-9 col-xs-9 col-9">
                                <h5 class="textTuto">{{tutorial.descripcion}} </h5>
                            </div>
                        </div>
                        <div class="row mt-4 justify-content-center align-items-center">
                            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                <video
                                       id="my-player"
                                       class="video-js vjs-fluid"
                                       controls
                                       preload="auto"
                                       poster="{{directorio~tutorial.id~'/'~tutorial.imagen}}"
                                       data-setup='{"playbackRates": [1, 1.5, 2], "fluid": true, "controlBar": { "muteToggle": false }}'>
                                    <source src="{{directorio~tutorial.id~'/'~tutorial.video}}" type="video/mp4"></source>
                                </video>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-center align-items-center">
                            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8 col-xs-8 col-8 text-right">
                                <div class="row">
                                    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8 col-xs-8 col-8 text-right descargaTut">
                                        <div class="dlTuto">
                                            <span class="textTuto">Puedes descargar el tutorial en formato PDF </span>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-2 col-2 text-right botonTut">
                                        {% if tutorial.pdf %}
                                         <a href="{{path('_descargarPdf')~'/'~tutorial.id}}">
                                            <button type="button" class="btn btn-primary bttnDownl " id="{{tutorial.id}}"><i class="material-icons" >cloud_download</i></button>
                                            <div class="tooltipN"><div class="tiparrow"></div><p class="textTooltip">{{ 'Descargar'|trans }}&nbsp;:&nbsp;{{tutorial.pdf}}</p></div>
                                        </a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 mb-3 justify-content-center align-items-center">
                            <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-xs-10 col-10 text-justify">
                                <div class="infoTuto">
                                    <p class="textInfoTuto">Recuerda que puedes escribir a: <a href="" data-toggle="modal" data-target="#modalSv" id="abrir_modal_soporte" class="abrir_modal_soporte">soporte@formacion2puntocero.com</a> en caso de tener alguna duda o inconveniente. El equipo de soporte te apoyará para que tu experiencia de aprendizaje culmine exitosamente.</p>
                                </div>
                            </div>
                        </div>
                       <div class="row justify-content-center">
                        <div class="col-auto text-center">
                                  <a href="{{path('_indexTutoriales')}}">
                                    <div class="btn-warning btn before_lesson" data="109-113-2-0" >{{ 'Volver'|trans }}</div>
                                  </a>
                        </div>
                    </div>
                    </section>
                </div>
            </div>        
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script> 
        <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
         <script src="{{ asset('front/js/plugins/Easy-Any-Content-Pagination-Plugin-jQuery-Paginate-js/src/jquery.paginate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/front/tutoriales.js') }}"></script>
    {% endblock %}

  
