!DOCTYPE html>
<html lang="en">
    <head>
        <title>certificado</title>
        <style type="text/css">
            html
            {
                margin-left:30% !important;
            }
            body{
                background: url({{ file }}) no-repeat;
            }
            #encabezado{
                margin-top:15%;
                margin-left:5%;
                font-family: Tahoma;
                font-size: 1.2em;
            }
            #nombre{
                margin-top:23;
                margin-left:2%;
                font-family: Tahoma;
                font-size: 1.8em;
                text-transform:uppercase;
            }
            #descripcion{
                margin-top:2%;
                margin-left:16%;
                font-family: Tahoma;
                font-size: 1.2em;
            }
            #titulo{
                margin-top:25px; 
                margin-left:15%;
                font-family: Tahoma;
                font-size: 2.3em;
                text-transform:uppercase;
            }
            #fecha{
                margin-top:1%;
                margin-left:-51%;
                font-family: Tahoma;
                font-size: 1em;
                text-align:center;
            }
            #contenido{
                width:50%;
                margin-left:15px; 
                margin-top:25px; 
                text-align:left; 
                font-size:12px; 
                line-height:20px;
                font-family: Tahoma;
            }            
        </style>
    </head>
    <body>
        <div id="encabezado">
            <span>{{ certificado.encabezado }}</span>
        </div>
        <div id="nombre">
            <span>{{ certificado.nombre }}</span>
        </div>
        <div id="descripcion">
            <span>{{ certificado.descripcion }}</span>
        </div>        
        <div id="titulo">
            <span>{{ certificado.titulo }}</span>
        </div>
        <div id="contenido">
            Durante dos días estuvieron reunidos los presidentes de seccionales AVEC provenientes de todo el país. Durante dos días estuvieron reunidos los presidentes de seccionales AVEC 
            provenientes de todo el país. Durante dos días estuvieron reunidos los presidentes de seccionales AVEC provenientes de todo el país. Durante dos días estuvieron reunidos los presidentes 
            de seccionales AVEC provenientes de todo el país. Durante dos días estuvieron reunidos los presidentes de seccionales AVEC provenientes de todo el país.
        </div>        
        <div id="fecha">
            <span>{{ certificado.fecha }}</span>
        </div>
        <qrcode value="http://www.eldesvandejose.com" ec="H" style="margin-left:600px; width: 25mm; background-color: white; color: black; border:none"></qrcode>         
    </body>
</html>