{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css') }}" type="text/css">
{% endblock %}

{% block body %}
{% set encabezado = 'Generar certificados'|trans %}

<input type="hidden" id="url_programas" name="url_programas" value="{{ path('_ajaxProgramasE') }}">
<input type="hidden" id="empresa_select" name="empresa_select" value="{{ empresa_select }}">
<input type="hidden" id="pagina_select" name="pagina_select" value="{{ pagina_select }}">
<input type="hidden" id="url_descarga" name="url_descarga" value="{{ path('_DescargarZip', {'ruta':pagina }) }} ">
<form id="form" name="form" action="{{ path( '_GenerarCertificadosZip', { 'app_id': app.session.get('app_id') })}}"  method="POST">

    <br><br>

    <div class="row">
        <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16">
            <div class="card">
                <div class="card-header"  style=" background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%); ">
                    <h5 class="card-title">{{ encabezado }}</h5>
                </div>
                <div class="card-block">
                    {# if not usuario_empresa #}
                        <label for="texto" class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">{{'Empresa' | trans }}</label>
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                                <select class="form_sty_sel form-control" style="border-radius: 5px" id="empresa_id" name="empresa_id" {% if empresa_select %} {{'disabled'}} {% endif %}>
                                    <option value=""></option>
                                    {% for empresa in empresas %}
                                        {% if empresa.id == empresa_select %}
                                            <option value="{{ empresa.id }}" selected  >{{ empresa.nombre }}</option>
                                        {% else%}
                                        <option value="{{ empresa.id }}"  >{{ empresa.nombre }}</option>
                                        {%endif%}
                                    {% endfor %}
                                </select>
                                <span class="fa fa-industry"></span>
                                <span class="bttn_d"><img src="{{asset ('img/down-arrowbck.png')}}"></span>
                            </div>
                        </div>
                        <br>

                    <label for="texto" class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">{{'Programas' |trans}}</label>
                    <div class="row">
                        <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                            <select class="form_sty_sel form-control" style="border-radius: 5px" id="programa_id" name="programa_id">
                            </select>
                            <span class="fa fa-industry"></span>
                            <span class="bttn_d"><img src="{{asset ('img/down-arrowbck.png')}}"></span>
                            <img id="pagina-loader" class="img-loader descargable" src="{{ asset('img/ui-anim_basic_16x16.gif') }}" style="display:none;">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <label for="texto" class="col-6 col-form-label">{{ 'Fecha inicio'|trans }}</label>
                            <div class="col-14">

                                <input type="text" class="form-control form_sty1 date_picker" name="fechaD" id="fechaD"  placeholder="DD/MM/YYYY">
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <label for="texto" class="col-6 col-form-label">{{ 'Fecha fin'|trans }}</label>
                            <div class="col-14">

                                <input type="text" class="form-control form_sty1 date_picker" name="fechaH" id="fechaH"  placeholder="DD/MM/YYYY">
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" >
                    <div class="col-sm-16 col-md-16 text-right">
                        <button type="submit" id="search" class="bttn__saved" data-toggle="tooltip" data-placement="bottom" title="{{ 'Consultar'|trans }}"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cargando" style="display: none;" >
        <div class="col-sm-16">
            <div class="card">
                <div class="card-block">
                    <div class="load1 load-wrapper">
                        <div class="loader">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if resultado == true %}
        <div class="row" >
            <div class="col-sm-16">
                <div class="card">
                    <div class="card-block">
                        <div id="resultado" style=" cursor:pointer">
                            <div class="list-unstyled member-list row">
                                <div class="col-lg-4 col-sm-8 col-xs-16 offset-sm-4 offset-md-4 offset-lg-6">
                                    <div class="media flex-column"> <span class="message_userpic text-success"><i class="fa fa-file-zip-o"></i></span>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1" id="document_name">{{pagina}}.zip</h6>
                                        <button type="button" class="btn btn-link btn-sm"><i class="fa fa-download m-0"></i> {{ 'Descargar'|trans }}</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% elseif resultado == false and pagina_select %}
        <div class="row" >
            <div class="col-sm-16">
                <div class="card">
                    <div class="card-block">
                        <div id="resultado1" >
                            <div class="list-unstyled member-list row">
                                <div class="col-lg-4 col-sm-8 col-xs-16 offset-sm-4 offset-md-4 offset-lg-6">
                                    <div class="media flex-column"> <span class="message_userpic text-success"><i class="fa fa-file-zip-o"></i></span>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1" id="document_name">No hay participantes aprobados</h6>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</form>
<div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error" style="display:none;">
        <ul></ul>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('js/admin/reportes/generarCertificados.js') }}"></script>
    <script type="text/javascript">

        $('#search').click(function(){
            var valid = $("#form").valid();
            if (!valid)
            {
                notify($('#div-error').html());
            }
            else {
                $('#cargando').show();
                $('.load1').show();
                $('#form').submit();

            }
        });

        $("#form").validate({
            errorLabelContainer: "#div-error ul",
            wrapper: "li",
            ignore: "",
            rules: {
                'fechaD': {
                    required: true
                },
                'fechaH': {
                    required: true
                },
                'empresa_id': {
                    required: true
                },
                'programa_id': {
                    required: true
                }
            },
            messages: {
                'fechaD': {
                    required: "- {{ 'La fecha inicio es requerida.'|trans }}",

                },
                'fechaH': {
                    required: "- {{ 'La fehca fin es requerida.'|trans }}"
                },
                'empresa_id': {
                    required: "- {{ 'La empresa es requerida.'|trans }}",
                },
                'programa_id': {
                    required: "- {{ 'El programa es requerido.'|trans }}",
                }
            }
        });

    </script>
{% endblock %}