{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/jquery.fileupload.css') }}">
    <style>
        .menu{
            width: 60%;
            height: 300px;
        }
        body {
            margin-bottom: 300px;
        }
        label.error, label.mensaje-error {
            color: #f00c0c;
        }
        .margin_container{
            margin: 1rem 2rem;
        }
        .margin1{
            width: 80%;
        }
        .margin2{
            padding: calc(3rem - 6px) 2rem calc(2rem - 5px) 2rem;
            width:57.25rem;
        }
        .table-card-det .f-card-det {
            padding: calc(3rem - 6px) 2rem calc(2rem - 5px) 2rem;
            width: 72.25rem;
            border-bottom: 1px solid #F0F4F7;
            width: 57.25rem;
        }
    </style>
{% endblock %}

{% block header %}
    <nav class="navbar justify-content-between py-0 fixed-top bg-white">
        <div class="logo d-sm-block d-md-block">
            <a class="navbar-brand" href="{{ path('_inicio') }}">
                {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion_smart.png') : asset('front/assets/img/logo_formacion_smart.png') %}
                <img class="img-fluid py-1 {{ app.session.get('empresa').tipo_logo }}" src="{{ img_logo }}" alt="logo formación smart">
            </a>
        </div>
        <div class="wraper-title-lesson d-flex flex-column align-items-center">
            <h4 class="mt-2 mb-1 color-light-grey" >{{ 'Espacio colaborativo'|trans }}</h4>
            <h6 class="mt-0 color-light-grey" >{{ programa.nombre }}</h6>
        </div>
        <div class="navbar-brand d-flex justify-content-center align-items-center" href="#">
            <a id="iconDownloads" href="#" title="{{ 'Archivos de este espacio'|trans }}" data-toggle="tooltip" data-placement="bottom">
                <i class="material-icons mx-3 color-light-grey">cloud_download</i>
            </a>
            {{ include('LinkFrontendBundle:Default:notificaciones.html.twig') }}
            <div class="d-flex flex-column">
                <div class="wrapperDdMenu" title="{{ 'Perfil del participante'|trans }}" data-toggle="tooltip" data-placement="bottom">
                    <a href="#" class="perfil no-decorate" id="config">
                        {% set img = app.session.get('usuario').foto is defined ? app.session.get('usuario').foto is not null and app.session.get('usuario').foto != '' ? uploads~app.session.get('usuario').foto : asset('front/assets/img/user.svg') : asset('front/assets/img/user.svg') %}
                        <img class="img-fluid mx-auto avatar-img" src="{{ img }}" alt="usuario"><span class="material-icons color-light-grey icDown">expand_more</span>
                    </a>
                    <ul class="dropDownMenu">
                        <li class="mark"></li>
                        <a href="{{ path('_usuariop') }}">
                            <li class="opcList">
                                <span>{{ 'Perfil del participante'|trans }} <i class="material-icons icMenu">style</i></span>
                            </li>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#modalCs">
                            <li class="opcList markOpc">
                                <span>{{ 'Cerrar sesión'|trans }}<i class="material-icons icMenu">exit_to_app</i></span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block sidemenu %}
    {{ render(controller('LinkFrontendBundle:Leccion:menu', { 'programa_id': programa.id, 'subpagina_id': subpagina_id, 'active': 'espacio' })) }}
{% endblock %}

{% block body %}

    <input type="hidden" id="foro_main_id" name="foro_main_id" value="{{ foro.id }}">
    <input type="hidden" id="usuario_name" name="usuario_name" value="{{ app.session.get('usuario').nombre }}">
    <input type="hidden" id="foro_id" name="foro_id" value="0">
    <input type="hidden" id="pagina_id" name="pagina_id" value="{{ programa.id }}">
    <input type="hidden" id="mensaje_content" name="mensaje_content" value="">
    <input type="hidden" id="offset" name="offset" value="0">
    <input type="hidden" id="url_save" name="url_save" value="{{ path('_ajaxSaveForoResponse') }}">
    <input type="hidden" id="url_like" name="url_like" value="{{ path('_ajaxLike') }}">
    <input type="hidden" id="url_delete" name="url_delete" value="{{ path('_ajaxDeleteForo') }}">
    <input type="hidden" id="url_more" name="url_more" value="{{ path('_ajaxMasForo') }}">
    <input type="hidden" id="url_upload" name="url_upload" value="{{ path('_ajaxUploadForoArchivo') }}">
    <input type="hidden" id="url_archivo" name="url_archivo" value="{{ path('_ajaxSaveForoArchivo') }}">
    <input type="hidden" id="usuario_id" name="usuario_id" value="{{ app.session.get('usuario').id }}">
    <input type="hidden" id="base_upload" name="base_upload" value="recursos/espacio/{{ foro.empresa.id }}/{{ foro.id }}/">

    <section>
        <div class="modal modal-resp" id="modalresp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-end">
                    <div class="col-auto">
                        <a class="close btn_close_modal cancel" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-3 mb-2 align-items-center justify-content-center">
                    <div class="col-auto text-center">
                        <h4 class="titulo">{{ 'Responder publicación'|trans }}</h4>
                    </div>
                </div>
                <form id="form-reResponse" method="POST">
                    <div class="row pl-3 align-items-center justify-content-center">
                        <div class="form-group">
                            <div class="col-12">
                                <label class="mb-2 titulo-form" for="mensaje"> {{ 'Tu respuesta'|trans }}: </label>
                                <textarea rows="3" id="mensaje_reResponse" name="mensaje_reResponse" cols="30"></textarea>
                                <label id="mensaje-error-reResponse" class="mensaje-error" for="mensaje_reResponse" style="display:none;">{{ 'Este campo es requerido.'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center justify-content-end">
                        <div class="col-auto text-left">
                            <button type="button" class="btn btn-warning boton cancel" data-dismiss="modal" id="cancelar">{{ 'Cancelar'|trans }}</button>
                        </div>
                        <div class="col-auto text-right">
                            <button type="button" class="btn btn-primary boton" id="responder">{{ 'Responder'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="modal modalCEval" id="modalupload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-end">
                    <div class="col-auto">
                        <a class="close btn_close_modal cancelUpload" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-3 mb-2 align-items-center justify-content-center">
                    <div class="col-auto text-center">
                        <h4 class="titulo">{{ 'Subir archivo'|trans }}</h4>
                    </div>
                </div>
                <form id="form-upload" method="POST">
                    <input type="hidden" id="upload_foro_id" name="upload_foro_id" value="{{ foro.id }}">
                    <input type="hidden" id="upload_pagina_id" name="upload_pagina_id" value="{{ programa.id }}">
                    <div class="row pl-3 align-items-center justify-content-center">
                        <div class="col-12">
                            <label class="mb-2 titulo-form" for="descripcion"> {{ 'Descripción'|trans }}: </label>
                            <input type="text" class="form-control mb-4" id="descripcion" name="descripcion">
                        </div>
                    </div>
                    <div class="row pl-3 align-items-center justify-content-center">
                        <div class="col-10">
                            <input type="text" class="form-control mb-4" id="archivo_input" name="archivo_input" placeholder="{{ 'Seleccione el archivo'|trans }}" readonly="readonly">
                            <input type="hidden" id="archivo" name="archivo" value="">
                        </div>
                        <div class="col-2">
                            <a href="#" class="fileinput-button">
                                <span class="material-icons color-light-grey icUpload" title="{{ 'Subir archivo'|trans }}" data-toggle="tooltip" data-placement="bottom">file_upload</span>
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </a>
                        </div>
                    </div>
                    <div class="row pl-3 align-items-center justify-content-center">
                        <div class="col-12">
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row mb-3 align-items-center justify-content-end">
                        <div class="col-auto text-left">
                            <button type="button" class="btn btn-warning boton cancelUpload" data-dismiss="modal" id="cancelarUpload">{{ 'Cancelar'|trans }}</button>
                        </div>
                        <div class="col-auto text-right">
                            <button type="button" class="btn btn-primary boton" id="saveFile">{{ 'Guardar'|trans }}</button>
                        </div>
                    </div>
                    <div class="row justify-content-center" style="display:none;" id="wait_file">
                        <div class="col-auto px-0 py-0">
                            <div class="contenedor">
                                <div class="radar"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <section class="esp_col margin_container" id="section-list">
        <div class="row align-items-center justify-content-between" style="margin-left:75px;">
            <div class="col-4 col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 text-left">
                <a class="" href="{{ path('_espacioColaborativo', { 'programa_id': programa.id, 'subpagina_id': subpagina_id }) }}"><button class="btn btn-primary btn-nw-tema">{{ 'Volver al listado'|trans }}</button></a>
            </div>
        </div>
        <div class="row">
            <div class="lesson-container container py-4 text-center">
                <h2>{{ foro.tema }}</h2>
            </div>
            <ul class="table-card-det margin1">
                <li class="f-card-det ">
                    <div class="cont-det">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                {% set img_user = foro.usuario.foto ? uploads~foro.usuario.foto : asset('front/assets/img/user-default.png') %}
                                {% set autor = foro.usuario.id == app.session.get('usuario').id ? 'Yo'|trans : foro.usuario.nombre~' '~foro.usuario.apellido %}
                                <img class="img-ec-det" src="{{ img_user }}" alt="">
                                <span class="name_ft">{{ autor }} <span class="coment_ft">{{ timeAgo }}</span></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 text-justify">
                                {{ foro.mensaje|raw }}
                            </div>
                        </div>
                        <div class="row align-items-end foo-esp_col-det justify-content-between">
                            <div class="col-auto">
                                <span class="like_ft like" data="{{ foro.id }}"><i id="like{{ foro.id }}" class="material-icons ic-lke {{ likes.ilike ? 'ic-lke-act' : '' }}">thumb_up</i> <span id="cantidad_like-{{ foro.id }}">{{ likes.cantidad }}</span></span>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="resp-down">
                                    <span class="resp_ft"><i class="material-icons ic-rpy">reply</i>{{ 'Responder'|trans }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="table-card-det margin1">
                {% for foro_hijo in foros_hijos %}
                    <li class="f-card-det" id="toDel-{{ foro_hijo.id }}">
                        <div class="cont-det">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    {% set img_user = foro_hijo.foto ? uploads~foro_hijo.foto : asset('front/assets/img/user-default.png') %}
                                    <img class="img-ec-det" src="{{ img_user }}" alt="">
                                    <span class="name_ft">{{ foro_hijo.usuario }} <span class="coment_ft">{{ foro_hijo.timeAgo }}</span></span>
                                </div>
                                {% if foro_hijo.delete_link == 1 %}
                                    <div class="col-auto">
                                        <div class="text-right">
                                            <a href="#" data-toggle="modal" data-target="#modalDelete"><span class="material-icons ic-del" data="{{ foro_hijo.id }}">delete</span></a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 text-justify">
                                    {{ foro_hijo.mensaje|raw }}
                                </div>
                            </div>
                            <div class="row align-items-end foo-esp_col-det justify-content-between">
                                <div class="col-auto">
                                    <span class="like_ft like" data="{{ foro_hijo.id }}"><i id="like{{ foro_hijo.id }}" class="material-icons ic-lke {{ foro_hijo.likes.ilike ? 'ic-lke-act' : '' }}">thumb_up</i> <span id="cantidad_like-{{ foro_hijo.id }}">{{ foro_hijo.likes.cantidad }}</span></span>
                                </div>
                                <div class="col-auto">
                                    <a href="#" data-toggle="modal" data-target="#modalresp" class="reResponse" data="{{ foro_hijo.id }}">
                                        <span class="resp_ft"><i class="material-icons ic-rpy">reply</i>{{ 'Responder'|trans }}</span>
                                    </a>
                                </div>
                            </div>
                            {% for foro_nieto in foro_hijo.respuestas %}
                                <div class="row resp-rply justify-content-center" id="toDel-{{ foro_nieto.id }}">
                                    <div class="col-12 text-justify">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                {% set img_user = foro_nieto.foto ? uploads~foro_nieto.foto : asset('front/assets/img/user-default.png') %}
                                                <img class="img-ec-det" src="{{ img_user }}" alt="">
                                                <span class="name_ft">{{ foro_nieto.usuario }} <span class="coment_ft">{{ foro_nieto.timeAgo }}</span></span>
                                            </div>
                                            {% if foro_nieto.delete_link == 1 %}
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="#" data-toggle="modal" data-target="#modalDelete"><span class="material-icons ic-del" data="{{ foro_nieto.id }}">delete</span></a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-12 text-justify">
                                                {{ foro_nieto.mensaje|raw }}
                                            </div>
                                        </div>
                                        <div class="row align-items-end foo-esp_col-det justify-content-between">
                                            <div class="col-auto">
                                                <span class="like_ft like" data="{{ foro_nieto.id }}"><i id="like{{ foro_nieto.id }}" class="material-icons ic-lke {{ foro_nieto.likes.ilike ? 'ic-lke-act' : '' }}">thumb_up</i> <span id="cantidad_like-{{ foro_nieto.id }}">{{ foro_nieto.likes.cantidad }}</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div id="div_addReResponse{{ foro_hijo.id }}">
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <div id="div_addResponse">
                </div> 
                {% if total_aportes > foros_hijos|length %}
                    <li class="f-card-det-resp" id="more_sons">
                        <div class="row mt-0 mb-3 align-items-center justify-content-center">
                            <div class="col-auto">
                                <input type="hidden" id="offset" name="offset" value="0">
                                <a href="#more_sons" class="link more_sons"><i class="material-icons ic-plus">add</i>{{ 'Ver más'|trans }} </a> 
                            </div>
                        </div>
                    </li>
                {% endif %}
                <li class="f-card-det-resp" id="li_responder">
                    <form id="form-response" method="POST">
                        <div class="row align-items-center justify-content-center">
                            <div class="form-group">
                                <div class="col-12">
                                    <label class="mb-2 titulo-form" for="mensaje"> {{ 'Tu respuesta'|trans }}: </label>
                                    <textarea rows="3" id="mensaje_response" name="mensaje_response" cols="30"></textarea>
                                    <label id="mensaje-error-response" class="mensaje-error" for="mensaje_response" style="display:none;">{{ 'Este campo es requerido.'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto text-right">
                                <button type="button" class="btn btn-primary boton" id="publicar">{{ 'Responder'|trans }}</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="form-group text-right">
                        <a id="iconDownloads2" href="#li_responder"><span class="material-icons color-light-grey icUpload" title="{{ 'Subir archivo'|trans }}" data-toggle="tooltip" data-placement="bottom">file_upload</span></a>
                    </div>


                </li>
            </ul>
        </div>
    </section>

    <div class="row justify-content-center" style="display:none;" id="wait">
        <div class="col-auto px-0 py-0">
            <div class="contenedor">
                <div class="radar"></div>
            </div>
        </div>
    </div>

    <div class="downloads">
        <div class="d-flex px-3 row justify-content-between">
            <div class="col-auto col-sm-auto col-md-auto col-xl-auto col-lg-auto">
                <h5 class="color-grey text-left titulo">{{ 'Descargas'|trans }}</h5>
            </div>
            <div class="col-auto col-sm-auto col-md-auto col-xl-auto col-lg-auto d-flex">
                <a href="#" data-toggle="modal" data-target="#modalupload"><span class="material-icons color-light-grey icUpload" title="{{ 'Subir archivo'|trans }}" data-toggle="tooltip" data-placement="bottom">file_upload</span></a>
                <span class="color-light-grey barra">|</span>
                <a href="#"><span class="material-icons color-light-grey icClose" id="iconCloseDownloads" title="{{ 'Cerrar panel'|trans }}" data-toggle="tooltip" data-placement="bottom">clear</span></a>
            </div>
        </div>
        <div class="row justify-content-center cont-downloads">
            <ul class="list-downloads">
                {% for archivo in archivos %}
                    <li class="element-downloads">
                        <div class="row px-0 d-flex justify-content-between">
                            <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto px-0 d-flex">
                                <img src="{{ archivo.img }}" class="imgdl" alt="">
                                <p class="nameArch">{{ archivo.descripcion }}</p>
                            </div>
                            <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto px-0">
                                <div class="cont-opc">
                                    {% set file = uploads~archivo.archivo %}
                                    <a href="{{ file }}" target="_blank"><span class="material-icons icDl" title="{{ 'Descargar archivo'|trans }}" data-toggle="tooltip" data-placement="bottom">file_download</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row px-0 justify-content-start">
                            <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto px-0 d-flex">
                                <p class="nameUpload">{{ archivo.usuario }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Modal Eliminar Tema -->
    <div class="modal modalCEval" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <input type="hidden" id="foro_delete_id" name="foro_delete_id" value="0">
        <div class="container-fluid">
            <div class="row mt-6 justify-content-center align-items-center">
                <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                    <h4 class="titulo">{{ '¿Estás segur@ de que deseas eliminar este registro?'|trans }}</h4>
                </div>
            </div>
            <div class="row mt-3 align-items-center justify-content-center">
                <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-center">
                    <button type="button" id="eliminar" class="btn btn-primary btn-Cs btn-modalDelete">{{ 'Eliminar'|trans }}</button>
                </div>
            </div>
            <div class="row mt-3 align-items-end justify-content-center">
                <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                    <a href="#" class="cancelarCs btn-modalDelete" data-dismiss="modal">{{ 'Cancelar'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/js/esp_col.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/ckeditor/config.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/detalle_espacio_colaborativo.js') }}"></script>
    <script type="text/javascript">
        $("#form-upload").validate({
            rules: {
                'descripcion': {
                    required: true,
                    minlength: 3
                },
                'archivo_input': {
                    required: true,
                    extension: "jpg|png|jpeg|gif|bmp|tiff|svg|doc|docx|xls|xlsx|pdf"
                }
            },
            messages: {
                'descripcion': {
                    required: "{{ 'La descripción es requerida.'|trans }}",
                    minlength: "{{ 'La descripción debe ser mínimo de 3 caracteres.'|trans }}"
                },
                'archivo_input': {
                    required: "{{ 'El archivo es requerido.'|trans }}",
                    extension: "{{ 'Extensiones aceptadas'|trans }}: jpg, png, jpeg, gif, bmp, tiff, svg, doc, docx, xls, xlsx, pdf"
                }
            }
        });
    </script>
{% endblock %}