{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jq/jquery-ui.css') }}">
    <style>
        .menu{
            width: 60%;
            height: 300px;
        }
        body {
            margin-bottom: 300px;
        }
        label.error, label.mensaje-error {
            color: #f00c0c;
        }
        .ui-autocomplete-loading {
            background: white url("{{ asset('img/ui-anim_basic_16x16.gif') }}") right center no-repeat;
        }
    </style>
    
{% endblock %}

{% block body %}

<input type="hidden" id="url_search" name="url_search" value="{{ path('_ajaxSearchNoticia') }}">
<input type="hidden" id="url_detalle" name="url_detalle" value="{{ path('_noticiaDetalle') }}">

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>{{'Noticias y Novedades'|trans }}</h3>
        </div>
    </div>
    <div class="cont-noticias">
        <div class="row align-item-center justify-content-center mt-5">
            <div class="col-6 col-lg-6 col-xl-6 col-md-8 col-sm-8 col-xs-8">
                <input type="search" id="search" class="form-control" placeholder="{{ 'Ingrese lo que desea buscar'|trans }}">
                <button type="button" class="btn-search"><span class="material-icons ic-search">search</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="filter-group d-flex justify-content-around mb-3">
                    <ul class="tabs" id="tab">
                        <li class="activo mt-3">
                            <span>{{ 'Todos'|trans }}</span>
                        </li>
                        <li class="mt-3">
                            <span>{{ 'Noticias'|trans }}</span>
                        </li>
                        <li class="mt-3">
                            <span>{{ 'Novedades'|trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="wrapper">
            <div class="cards-section container d-flex justify-content-between justify-content-sm-center flex-wrap mt-3">
                <div class="contents">
                    {% set division = todos|length / 4 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% for todo in todos %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = row == filas ? 'rowDimension' : ' ' %}
                            <div class="row {{dimension}}">
                        {% endif %}
                        <div class="col-3 col-lg-3 col-xl-3 col-md-4 col-sm-6 col-xs-6">
                            <a href="{{ path('_noticiaDetalle', { 'noticia_id': todo.id}) }}">
                                <div class="card-anuncio">
                                    <div class="card_header">
                                        {% set img = uploads~todo.imagen %}
                                        <img class="card_img" src="{{img}}" alt="Card image cap">
                                    </div>
                                    <div class="card_body">
                                        <h5 class="titulo_anuncio">{{ todo.titulo }}</h5>
                                    </div>
                                    <div class="card_footer">
                                        <hr class="separador">
                                        <div class="row mb-3">
                                            <div class="col-5 offset-1
                                                        col-lg-5 offset-lg-1 
                                                        col-xl-5 offset-xl-1 
                                                        col-md-5 offset-md-1 
                                                        col-sm-5 offset-sm-1 
                                                        col-xs-5 offset-xs-1 
                                                        px-0">
                                                <span class="fecha_anuncio">{{ todo.fecha }}</span>
                                            </div>
                                            <div class="col-5 
                                                        col-lg-5 
                                                        col-xl-5 
                                                        col-md-5 
                                                        col-sm-5 
                                                        col-xs-5 
                                                        text-right 
                                                        px-0">
                                                <span class="tipo_anuncio{{todo.tid}}">{{ todo.tipo }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% if loop.index is divisibleby(4) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row == filas ? 'rowDimension' : ' ' %}
                                <div class="row {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contents">
                    {% set division = noticias|length / 4 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% for noticia in noticias %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = row == filas ? 'rowDimension' : ' ' %}
                            <div class="row {{dimension}}">
                        {% endif %}
                        <div class="col-3 col-lg-3 col-xl-3 col-md-4 col-sm-6 col-xs-6">
                            <a href="{{ path('_noticiaDetalle', { 'noticia_id': noticia.id}) }}">
                                <div class="card-anuncio">
                                    <div class="card_header">
                                        {% set img = uploads~noticia.imagen %}
                                        <img class="card_img" src="{{img}}" alt="Card image cap">
                                    </div>
                                    <div class="card_body">
                                        <h5 class="titulo_anuncio">{{ noticia.titulo }}</h5>
                                    </div>
                                    <div class="card_footer">
                                        <hr class="separador">
                                        <div class="row mb-3">
                                            <div class="col-5 offset-1
                                                        col-lg-5 offset-lg-1 
                                                        col-xl-5 offset-xl-1 
                                                        col-md-5 offset-md-1 
                                                        col-sm-5 offset-sm-1 
                                                        col-xs-5 offset-xs-1 
                                                        px-0">
                                                <span class="fecha_anuncio">{{ noticia.fecha }}</span>
                                            </div>
                                            <div class="col-5 
                                                        col-lg-5 
                                                        col-xl-5 
                                                        col-md-5 
                                                        col-sm-5 
                                                        col-xs-5 
                                                        text-right 
                                                        px-0">
                                                <span class="tipo_anuncio{{noticia.tid}}">{{ noticia.tipo|trans }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% if loop.index is divisibleby(4) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row == filas ? 'rowDimension' : ' ' %}
                                <div class="row {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contents">
                    {% set division = novedades|length / 4 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% for novedad in novedades %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = row == filas ? 'rowDimension' : ' ' %}
                            <div class="row {{dimension}}">
                        {% endif %}
                        <div class="col-3 col-lg-3 col-xl-3 col-md-4 col-sm-6 col-xs-6">
                            <a href="{{ path('_noticiaDetalle', { 'noticia_id': novedad.id}) }}">
                                <div class="card-anuncio">
                                    <div class="card_header">
                                        {% set img = uploads~novedad.imagen %}
                                        <img class="card_img" src="{{img}}" alt="Card image cap">
                                    </div>
                                    <div class="card_body">
                                        <h5 class="titulo_anuncio">{{ novedad.titulo }}</h5>
                                    </div>
                                    <div class="card_footer">
                                        <hr class="separador">
                                        <div class="row mb-3">
                                            <div class="col-5 offset-1
                                                        col-lg-5 offset-lg-1 
                                                        col-xl-5 offset-xl-1 
                                                        col-md-5 offset-md-1 
                                                        col-sm-5 offset-sm-1 
                                                        col-xs-5 offset-xs-1 
                                                        px-0">
                                                <span class="fecha_anuncio">{{ novedad.fecha }}</span>
                                            </div>
                                            <div class="col-5 
                                                        col-lg-5 
                                                        col-xl-5 
                                                        col-md-5 
                                                        col-sm-5 
                                                        col-xs-5 
                                                        text-right 
                                                        px-0">
                                                <span class="tipo_anuncio{{novedad.tid}}">{{ novedad.tipo }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% if loop.index is divisibleby(4) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row == filas ? 'rowDimension' : ' ' %}
                                <div class="row {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#notiNove').addClass("active");
        });
    </script>
    <script src="{{ asset('jq/jquery-ui.js') }}"></script>
    <script src="{{ asset('front/js/jquery.tabpager.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/tabsPag.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('js/front/noticia.js') }}"></script> 
{% endblock %}