<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,400i,600,600i,700|Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>
            {% if app.session.started and app.session.get('empresa').titulo is defined and app.session.get('empresa').titulo != '' %}
                {{ app.session.get('empresa').titulo }}
            {% else %}
                {{ 'Sistema Formación Smart'|trans }}
            {% endif %}
        </title>
        {% set img = app.session.get('empresa').favicon is defined ? app.session.get('empresa').favicon is not null and app.session.get('empresa').favicon != '' ? uploads~app.session.get('empresa').favicon : asset('img/icono.png') : asset('img/icono.png') %}
        <link rel="stylesheet" href="{{ asset('front/js/plugins/introjs/introjs.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ img }}" />
        <link rel="stylesheet" href="{{ asset('front/base_styles/css/bootstrap/bootstrap.css') }}">
        {% set css = app.session.get('empresa').css is defined ? app.session.get('empresa').css is not null and app.session.get('empresa').css != '' ? asset(app.session.get('empresa').css) : asset('front/client_styles/formacion/css/main.css') : asset('front/client_styles/formacion/css/main.css') %}
        <link rel="stylesheet" href="{{ css }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/js/plugins/SlickCircularCountDown.js/css/jquery.classycountdown.css') }}"/>
        <style type="text/css">
            #psc {
                font-weight: bold;
            }
        .disabled {
            cursor: default;
        }
        .card-footer {
            transform: translateY(0);
        }
        .card .badge-wrap {
            transform: translateY(0);
        }
        </style>
    </head>
    
    <body>
        
        <input type="hidden" id="nro" name="nro" value="1">
        <input type="hidden" id="duracion" name="duracion" value="{{ duracion }}">
        <input type="hidden" id="pregunta_id" name="pregunta_id" value="{{ preguntas[0]['id'] }}">
        <input type="hidden" id="total" name="total" value="{{ preguntas|length }}">
        <input type="hidden" id="prueba_log_id" name="prueba_log_id" value="{{ prueba_log.id }}">
        <input type="hidden" id="pregunta_str" name="pregunta_str" value="{{ preguntas_str }}">
        <input type="hidden" id="preguntas_sin_contestar" name="preguntas_sin_contestar" value="">
        <input type="hidden" id="url_respuesta" name="url_respuesta" value="{{ path('_ajaxTestResponse') }}">
        <input type="hidden" id="url_fin" name="url_fin" value="{{ path('_finTest', { 'programa_id': programa.id, 'prueba_log_id': prueba_log.id, 'cantidad_preguntas': preguntas|length, 'preguntas_str': preguntas_str }) }}">
        <input type="hidden" id="url_resultados" name="url_resultados" value="{{ path('_resultadosTest', { 'programa_id': programa.id, 'prueba_log_id': prueba_log.id }) }}">
        <input type="hidden" id="url_cambiar_estado" name="url_cambiar_estado" value="{{ path('_ajaxCambiarEstado') }}">
        <input type="hidden" id="paso_actual_intro" name="paso_actual_intro" value="{{ paso_actual_intro }}" data-pasoCorrecto="3">
        <input type="hidden" id="cancelar_intro" name="cancelar_intro" value="{{ cancelar_intro }}">
        {% set categoria = prueba_log.prueba.pagina.categoria.nombre %}
        {% if categoria == 'Materia' %}
            {% set articulo = 'de la'|trans %}
        {% elseif categoria == 'Lección' %}
            {% set articulo = 'de la'|trans %}
        {% else %}
            {% set articulo = 'del'|trans %}
        {% endif %}

        <header>
            <nav class="navbar eval_header justify-content-center py-0 fixed-top bg-white d-flex flex-column-reverse flex-md-row flex-nowrap justify-content-md-evenly">
                <div class="navbar-brand d-flex justify-content-center align-items-center" id="tuto_step4">
                    <a href="#" data-toggle="modal" data-target="#modalCe" class="d-flex align-items-center">
                        <i class="material-icons mr-3 color-light-grey rotate-180 exit_eval">exit_to_app</i>
                        <span class="txt_eval_header">{{ 'Salir de la evaluación'|trans }}</span>
                    </a>
                </div>
                <div class="navbar-brand justify-content-center align-items-center " href="#">
                    <h2 class="titulo_eval mx-0">{{ programa.categoria.nombre }}: {{ programa.nombre }}</h2>
                    <h5 class="sub_titulo_eval mx-0">{{ 'Evaluación'|trans }} {{ articulo }} {{ categoria }}: {{ prueba_log.prueba.pagina.nombre }}</h5>
                </div>
                <div class="countDownHMS" id="divCountD">
                    <div class="countDownC classCountD"></div>
                </div>
                <a class="navbar-brand" href="#">
                    {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion_smart.png') : asset('front/assets/img/logo_formacion_smart.png') %}
                    <img class="img-fluid py-1 {{ app.session.get('empresa').tipo_logo }}" src="{{ img_logo }}" alt="logo formación smart">
                </a>
            </nav>
        </header>
        {# {% if paso_actual_intro == 1 and not cancelar_intro %} #}
            <div class="tuto-intro-overlay">
                <div class="tuto-intro-modal">
                    <h2 class="tuto-intro-title">
                        ¡Bienvenido!
                    </h2>
                    <p class="tuto-intro-text">
                        ¿Quieres hacer un tour guiado?
                    </p>
                    <div class="tuto-intro-buttons">
                        <div class="tuto-intro-button btn mb-2" id="tuto-btn-start">
                            Comenzar
                        </div>
                        <div class="tuto-intro-skip" id="tuto-btn-skip">
                            Omitir
                        </div>
                    </div>
                </div>
            </div>
        <div class="container-fluid mt-18v mb-5 mt-md-15rem">

            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mx-auto eval-progress" id="tuto-step1">
                <div class="col-12 col-md-3 px-sm-0 px-0 text-center d-flex justify-content-center justify-content-md-start">
                    {% set total = preguntas|length < 10 ? '0'~preguntas|length : preguntas|length %}
                    <span class="num_preg"><span id="nro_pregunta">01</span> / {{ total }}</span>
                </div>
                <div class="col-12 col-md-6 px-sm-0 mt-2">
                    <div class="progress progUb">
                        <div class="progress-bar progress-bar_eval" role="progressbar" id="progreso" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            
            {% for pregunta in preguntas %}

                <div id="pregunta-{{ loop.index }}" {{ loop.index==1 ? '' : 'style="display:none;"' }} data="{{ pregunta.id }}" class="pregunta">
                    {% set img = pregunta.imagen ? uploads~pregunta.imagen : '' %}
                    {% if img != '' %}
                        <div class="row justify-content-center align-items-center">
                            <div class="col-8 enun">
                                <img class="img-enun_eval" src="{{ img }}" alt="">
                    {% else %}
                        <div class="row justify-content-center">
                            <div class="col-12 align-items-center d-flex flex-column">
                    {% endif %}
                            <p class="enun_eval my-2">
                                {{ pregunta.enunciado }}
                            </p>
                        </div>
                    </div>

                    <form id="form-pregunta{{ pregunta.id }}" method="POST">
                        {% if pregunta.tipo_pregunta != tipo_pregunta.asociacion %}
                            {# Opciones simples o múltiples #}
                            <input type="hidden" id="pregunta_id{{ pregunta.id }}" name="pregunta_id{{ pregunta.id }}" value="">
                            {{ include('LinkFrontendBundle:Test:opciones.html.twig', { 'opciones': pregunta.opciones, 'tipo_pregunta': pregunta.tipo_pregunta, 'tipo_elemento': tipo_elemento, 'tipo_elemento_pregunta': pregunta.tipo_elemento, 'pregunta_id': pregunta.id, 'intro_class': 'tuto_step2' }) }}
                        {% else %}
                            {# Opciones de asociación #}
                            {{ include('LinkFrontendBundle:Test:opcionesAsociacion.html.twig', { 'opciones': pregunta.opciones, 'tipo_elemento': tipo_elemento, 'tipo_elemento_pregunta': pregunta.tipo_elemento, 'pregunta_id': pregunta.id, 'intro_class': 'tuto_step2' }) }}
                        {% endif %}
                    </form>

                </div>

            {% endfor %}

            <div class="row mt-3 mt-md-5 align-items-center justify-content-around">
                <div class="col-6 text-center">
                    <a href="#" class="btn_sp2 btn_sp" id="before" style="display:none;">
                        <span>{{ 'Atrás'|trans }}</span>
                    </a>
                </div>
                <div class="col-6 text-center">
                    <a href="#" class="btn_sp1 btn_sp tuto-step3" id="next">
                        <span>{{ 'Siguiente'|trans }}</span>
                    </a>
                </div>
            </div>

        </div>

        <a id="triggerModal" data-toggle="modal" data-target="#modalCe"></a>
        <a id="triggerModal2" data-toggle="modal" data-target="#modalEe"></a>

        <div class="modal modalCEval px-0" id="modalCe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid h-100 d-flex flex-column justify-content-center">
                <div class="row align-items-end justify-content-end">
                    <div class="col-auto text-center toHide">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <h4 class="titulo" id="msgTitulo1">{{ '¿Estás Segur@ que deseas salir de la evaluación?'|trans }}</h4>
                        <h4 class="titulo" id="msgTitulo2" style="display:none;">{{ 'Tiempo expirado de la evaluación'|trans }}</h4>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center align-items-center">
                    <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-justify">
                        <p class="txtModalVs" id="msgModal1">{{ 'Estimado participante, si decides salir de la evaluación en este momento, perderás las respuestas que hayas marcado hasta ahora'|trans }}.</p>
                        <p class="txtModalVs" id="msgModal2" style="display:none;">{{ 'Estimado participante, ha expirado el tiempo de duración de la evaluación. Se calcularán los resultados de acuerdo a las respuestas dadas hasta los momentos.'|trans }}.</p>
                    </div>
                </div>
                <div class="row mt-3 align-items-center justify-content-center toHide">
                    <div class="col-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="{{ path('_finLecciones', { 'programa_id': programa.id, 'subpagina_id': pagina_id }) }}"><button type="button" class="btn btn-danger btn-Cs">{{ 'Salir de la evaluación'|trans }}</button></a>
                    </div>
                </div>
                <div class="row mt-3 align-items-end justify-content-center toHide">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="#" class="cancelarCs" data-dismiss="modal">{{ 'Cancelar'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modalEEval" id="modalEe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid py-2">
                <div class="row align-items-end justify-content-end">
                    <div class="col-auto text-center">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <h4 class="titulo"><strong>{{ 'Advertencia'|trans }}</strong></h4>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center align-items-center">
                    <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-justify">
                        <p class="txtModalEv">{{ 'Aún no has respondido las preguntas'|trans }}: <span id="psc"></span>. {{ 'Si presionas'|trans }} <strong>{{ 'Finalizar Evaluación'|trans }}</strong> {{ 'se calcularán los resultados quedando estas preguntas sin contestar. Si deseas completar sus respuestas presiona'|trans }} <strong>{{ 'Continuar en la Evaluación'|trans }}</strong>.</p>
                    </div>
                </div>
                <div class="row mt-3 align-items-center justify-content-center px-0">
                    <div class="col-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="#"><button type="button" class="btn btn-primary btn-Fe">{{ 'Finalizar Evaluación'|trans }}</button></a>
                    </div>
                </div>
                <div class="row mt-3 align-items-center justify-content-center px-0">
                    <div class="col-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center px-0">
                        <a href="#" data-dismiss="modal"><button type="button" class="btn btn-warning btn-contEval">{{ 'Continuar en la Evaluación'|trans }}</button></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('jq/jquery-ui.js') }}"></script>
        <script src="{{ asset('front/js/plugins/SlickCircularCountDown.js/js/jquery.knob.js') }}"></script>
        <script src="{{ asset('front/js/plugins/SlickCircularCountDown.js/js/jquery.throttle.js') }}"></script>
        <script src="{{ asset('front/js/plugins/SlickCircularCountDown.js/js/jquery.classycountdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/plugins/introjs/intro.js') }}"></script>
        <script src="{{ asset('front/js/custom.js') }}"></script>
        <script src="{{ asset('front/js/eval.js') }}"></script>
        <script src="{{ asset('front/js/countDownCircular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/front/test.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/front/tuto.js') }}"></script>

        <script> 
            const skipIntroButton = document.querySelector('#tuto-btn-skip');
              {# function startCountDown(e) {
                startCircularCountDown()
             }
            skipIntroButton.addEventListener('click', startCountDown); #}

            const introSteps = [
                {
                    element: document.querySelector('#divCountD'),
                    intro: 'Cuando comiences la evaluación, el cronómetro iniciará la cuenta regresiva para indicarte el tiempo restante.'
                },
                {
                    element: document.querySelector('.tuto_step2'),
                    intro: 'Responde a cada pregunta, seleccionando la opción que consideres correcta.'
                },
                {
                    element: document.querySelector('.tuto-step3'),
                    intro: 'Luego, haz clic en el botón "Siguiente" para avanzar a la próxima pregunta.'
                },
                {
                    element: document.querySelector('#tuto_step4'),
                    intro: 'Si quieres volver a revisar los contenidos y cancelar la evaluación, haz clic en el botón "Salir de la evaluación".'
                }
            ];

            startIntro(introSteps, true, true);
        
        </script>
    </body>
</html>
