<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,400i,600,600i,700|Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>
            {% if app.session.started and app.session.get('empresa').titulo is defined and app.session.get('empresa').titulo != '' %}
                {{ app.session.get('empresa').titulo }}
            {% else %}
                {{ 'Sistema Formación'|trans }} 2.0
            {% endif %}
        </title>
        {% set img = app.session.get('empresa').favicon is defined ? app.session.get('empresa').favicon is not null and app.session.get('empresa').favicon != '' ? uploads~app.session.get('empresa').favicon : asset('img/icono.png') : asset('img/icono.png') %}
        <link rel="icon" type="image/x-icon" href="{{ img }}" />
        <link rel="stylesheet" href="{{ asset('front/base_styles/css/bootstrap/bootstrap.css') }}">
        <link href="{{ asset('jq/jquery-ui.css') }}" rel="stylesheet">
        {% set css = app.session.get('empresa').css is defined ? app.session.get('empresa').css is not null and app.session.get('empresa').css != '' ? asset(app.session.get('empresa').css) : asset('front/client_styles/formacion/css/main.css') : asset('front/client_styles/formacion/css/main.css') %}
        <link rel="stylesheet" href="{{ css }}">
    </head>
    
    <body>
        
        <input type="hidden" id="url_programa" name="url_programa" value="{{ path('_programa', { 'programa_id': programa_id }) }}">
        <input type="hidden" id="url_inicio" name="url_inicio" value="{{ path('_inicio') }}">
        <input type="hidden" id="url_next" name="url_next" value="{{ path('_lecciones', { 'programa_id': programa_id, 'subpagina_id': continue_button.next_lesson }) }}">
        <input type="hidden" id="url_test" name="url_test" value="{{ path('_test', { 'pagina_id': continue_button.evaluacion, 'programa_id': programa_id }) }}">
        <input type="hidden" id="url_content" name="url_content" value="{{ path('_lecciones', { 'programa_id': programa_id, 'subpagina_id': prueba_log.prueba.pagina.id }) }}">
        
        <header>
            <nav class="navbar eval_header justify-content-between py-0 fixed-top bg-white">
                <div class="navbar-brand d-flex justify-content-center align-items-center">
                    
                </div>
                <div class="navbar-brand justify-content-center align-items-center " href="#">
                    <h2 class="titulo_eval pl-5">{{ prueba_log.prueba.nombre }}</h2>
                    <h5 class="sub_titulo_eval pl-5">{{ 'Resultados'|trans }}</h5>
                </div>
                <a class="navbar-brand" href="#">
                    {% set img_logo = app.session.get('empresa').logo is defined ? app.session.get('empresa').logo is not null and app.session.get('empresa').logo != '' ? uploads~app.session.get('empresa').logo : asset('front/assets/img/logo_formacion.png') : asset('front/assets/img/logo_formacion.png') %}
                    <img class="img-fluid py-1 {{ app.session.get('empresa').tipo_logo }}" src="{{ img_logo }}" alt="logo formación 2.0">
                </a>
            </nav>
        </header>

        <div class="container-fluid mt-6 px-0">

            {% if prueba_log.estado == estados.reprobado %}

                <section>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10 mt-4 text-center">
                            <h2 class="titulo-resul">{{ 'No has alcanzado la aprobación de la evaluación'|trans }}</h2>
                            <span class="calif">{{ 'Tu calificación'|trans }}: <span class="num">{{ prueba_log.nota|round }}/100</span></span>
                        </div>
                        <div class="col-10 mt-3 text-center">
                            <h3 class="color-light-black">{{ 'Sí deseas volver a intentarlo haz clic aquí'|trans }}:</h3>
                            <a href="{{ path('_test', { 'pagina_id': prueba_log.prueba.pagina.id, 'programa_id': programa_id }) }}">
                                <button class="btn btnRepeatEval"><span class="material-icons ic-resul alreves" data-toogle="tooltip" title="{{ 'Repetir evaluación'|trans }}">replay</span></button>
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10 text-center">
                            <p class="txt-resul">{{ 'Si deseas volver a ver el contenido, haz clic en el botón'|trans }}:</p>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10 text-center">
                            
                        </div>
                    </div>
                    <div class="row mt-3 align-items-center justify-content-center">
                        <div class="col-10 text-center">
                            <button type="button" class="btn btn-continuar continuar" id="content">{{ 'Volver al contenido'|trans }}</button>
                        </div>
                    </div>
                </section>

            {% else %}

                <section class="pb-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10 my-3 text-center">
                            <h2 class="titulo-resul">{{ 'FELICITACIONES'|trans }}</h2>
                            <h3>{{ 'Has aprobado con éxito la evaluación'|trans }}</h3>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10 my-3 text-center">
                            <span class="calif">{{ 'Tu calificación'|trans }}: <span class="num">{{ prueba_log.nota|round }}/100</span></span>
                        </div>
                    </div>
                    {% if not try_button %}
                        {% if continue_button.evaluacion != 0 %}
                            <div class="row align-items-center justify-content-center">
                                <div class="col-10 my-3 text-center">
                                    {% if continue_button.categoria == 'Materia' %}
                                        {% set articulo = 'de la'|trans %}
                                    {% elseif continue_button.categoria == 'Lección' %}
                                        {% set articulo = 'de la'|trans %}
                                    {% else %}
                                        {% set articulo = 'del'|trans %}
                                    {% endif %}
                                    <h4 class="color-light-black">{{ 'Es momento de tomar la evaluación'|trans }} {{ articulo~' '~continue_button.nombre_pagina }}.</h4>
                                    <h4 class="color-light-black">{{ 'Tendrás'|trans }} <strong>{{ continue_button.duracion }}</strong> {{ 'minutos para completar la evaluación'|trans }}. {{ '¿Estás list@?'|trans }}</h4>
                                </div>
                            </div>
                            <div class="row mt-5 align-items-center justify-content-center">
                                <div class="col-3 text-center">
                                    <button type="button" class="btn btn-warning bttn_fm continuar" id="content" title="{{ 'Volver al inicio del contenido'|trans }}"> {{ 'Volver al inicio'|trans }} </button>
                                </div>
                                <div class="col-3 text-center">
                                    <button type="button" class="btn" id="btnShowResul" title="{{ 'Mostrar los resultados de la evaluación'|trans }}">{{ 'Mostrar resultados'|trans }}</button>
                                </div>
                                <div class="col-3 text-center">
                                    <button type="button" class="btn btn-primary continuar" id="test" title="{{ 'Tomar evaluación'|trans }}"> {{ 'Tomar evaluación'|trans }} </button>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            {% if continue_button.next_lesson != 0 %}
                                <div class="row mt-5 align-items-center justify-content-center">
                                    <div class="col-3 text-center">
                                        <button type="button" class="btn btn-warning bttn_fm continuar" id="content" title="{{ 'Volver al inicio del contenido'|trans }}"> {{ 'Volver al inicio'|trans }} </button>
                                    </div>
                                    <div class="col-3 text-center">
                                        <button type="button" class="btn" id="btnShowResul" title="{{ 'Mostrar los resultados de la evaluación'|trans }}">{{ 'Mostrar resultados'|trans }}</button>
                                    </div>
                                    <div class="col-3 text-center">
                                        <button type="button" class="btn btn-primary continuar" id="next" title="{{ 'Continuar al siguiente contenido'|trans }}"> {{ 'Continuar'|trans }} </button>
                                    </div>
                                </div>
                            {% else %}
                                {# Ir a la pantalla de imprimir certificado y constancia de notas #}
                                <div class="row mt-5 align-items-center justify-content-center">
                                    <div class="col-3 text-center">
                                        <button type="button" class="btn btn-warning bttn_fm continuar" id="content" title="{{ 'Volver al inicio del contenido'|trans }}"> {{ 'Volver al inicio'|trans }} </button>
                                    </div>
                                    <div class="col-3 text-center">
                                        <button type="button" class="btn" id="btnShowResul" title="{{ 'Mostrar los resultados de la evaluación'|trans }}">{{ 'Mostrar resultados'|trans }}</button>
                                    </div>
                                    {#<div class="col-3 text-center">
                                        <button type="button" class="btn btn-primary continuar" id="next" title="{{ 'Continuar al siguiente contenido'|trans }}"> {{ 'Continuar'|trans }} </button>
                                    </div>#}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </section>

                <section class="mostrar-resul">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8 text-center anun-resul">
                            <p class="anun-resul">{{ 'Estos son los resultados que has obtenido'|trans }}</p>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10 col-md-10 col-xl-10 col-lg-10 col-sm-12">
                            <ul class="resp-eval">
                                {% for nro, pregunta in preguntas %}
                                    {% set sufijo = pregunta.errada ? 'reprob' : 'aprob' %}
                                    {% set check = pregunta.errada ? 'clear' : 'done' %}
                                    <li>
                                        <div class="preg-{{ sufijo }}">
                                            <div class="preg_num-{{ sufijo }} text-center">
                                                <span class="preg_n"><i class="material-icons check">{{ check }}</i></span>
                                            </div>
                                            <div class="preg_enun">
                                                <span class="preg_e">{{ pregunta.enunciado }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>

            {% endif %}

            <div class="row justify-content-center" style="display:none;" id="wait">
                <div class="col-auto px-0 py-0">
                    <div class="contenedor">
                        <div class="radar"></div>
                    </div>
                </div>
            </div>

        </div>

        <a data-toggle="modal" data-target="#modalCs2" id="automaticLogout"></a>

        <!-- Modal Cierre Automático de Sesion-->
        <div class="modal modalCerrarSesion" id="modalCs2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row mt-6 justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <h4 class="titulo">{{ 'La sesión se cerrará automáticamente en'|trans }}</h4>
                    </div>
                </div>
                <div class="row mt-3 align-items-center justify-content-center">
                    <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-center">
                        <input type="hidden" id="remaining" name="remaining" value="{{ remaining_time }}">
                        <input type="hidden" id="remaining_time" name="remaining_time" value="{{ remaining_time }}">
                        <input type="hidden" id="timer" name="timer" value="">
                        <input type="hidden" id="sesion_time" name="sesion_time" value="{{ sesion_front_time }}">
                        <input type="hidden" id="url_logout" name="url_logout" value="{{ path('_logout', { 'ruta': '_login' }) }}">
                        <h3><span id="seconds">{{ remaining_time }}</span> segundos</h3>
                    </div>
                </div>
                <div class="row mt-3 align-items-end justify-content-center">
                    <div class="col-10 col-md-10 col-sm-10 col-xs-10 col-lg-10 col-xl-10 text-center">
                        <button type="button" class="btn btn-primary btn-Cs" id="keepSession" data-dismiss="modal">{{ 'Mantener abierta la sesión'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('jq/jquery-ui.js') }}" charset="utf-8"></script>
        <script src="{{ asset('front/js/custom.js') }}"></script>
        <script src="{{ asset('js/front/expireSession.js') }}"></script>
        <script type="text/javascript">
            $('.continuar').click(function(){
                var button = $(this);
                $('.continuar, #btnShowResul').hide();
                $('#wait').show();
                var id = button.attr('id');
                window.location.replace($('#url_'+id).val());
            });

            $( document ).tooltip({
              track: true
            });
        </script>

    </body>
</html>
