{% for alarma in alarmas %}
    {% if alarma.tipo == '1' %}
        <a href="#" data-toggle="modal" data-target="#modalMn" class="click" data="{{ alarma.id }}">
    {% elseif alarma.tipo == 2 or alarma.tipo == 4 %}
        <a href="{{ path('_detalleColaborativo', { 'foro_id': alarma.entidad }) }}" class="click" data="{{ alarma.id }}"> 
    {% elseif alarma.tipo == 3 %}
        <a href="{{ path('_calendarioDeEventos', { 'view': 'basicDay', 'date': alarma.fecha }) }}" class="click" data="{{ alarma.id }}">
    {% elseif alarma.tipo == 5 or alarma.tipo == 6 %}
        <a href="{{ path('_noticiaDetalle', { 'noticia_id': alarma.entidad }) }}" class="click" data="{{ alarma.id }}">
    {% elseif alarma.tipo == 7 %}
        <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': alarma.entidad }) }}" class="click" data="{{ alarma.id }}">
    {% elseif alarma.tipo == 9 %}
        <a href="{{ path('_usuariop', { 'pagina_id': alarma.entidad }) }}" class="click" data="{{ alarma.id }}">
    {% endif %}
    {% if not alarma.leido %}
        {% if loop.first %}
            <li class="f-table-notify notiSinLeer notiFirst leido" data="{{ alarma.id }}">
        {% elseif loop.last %}
            <li class="f-table-notify notiSinLeer notiLast leido" data="{{ alarma.id }}">
        {% else %}
            <li class="f-table-notify notiSinLeer leido" data="{{ alarma.id }}">
        {% endif %}
    {% else %}
        {% if loop.first %}
            <li class="f-table-notify notiFirst">
        {% elseif loop.last %}
            <li class="f-table-notify notiLast ">
        {% else %}
            <li class="f-table-notify">
        {% endif %}
    {% endif%}
    <div class="row justify-content-between">
        <div class="col-12 d-flex">
            <span class="stickerNotify {{ alarma.css }}"><i class="material-icons icNotify">{{ alarma.icono }}</i></span>
            <p class="txt-desc-notify">
                {{ alarma.descripcion }}
            </p>
        </div>
    </div>
    </li>
</a>
{% endfor %}