{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>{{'Biblioteca'|trans}}</h3>
        </div>
    </div>
    <div class="cont-noticias">
        <div class="row align-item-center justify-content-center mt-5">
            <div class="col-6 col-lg-6 col-xl-6 col-md-8 col-sm-8 col-xs-8">
                <form id="form" name="form" action="{{ path( '_buscarBiblioteca')}}"  method="POST">
                    <input type="search" class="form-control" placeholder="Ingrese lo que desea buscar" id="buscar" name="buscar">
                    <button type="submit" class="btn-search"><span class="material-icons ic-search">search</span></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="filter-group d-flex justify-content-around mb-3">
                    <ul class="tabs" id="tab">
                        <li class="activo mt-3">
                            <span>{{'Todos'|trans}}</span>
                        </li>
                        <li class="mt-3">
                            <i class="material-icons">video_library</i><span>videos</span>
                        </li>
                        <li class="mt-3">
                            <i class="material-icons">mic</i><span>Podcast</span>
                        </li>
                        <li class="mt-3">
                            <i class="material-icons">import_contacts</i><span>Libros</span>
                        </li>
                        <li class="mt-3">
                            <i class="material-icons">picture_as_pdf</i><span>Artculos</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="wrapper">
            <div class="cards-section container d-flex justify-content-between justify-content-sm-center flex-wrap mt-3">
                <div class="contents">
                    {% set division = todos|length / 3 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% set recurso = 0%}
                    {% for todo in todos %}
                        {% set recurso = recurso + 1 %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = recurso == 3 ? 'justify-content-between' : ' ' %}
                            {% set recurso = recurso == 3 ? 0 : recurso %}
                                <div class="row rowDimension {{dimension}} ">
                        {% endif %}
                        {% if todo.tid == '1' %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': todo.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">video_library</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{todo.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">video</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% elseif todo.tid == '2' %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': todo.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">mic</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{todo.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">Podcast</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% elseif todo.tid == '3' %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': todo.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">note</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{todo.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">Artículo</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% elseif todo.tid == '4' %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': todo.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">book</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{todo.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">Libro</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% if loop.index is divisibleby(3) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row != filas ? 'justify-content-between' : ' ' %}
                                <div class="row rowDimension {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contents">
                    {% set division = videos|length / 3 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% set recurso = 0%}
                    {% for video in videos %}
                        {% set recurso = recurso + 1 %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = recurso == 3 ? 'justify-content-between' : ' ' %}
                            {% set recurso = recurso == 3 ? 0 : recurso %}
                                <div class="row rowDimension {{dimension}} ">
                        {% endif %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': video.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">video_library</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{video.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">video</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% if loop.index is divisibleby(3) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row != filas ? 'justify-content-between' : ' ' %}
                                <div class="row rowDimension {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contents">
                    {% set division = podcasts|length / 3 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% set recurso = 0%}
                    {% for podcast in podcasts %}
                        {% set recurso = recurso + 1 %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = recurso == 3 ? 'justify-content-between' : ' ' %}
                            {% set recurso = recurso == 3 ? 0 : recurso %}
                                <div class="row rowDimension">
                        {% endif %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': podcast.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">mic</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{podcast.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">Podcast</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% if loop.index is divisibleby(3) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row != filas ? 'justify-content-between' : ' ' %}
                                <div class="row rowDimension {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contents">
                    {% set division = libros|length / 3 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% set recurso = 0%}
                    {% for libro in libros %}
                        {% set recurso = recurso + 1 %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = recurso == 3 ? 'justify-content-between' : ' ' %}
                            {% set recurso = recurso == 3 ? 0 : recurso %}
                                <div class="row rowDimension">
                        {% endif %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': libro.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">book</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{libro.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">Libro</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% if loop.index is divisibleby(3) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row != filas ? 'justify-content-between' : ' ' %}
                                <div class="row rowDimension {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contents">
                    {% set division = articulos|length / 3 %}
                    {% set filas = division|round(0,'ceil') %}
                    {% set row = 0 %}
                    {% set recurso = 0%}
                    {% for articulo in articulos %}
                        {% set recurso = recurso + 1 %}
                        {% if loop.first %}
                            {% set row = row + 1 %}
                            {% set dimension = recurso == 3 ? 'justify-content-between' : ' ' %}
                            {% set recurso = recurso == 3 ? 0 : recurso %}
                                <div class="row rowDimension">
                        {% endif %}
                        <div class="col-4 col-lg-4 col-xl-4 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('_bibliotecaDetalle', { 'biblioteca_id': articulo.id}) }}">
                                <div class="card_biblio">
                                    <div class="card_biblio-left">
                                        <span class="material-icons ic-recurso">note</span>
                                    </div>
                                    <div class="card_biblio-right">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                                                <h5 class="titulo_recurso">{{articulo.titulo}}</h5>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-right pos-recurso">
                                                <span class="tipo_recurso">Artículo</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% if loop.index is divisibleby(3) %}
                            </div>
                            {% if not loop.last %}
                                {% set row = row + 1 %}
                                {% set dimension = row != filas ? 'justify-content-between' : ' ' %}
                                <div class="row rowDimension {{dimension}}">
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#biBlio').addClass("active");
        });
    </script>
    <script src="{{ asset('front/js/jquery.tabpager.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/tabsPagBiblio.js') }}"></script> 
{% endblock %}