{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}" type="text/css">
    <style type="text/css" media="screen">
        .alignment{
            padding: 4%;
            text-align: left;
        }
        .alignment_{
            padding: 4%;
            text-align: center;
        }
        .smallth{
            width: 12%;
        }
        .small_th{
            width: 16%;
        }
        .big_th{
            width: 20%;
        }
        .bigth{
            width: 40%;
        }
    </style>
{% endblock %}

{% block body %}
<br>
<input type="hidden" id="url_programados" name="url_programados" value="{{ path('_ajaxProgramados') }}">
<input type="hidden" id="url_correos_excel" name="url_correos_excel" value="{{ path('_ajaxExcelCorreos') }}">
<input type="hidden" id="url_tree" name="url_tree" value="{{ path('_ajaxTreeGrupoProgramado') }}">

<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Notificaciones programadas'|trans }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Listado de notificaciones'|trans }}</h5>
            </div>
            <div class="card-block">
                <table class="table" id="dt">
                    <thead class="sty__title">
                        <tr>
                            {% if not usuario.empresa %}
                                <th class="hd__title">{{ 'Empresa'|trans }}</th>
                            {% endif %}
                            <th class="hd__title">{{ 'Tipo'|trans }}</th>
                            <th class="hd__title">{{ 'Asunto'|trans }}</th>
                            <th class="hd__title">{{ 'Acciones'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notificacion in notificaciones %}
                            {% set eo = cycle(['odd', 'even'], loop.index) %}
                            <tr class="{{ eo }}">
                                {% if not usuario.empresa %}
                                    <td>{{ notificacion.empresa }}</td>
                                {% endif %}
                                <td>{{ notificacion.tipo }}</td>
                                <td>{{ notificacion.asunto }}</td>
                                <td class="center">
                                    <a href="{{ path('_editNotificacionProgramada', { 'notificacion_id': notificacion.id }) }}" title="{{ 'Programar nuevo aviso'|trans }}" class="btn btn-link btn-sm"><span class="fa fa-plus"></span></a>
                                    {% if notificacion.tiene_programados %}
                                        <a href="#" title="{{ 'Ver notificaciones programadas'|trans }}" class="btn btn-link btn-sm see" data="{{ notificacion.id }}"><span class="fa fa-eye"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 col-10" style="display:none;" id="div-programados">
        <div class="card">
            <div class="card-header gradiente">
                <h5 class="card-title">{{ 'Avisos programados de'|trans }} <span id="notificacionTitle"></span></h5>
            </div>
            <div class="card-block">
                <div class="row" id="div-programados-alert" style="display:none;">
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert"> 
                            <strong>{{ 'Error en el servidor'|trans }}!</strong> {{ 'Error al obtener las notificaciones programadas'|trans }}.</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <div id="programados"></div>
            </div>
        </div>
        <div class="load1 load-wrapper">
            <div class="loader">
                Loading...
            </div>  
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/programados.js') }}"></script>
    <script type="text/javascript">
             function applyDataTableProgramados()
                {
                    $('#t-programados').DataTable({
                        destroy: true,
                        rowReorder: true,
                        responsive: false,
                        pageLength:10,
                        sPaginationType: "full_numbers",
                        lengthChange: false,
                        info: false,
                        fnDrawCallback: function(){
                            observe();
                        },
                        oLanguage: {
                            "sProcessing":    "{{ 'Procesando'|trans }}...",
                            "sLengthMenu":    "{{ 'Mostrar'|trans }} _MENU_ {{ 'registros'|trans }}",
                            "sZeroRecords":   "{{ 'No se encontraron resultados'|trans }}",
                            "sEmptyTable":    "{{ 'Ningún dato disponible en esta tabla'|trans }}",
                            "sInfo":          "{{ 'Mostrando registros del'|trans }} _START_ {{ 'al'|trans }} _END_ {{ 'de un total de'|trans }} _TOTAL_.",
                            "sInfoEmpty":     "{{ 'Mostrando registros del'|trans }} 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":  "({{ 'filtrado de un total de'|trans }} _MAX_ {{ 'registros'|trans }})",
                            "sInfoPostFix":   "",
                            "sSearch":        "{{ 'Buscar'|trans }}:",
                            "sUrl":           "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "{{ 'Cargando..'|trans }}.",
                            oPaginate: {
                                sFirst: "<<",
                                sPrevious: "<",
                                sNext: ">", 
                                sLast: ">>" 
                            },
                            "oAria": {
                                "sSortAscending":  ": {{ 'Activar para ordenar la columna de manera ascendente'|trans }}",
                                "sSortDescending": ": {{ 'Activar para ordenar la columna de manera descendente'|trans }}"
                            }
                        }
                    });
                }
       
    </script>
{% endblock %}
