{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/js/plugins/jquery-upload-file/css/jquery.fileupload.css') }}">
    <style>
            .ancho{

                height: 350px;"
            }
            .error__style{
                color: #fd5c63; 
                margin: 5px 10px 0px 0px; 
                text-align: left;
            }
            .success__style{
                color: #49A12F; 
                margin: 5px 10px 0px 0px; 
                text-align: left;
            }
            #contCorreoRecu{
                margin-left: 14px;
            }
            .field-icon{
              float: right;
              margin-top: -48px;
              position: relative;
              z-index: 2;
            }
            .blocked{
                background-image: linear-gradient(-180deg, #8E8C8F 4%, #8E8C8F 95%) !important;
                color: #ffffff !important;
                pointer-events: none;
            }
            .exito_clave{
                color: #5CAEE6;
            }
            .error_clave{
                color: #e60f0f;
            }
            #error_clave{
                font-size: 1.1rem;
            }
            #radar-img{
                position:absolute;
                z-index:100;
                top: 3.5rem;
            }
            #pic-img{
                display: flex;
                justify-content: center;

            }
            .modalChagePwd {
                max-width: 30rem !important;
            }

            #achievements-container {
                display: none;
                visibility: hidden;
                transition: visibility 0.2s;
            }

            #achievements-container.show {
                visibility: visible;
                display: flex;
            }
            
            #study_plan {
                display: none;
                visibility: hidden;
                transition: visibility 0.2s;
            }

            #study_plan.show {
                visibility: visible;
                display: block;
            }

            
        </style>
{% endblock %}

{% block body %}

{% set empresa_id = app.session.get('empresa')['id'] %}
{% set login = app.session.get('usuario')['login'] %}
{% set nombre = app.session.get('usuario')['nombre'] %}
{% set apellido = app.session.get('usuario')['apellido'] %}
{% set correo = app.session.get('usuario')['correo'] %}
{% set correo_corporativo = app.session.get('usuario')['correo_corporativo'] %}
{% set fecha_nacimiento = app.session.get('usuario')['fecha_nacimiento'] %}
{% set fecha_nacimiento_formateada = app.session.get('usuario')['fecha_nacimiento_formateada'] %}
<input type="hidden" id="url_img" name="url_img" value="{{ path('_ajaxImg') }}">
<input type="hidden" id="url_medallas" name="url_medallas" value="{{ path('_ajaxRankingAction') }}">
<input type="hidden" id="usuario_medallas" name="usuario_medallas" value="{{ login }}">

<div class="modal ranking-loader justify-content-center align-items-center">
    <div class="ranking-loader__spinner">
    </div>
</div>
<section class="card-datos col-12 col-sm-10 mx-auto py-2">
    <div class="row align-items-center justify-content-center px-4">
        <div class="col-12 col-md-4 d-flex ">
            <div class="pic-img" id="pic-img">
            <div class="float-right mt-4"  id="radar-img" style="display: none;">
               <div class="contenedor">
                  <div class="radar"></div>
               </div>
            </div>
                <form id="form-upload" method="POST">
                    <input type="hidden" id="url_upload" name="url_upload" value="{{ path('_ajaxUploadFotoUsuario') }}">
                    <input type="hidden" id="uploads" name="uploads" value="{{ uploads }}">
                    <input type="hidden" id="base_upload" name="base_upload" value="recursos/usuarios/{{ empresa_id }}/">
                    {% set img = app.session.get('usuario').foto is defined ? app.session.get('usuario').foto is not null and app.session.get('usuario').foto != '' ? uploads~app.session.get('usuario').foto : asset('front/assets/img/user.svg') : asset('front/assets/img/user.svg') %}
                    <a class="fileinput-button" title="{{ 'Cambiar imagen'|trans }}" data-toggle="tooltip" data-placement="bottom">
                        <img src="{{ img }}" class="img-user-pic" id="perfil">
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </a>
                </form>
            </div>
            <span class="error" id="error"></span>
        </div>
        <div class="col-12 col-md-8">
            <h2 class="name-titulo text-center">{{ nombre }} {{ apellido }}</h2>
            <div class="row justify-content-between border-bottom py-1">
                <div class="col-5 col-md-6 text-center">
                    <span class="info_datos">{{ 'Nombre del participante'|trans }}</span>
                </div>
                <div class="col-7 col-md-6 d-flex justify-content-center align-items-center">
                    <span class="datos_user">{{ login }}</span>
                </div>
            </div>
            <div class="row justify-content-between border-bottom py-1">
                <div class="col-5 col-md-6 text-center">
                    <span class="info_datos">{{ 'Correo corporativo'|trans }}</span>
                </div>
                <div class="col-7 col-md-6 d-flex justify-content-center align-items-center">
                    <span class="datos_user" id="label-correo">{{ correo }}</span>
                </div>
            </div>
            <div class="row justify-content-between border-bottom py-1">
                <div class="col-5 col-md-6 text-center">
                    <span class="info_datos">{{ 'Correo secundario'|trans }}</span>
                </div>
                <div class="col-7 col-md-6 d-flex justify-content-center align-items-center">
                    <span class="datos_user" id="label-correo_corporativo">{{ correo_corporativo }}</span>
                </div>
            </div>
        </div>
        <!-- Modal cambiar contraseña-->
        <!--<div class="col-xs-4 col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4 text-center" >
            <div class="imgExp-coin">
                <img class="imgExp" src="{{asset('img/medal.svg')}}" alt="">
                <div class="starShiney1">
                </div>
                <div class="starShiney2">
                </div>
                <div class="starShiney3">
                </div>
                <div class="starShiney4">
                </div>
            </div>
            <span class="numExp">{{ puntos }}</span>
            <h3 class="tituloExp">EXP</h3>
        </div>-->
    </div>
    <div class="row align-items-center justify-content-between mt-12v">
        <div class="col-sm-auto col-md-auto col-auto col-lg-auto col-xl-auto text-center mb-1 mx-auto">
            <a href="{{ path('_misProgramas', { 'activo': 1 }) }}"><button type="button" class="btn btn-primary">{{ 'Ver mis certificados'|trans }}</button></a>
        </div>
        <div class="col-xs-auto col-sm-auto col-md-auto col-auto col-lg-auto col-xl-auto text-center mb-1 mx-auto">
            <a href="#" data-toggle="modal" data-target="#modaledit"><button type="button" class="btn btn-primary" id="editar">{{ 'Editar perfil'|trans }}</button></a>
        </div>
        {#<div class="col-xs-auto col-sm-auto col-md-auto col-auto col-lg-auto col-xl-auto text-center">
            <a href="{{ path('_ranking') }}"><button type="button" class="btn btn-primary">{{ 'Ver ranking'|trans }}</button></a>
        </div>#}
        <div class="col-sm-auto col-md-auto col-auto col-lg-auto col-xl-auto text-center mx-auto">
            <a href="#" data-toggle="modal" data-target="#modalpwd"><button type="button" class="btn btn-primary" id="cambiar">{{ 'Cambiar contraseña'|trans }}</button></a>
        </div>
    </div>
</section>
<div class="for-message  container py-5 px-6 my-4 show" id="study_plan">
    <h4 class="mb-4 text-left">Plan de estudio:</h4>
    <div class="container d-flex flex-column justify-content-center align-items-center ">
    {# ----------- ESTE ES EL CODIGO VALIDO -------------- #}
        {# {% for programa in programas %}
        <div class="card-hrz card-mod d-flex flex-column flex-md-row">
            <img class="card-hrz-img mr-xl-3 d-flex justify-content-center align-items-center" src="{{programa.foto}}" alt="">
            <div class="wraper d-flex flex-column flex-md-row justify-content-center"> 
                <div class="card-hrz-body">
                    <h5 class="title-grey my-3 font-weight-normal"> {{ programa.nombre }}</h5>
                    <span class="text-sm title-grey d-lg-block"> Módulo </span>
                    <span class="text-sm color-light-grey d-lg-block"> {{ programa.modulo }} </span>
                    <div class="progress mt-4 mb-3 mt-md-2">
                        <div class="progress-bar" role="progressbar" style="{{programa.progreso}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="card-hrz-right d-flex flex-column justify-content-top mx-3 pb-1 align-item align-items-center">
                <div class="percent text-center mt-1">
                    <h2 class="color-light-grey mb-0 pb-0 porcent-xs"> {{programa.progreso}} </h2>
                    <span class="d-block count mt-0 mb-2 text-xs color-light-grey alertTimeDanger">Finaliza en {{programa.fin}} días</span>
                </div>
                <button href="#" class="btn btn-sm btn-continuar mt-0 px-3 mb-3 btn-xs-cont j-btn-medals" data-id="{{programa.id}}"> Mis logros </button>
            </div>
            </div>
        </div>
        {% endfor %} #}
        {# ------------------------------------------------- #}
        <div class="card-hrz card-mod d-flex flex-column flex-md-row">
            <img class="card-hrz-img mr-xl-3 d-flex justify-content-center align-items-center" src="{{ asset('front/assets/img/liderazgo-hrz.png') }}" alt="">
            <div class="wraper d-flex flex-column flex-md-row justify-content-center"> 
                <div class="card-hrz-body">
                    <h5 class="title-grey my-3 font-weight-normal"> Liderazgo </h5>
                    <span class="text-sm title-grey d-lg-block"> Módulo </span>
                    <span class="text-sm color-light-grey d-lg-block"> 04. Liderazgo </span>
                    <div class="progress mt-4 mb-3 mt-md-2">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="card-hrz-right d-flex flex-column justify-content-top mx-3 pb-1 align-item align-items-center">
                <div class="percent text-center mt-1">
                    <h2 class="color-light-grey mb-0 pb-0 porcent-xs"> 20% </h2>
                    <span class="d-block count mt-0 mb-2 text-xs color-light-grey alertTimeDanger">Finaliza en 08 días</span>
                </div>
                <button href="#" class="btn btn-sm btn-continuar mt-0 px-3 mb-3 btn-xs-cont j-btn-medals" data-id="1"> Mis logros </button>
            </div>
            </div>
        </div>

        <div class="card-hrz card-mod d-flex flex-column flex-md-row">
            <img class="card-hrz-img mr-xl-3 d-flex justify-content-center align-items-center" src="{{ asset('front/assets/img/liderazgo-hrz.png') }}" alt="">
            <div class="wraper d-flex flex-column flex-md-row justify-content-center"> 
                <div class="card-hrz-body">
                    <h5 class="title-grey my-3 font-weight-normal"> Liderazgo </h5>
                    <span class="text-sm title-grey d-lg-block"> Módulo </span>
                    <span class="text-sm color-light-grey d-lg-block"> 04. Liderazgo </span>
                    <div class="progress mt-4 mb-3 mt-md-2">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="card-hrz-right d-flex flex-column justify-content-top mx-3 pb-1 align-item align-items-center">
                <div class="percent text-center mt-1">
                    <h2 class="color-light-grey mb-0 pb-0 porcent-xs"> 20% </h2>
                    <span class="d-block count mt-0 mb-2 text-xs color-light-grey alertTimeDanger">Finaliza en 08 días</span>
                </div>
                <button href="#" class="btn btn-sm btn-continuar mt-0 px-3 mb-3 btn-xs-cont j-btn-medals" data-id="1"> Mis logros </button>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- ZONA DE LOGROS -->

<div class="container py-5 px-2 mb-4 flex-column align-items-center" id="achievements-container">
<button href="#" class="btn btn-sm btn-continuar mt-0 px-3 mb-3 btn-xs-cont j-btn-back-to-plan" data-id="2"> Volver al plan de estudios </button>
    <h4 class="mb-4" id="achievements-container">Mis logros en el curso Comunicación para la supervisión:</h4>

    <div class="card-achievement green-line">
        <img src="{{asset('front/assets/img/recurso-5.png')}}" alt="" class="card-achievement__badge">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Súper Smart</h4>
            <p class="card-achievement__condition">Aprueba todas las evaluaciones al primer intento</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-orange" style="width: 50%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    5/13
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-achievement green-line">
        <img src="{{asset('front/assets/img/recurso-5.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Súper Smart</h4>
            <p class="card-achievement__condition">Aprueba todas las evaluaciones al primer intento</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-green" style="width: 100%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    13/13
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-achievement green-line">
        <img src="{{asset('front/assets/img/recurso-6.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Perfeccionista</h4>
            <p class="card-achievement__condition">Obtén la nota perfecta 100/100 en todas las evaluaciones</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-green" style="width: 100%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    13/13
                </div>
            </div>
        </div>
    </div>

    <div class="card-achievement green-line">
        <img src="{{asset('front/assets/img/recurso-7.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Imparable</h4>
            <p class="card-achievement__condition">Aprueba el programa en una misma sesión</p>
        </div>
    </div>

    <div class="card-achievement lightblue-line">
        <img src="{{asset('front/assets/img/recurso-18.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Influencer</h4>
            <p class="card-achievement__condition">Recibe tres respuestas a tus comentarios en el muro</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-orange" style="width: 100%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    3/3
                </div>
            </div>
        </div>
    </div>

    <div class="card-achievement lightblue-line">
        <img src="{{asset('front/assets/img/recurso-16.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Amigable</h4>
            <p class="card-achievement__condition">Escribe cinco comentarios de valor en el muro</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-green" style="width: 100%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    5/5
                </div>
            </div>
        </div>
    </div>

    <div class="card-achievement yellow-line">
        <img src="{{asset('front/assets/img/recurso-8.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Primer lugar</h4>
            <p class="card-achievement__condition">Termina el programa primero que los demás</p>
        </div>
    </div>

    <div class="card-achievement blue-line">
        <img src="{{asset('front/assets/img/recurso-11.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Vencedor</h4>
            <p class="card-achievement__condition">Obtén todas las medallas disponibles</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-green" style="width: 100%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    8/8
                </div>
            </div>
        </div>
    </div>

    <div class="card-achievement blue-line">
        <img src="{{asset('front/assets/img/recurso-12.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Leyenda</h4>
            <p class="card-achievement__condition">Mantente entre las tres primeras posiciones del ranking por siete días consecutivos</p>
            <div class="card-achievement__progress">
                <div class="card-achievement__progress__bar">
                    <div class="card-achievement__progress__bar__fill fill-green" style="width: 100%;"></div>
                </div>
                <div class="card-achievement__progress__number">
                    7/7
                </div>
            </div>
        </div>
    </div>

    <div class="card-achievement blue-line">
        <img src="{{asset('front/assets/img/recurso-13.png')}}" alt="" class="card-achievement__badge achieved">
        <div class="card-achievement__details">
            <h4 class="card-achievement__title">Fotogénico</h4>
            <p class="card-achievement__condition">Agrega una foto a tu perfil</p>
        </div>
    </div>


</div>



<!-- Modal Editar perfil-->
<div class="modal modalEditP py-2" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                    <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                </a>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <h4 class="pb-1 title-grey sub-line"> {{ 'Editar perfil'|trans }} </h4>
            </div>
        </div>
        <form id="form" name="form" action="{{ path('_ajaxSavePerfil')}}" method="POST">
            <div class="row aling-item-center justify-content-center mt-3 mx-auto">
                <div class="col-10">
                    <div class="form-group text-left">
                        <label for="nameUser">{{ 'Usuario'|trans }}</label>
                        <input type="text" class="form-control mb-4" id="login" name="login" value="{{ login }}" disabled="disabled">
                    </div>
                    <div class="form-group text-left">
                        <label for="correo_personal">{{ 'Correo corporativo'|trans }}</label>
                        <input type="mail" class="form-control mb-1" id="correo_personal" name="correo_personal" value="{{ correo }}" disabled="disabled">
                    </div>
                    <div class="form-group text-left">
                        <label for="correo_corporativo">{{ 'Correo secundario'|trans }}</label>
                        <input type="mail" class="form-control " id="correo_secundario" name="correo_secundario" value="{{ correo_corporativo }}">
                        <p id="correo_usado" style="display:none; font-size: 1.04rem;text-align: center;" class="error__style" ></p>
                        <p id="correo_exito" style="display:none; font-size: 1.04rem;text-align: center;   color: #5CAEE6;" class="error__style" >Cambio de correo realizado</p>

                    </div>
                    <div class="form-group text-left">
                        <label for="fecha_nacimiento">{{ 'Fecha de nacimiento'|trans }}</label>
                        <input type="date" class="form-control mb-4" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ fecha_nacimiento }}" disabled="disabled" data-date-end-date="-18y">
                    </div>
                </div>
            </div>
            <div class="row aling-item-center justify-content-center">
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-primary boton blocked" id="modificar">{{ 'Guardar'|trans }}</button>
                </div>
            </div>
            <div class="row justify-content-center" style="display:none;" id="wait_profile">
                <div class="col-auto px-0 py-0">
                    <div class="contenedor">
                        <div class="radar"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal cambiar contraseña-->
<div class="modal modalChagePwd px-0 pt-2 pb-3" id="modalpwd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="container-fluid">
        <div class="row justify-content-end mt-1">
            <div class="col-auto">
                <a class="btn_close_modal" data-dismiss="modal" aria-label="Close">
                    <span class="close material-icons ic-close-white" aria-hidden="true">close</span>
                </a>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <h4 class="pb-1 title-grey sub-line ">{{ 'Cambiar contraseña'|trans }}</h4>
            </div>
        </div>
        <form id="form-clave" action="{{ path('_ajaxClave') }}">
            <div class="row aling-item-center justify-content-center mt-5 pnlogin">
                <div class="row">
                    <div class="form-group text-left col-10 mx-auto">
                        <label class="mb-2" for="password">{{ 'Nueva contraseña'|trans }}</label>
                        <input type="password" class="form-control mb-1" id="password" name="password" placeholder="{{ 'Contraseña'|trans }}">
                        <a href="#" id="check_mostrar" class="field-icon" style="border:solid 2px #000000;height: 44px;border-top-right-radius: 7px;border-bottom-right-radius: 7px;border-color:#80ccff;">
                        <i class="material-icons" style="margin-top: 7px;">visibility</i>
                        </a>
                    </div>
                    <div class="form-group text-left col-10 mx-auto">
                        <label class="mb-2" for="confirmar">{{ 'Confirmar contraseña'|trans }}</label>
                        <input type="password" class="form-control mb-1" id="confirmar" name="confirmar" placeholder="{{ 'Contraseña'|trans }}">
                        <a href="#" id="check_mostrar1" class="field-icon" style="border:solid 2px #000000;height: 44px;border-top-right-radius: 7px;border-bottom-right-radius: 7px;border-color:#80ccff;">
                        <i class="material-icons" style="margin-top: 7px;">visibility</i>
                        </a>
                    </div>
                </div>
            </div>
            <span id="error_clave" class="row aling-item-center justify-content-center mt-5"></span>
            <div class="row aling-item-center justify-content-center mt-5">
                <div class="col-auto">
                    <button type="button" class="btn btn-primary boton blocked" id="cambio">{{ 'Cambiar contraseña'|trans }}</button>
                </div>
            </div>
            <div class="row justify-content-center" style="display:none;" id="wait_password">
                <div class="col-auto px-0 py-0">
                    <div class="contenedor">
                        <div class="radar"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/js/acordion.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/plugins/jquery-upload-file/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/front/usuario.js') }}"></script>
    <script type="text/javascript">
        $("#form").validate({
            rules: {
                
                'correo_secundario': {
                    email: true
                }
            },
            messages: {
                
                'correo_secundario': {
                    email: "{{ 'El correo secundario tiene un formato inválido'|trans }}."
                }
            }
        });

        $("#form-clave").validate({
            errorLabelContainer: "#error_clave",
            rules: {
                'password': {
                    required: true,
                    minlength: 4,
				    maxlength: 10,
				    alphanumeric: true
                    
                },
                'confirmar': {
                    equalTo: "#password"
                }
            },
            messages: {
                'password': {
                    required: "{{ 'La contraseña es requerida'|trans }}",
                    minlength: "{{ 'Debe tener mínimo 4 caracteres' }}",
                    maxlength: "{{ 'Debe tener máximo 10 caracteres' }}",
                    alphanumeric: "{{ ' No se aceptan caracteres especiales, ejempo' }} !@#$%&"
                },
                'confirmar': {
                    equalTo: "{{ 'Debe coincidir con la contraseña'|trans }}"
                }
            }
        });

        jQuery.validator.addMethod("alphanumeric", function(value, element) {
            return this.optional(element) || /^[\w.]+$/i.test(value);
        }, "Sólo se permiten letras, números y guiones bajos");

        $('#check_mostrar, #check_mostrar1').click(function(event)
            {
                var mostrar = $(this).attr('id');
                 event.preventDefault();
                 console.log(mostrar);
                 if(mostrar == 'check_mostrar')
                 {
                    var check= document.getElementById('password');
                    if(check.type=="password")
                    {
                        check.type="text";
                    }
                    else
                    {
                        check.type="password";
                    }
                 }
                 else if(mostrar == 'check_mostrar1'){
                    var check= document.getElementById('confirmar');
                    if(check.type=="password")
                    {
                        check.type="text";
                    }
                    else
                    {
                        check.type="password";
                    }
                 }
                 
            });
        
            $("#confirmar").keyup(function(){
				var password = $('#password').val();
				var confirmar = $('#confirmar').val();
				if (password == confirmar){
					var valid = $("#form-clave").valid();
					if (!valid) 
					{
						$("#cambio").addClass( "blocked" );
					}
					else {
						$("#cambio").removeClass( "blocked" );
					}
				}
				else {
					$("#cambio").addClass( "blocked" );
				}
            });

            $("#correo_secundario").keyup(function(){
                var valid = $("#form").valid();
                if (!valid) 
                {
                    $("#modificar").addClass( "blocked" );
                    $('#correo_usado').html('');
                }
                else {
                    $("#modificar").removeClass( "blocked" );
                }
            });

            $("#password").keyup(function(){
                $('#error_clave').html("");
                var password = $('#password').val();
				var confirmar = $('#confirmar').val();
				if (password == confirmar){
					var valid = $("#form-clave").valid();
					if (!valid) 
					{
						$("#cambio").addClass( "blocked" );
					}
					else {
						$("#cambio").removeClass( "blocked" );
					}
				}
				else {
					$("#cambio").addClass( "blocked" );
				}
            });
            
            $("#editar").click(function(){
                $("#modificar").addClass( "blocked" );
            });

            $("#cambiar").click(function(){
                $("#cambio").addClass( "blocked" );
                $("#password").val("");
                $("#confirmar").val("");
                $('#error_clave').hide();
            });
    </script>
{% endblock %}