{% extends '::admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}" type="text/css">

{% endblock %}

{% block body %}
    {% if not usuario.empresa or app.session.get('administrador') %}
        {% set rol = 'true' %}
    {% else %}
        {% set rol = 'false' %}
    {% endif %}
    {% set app_id = app.session.get('app_id') %}
    <br><br>
    {% if rol == 'true' %}
        <input type="hidden" id="url_ajaxProgramasDash" name="url_ajaxProgramasDash" value="{{ path('_ajaxProgramasDashboard') }}">
        <input type="hidden" id="url_ajaxEmpresasDash" name="url_ajaxEmpresasDash" value="{{ path('_ajaxEmpresasDashboard') }}">
        <input type="hidden" id="ver_conectados" name="ver_conectados" value="0">
        <div class="admin_dash" >
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="activity-block linkg1">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ empresast }}</span></h5>
                                <p>{{ 'Empresas registradas'|trans }}</p>
                            </div>
                            <i class="fa fa-industry"></i>
                        </div>
                        <br>
                        <i class="bg-icon text-center fa fa-pencil"></i>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="activity-block linkg2">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ activas }}</span></h5>
                                <p>{{ 'Empresas activas'|trans }}</p>
                            </div>
                            <i class="fa fa-industry"></i> </div>
                        <br>
                        <i class="bg-icon text-center fa fa-check" style="margin-top: 0px;"></i>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="activity-block danger">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ inactivas }}</span></h5>
                                <p>{{ 'Empresas inactivas'|trans }}</p>
                            </div>
                            <i class="fa fa-industry"></i> </div>
                        <br>
                        <i class="bg-icon text-center fa fa-times" style="margin-top: 0px;"></i>
                    </div>
                </div>
            </div>
            <!-- fin bloques de empresas registradas -->
            <br>
            <div class="row">
                <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="card">
                        <div class="card-header gradiente">
                            <div class="card-title"><span class="fa fa-industry"></span> {{ 'Resumen general por empresa'|trans }}.</div>
                        </div>
                        <div class="card-block">
                            <div class="card-block">
                                <label for="texto" class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">{{'País' | trans}}</label>
                                <div class="row">
                                    <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                                        <select class="form_sty_sel form-control" style="border-radius: 5px" id="pais_id" name="pais_id">
                                            <option value="0"></option>
                                            {% for pais in paises %}
                                                <option value="{{ pais.id }}" >{{ pais.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="fa fa-industry"></span>
                                        <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                                    </div>
                                </div>
                                <br>
                                <label for="texto" class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">{{'Empresa' | trans}}</label>
                                <div class="row">
                                    <div class="col-sm-7 col-md-7 col-lg-7 offset-sm-4 offset-md-4 offset-lg-4">
                                        <select class="form_sty_sel form-control" style="border-radius: 5px" id="empresa_id" name="empresa_id">
                                            <option value="0"></option>

                                        </select>
                                        <span class="fa fa-industry"></span>
                                        <span class="bttn_d"><img src="{{ asset('img/down-arrowbck.png') }}"></span>
                                    </div>
                                </div>
                                <br>
                                <div id="listado_programas_empresa">
                                </div>
                                <div class="load1 load-wrapper">
                                    <div class="loader">
                                        Loading...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="card">
                        <div class="card-header gradiente">
                            <div class="card-title"><span class="fa fa-industry"></span> {{'Listado de empresas inactivas' |trans}}</div>
                        </div>
                        <div class="card-block">
                            <table class="table data_table">
                                <thead class="sty__title">
                                    <tr>
                                        <th class="hd__title text-center">{{ 'Empresas'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Prog. asociados'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'País'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Participantes registrados'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empresa in empresasI %}
                                        {% set eo = cycle(['odd', 'even'], loop.index) %}
                                        <tr class="{{ eo }}">
                                            <td>{{ empresa.nombre }}</td>
                                            <td>
                                                {% if empresa.programas %}
                                                    <div class="tree">
                                                        <ul data-jstree='{ "opened" : true }'>
                                                            {{ empresa.programas|raw }}
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                    {{ 'No tiene sub-páginas'|trans }}
                                                {% endif %}
                                            </td>
                                            <td>{{empresa.pais}}</td>
                                            <td class="text-center"><span>{{ empresa.usuarios }} <i class="fa fa-user"></i></span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if reporteAprobados %}
                <div class="row">
                    <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                        <div class="card">
                            <div class="card-header gradiente">
                                <div class="card-title" id="labelCursosAprobados">{{ 'Reporte - Histórico de aprobados por programa'|trans }}</div>
                            </div>
                            <div class="card-block" id="tablaAprobados">
                                <table class="table" id="tabla_aprobados">
                                    <thead class="sty__title">
                                       <tr>
                                            <th class="hd__title">Id</th>
                                            <th class="hd__title">{{'Nombre'|trans}}</th>
                                            <th class="hd__title">{{'Estatus'|trans}}</th>
                                            <th class="hd__title">{{'Categoría'|trans}} </th>
                                            <th class="hd__title">{{'Aprobados'|trans}}</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    {% for curso in reporteAprobados %}
                                        <tr >
                                            <td>{{ curso.id }}</td>
                                            <td>{{ curso.nombre }}</td>
                                            <td>{{ curso.estatus_pagina }}</td>
                                            <td>{{ curso.categoria }}</td>
                                            <td>{{ curso.aprobados }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody> 
                                </table>
                            </div>
                            <div class="card-footer" id="footer_aprobados" style="">
                                <div class="row">
                                    <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 text-right">
                                    <a href="{{ path('_excelHistoricoAprobados') }} "> <button type="button" class="bttn__edit" data-toggle="tooltip" data-placement="bottom" title="{{'Descargar'|trans}}"><span class="fa fa-download"></span></button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-users" style="display:none;">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

			<form id="form" name="form" action="{{ path ('_ajaxUsuariosConectados') }}" method="POST">
                 <input type="hidden" id="empresa_id" name="empresa_id" value="0">
            </form>
            <input type="hidden" id="usuarios_conectados" name="usuarios_conectados" value="{{ path('_ajaxUsuariosConectados') }}">
            <div class="row">
                <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="card">
                        <div class="card-header gradiente">
                            <div class="card-title" id="labelConectados" style="display:none;">{{ 'Participantes conectados'|trans }}: <span id="totalConectados"></span></div>
                            <div class="card-title" id="labelConectadosLoading" style="display:none;">{{ 'Actualizando la lista de participantes conectados'|trans}}..</div>
                        </div>
                        <div class="card-block" id="tablaConectados">
                        </div>
                        <div class="card-footer" id="footer_conectados" style="display: none;">
                            <div class="row">
                                <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 text-right">
                                   <a href="{{ path('_excelUsuariosConectados') }} "> <button type="button" class="bttn__edit" data-toggle="tooltip" data-placement="bottom" title="Descargar"><span class="fa fa-download"></span></button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-users" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {# cuando no se tiene rol administrador o se tiene una empresa asignada #}
        <div class="emp_dash">
            <input type="hidden" id="error-msg" name="error-msg" value="{{ 'Ha ocurrido un error al cargar los participantes conectados, verifique su conexión a internet o contacte al administrador del sistema.'|trans }}">
            <div class="row row-tarjetas-dashboard">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 ">
                    <div class="activity-block linkg1" data-toggle="tooltip" data-placement="bottom" title="{{ 'Son todos los usuarios inscritos históricamente por la empresa'|trans }}.">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ total }}</span></h5>
                                <p>{{ 'HISTÓRICO DE PARTICIPANTES REGISTRADOS'|trans }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <i class="fa fa-users"></i>
                        </div>
                        <br>
                        <i class="bg-icon text-center fa fa-pencil"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 ">
                    <div class="activity-block danger"  data-toggle="tooltip" data-placement="bottom" title="{{ 'Son todos los usuarios que han sido desincorporados a solicitud de la empresa y que ya no tienen acceso a la plataforma'|trans }}.">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ sin_acceso }}</span></h5>
                                <p>{{ 'USUARIOS SIN ACCESO'|trans }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <i class="fa fa-user"></i> </div>
                        <br>
                        <i class="bg-icon text-center fa fa-lock" style="margin-top: 0px;"></i>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 ">
                    <div class="activity-block linkg2"  data-toggle="tooltip" data-placement="bottom" title="{{ 'Son todos los usuarios inscritos por la empresa que actualmente tienen acceso a la plataforma'|trans }}.">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ con_acceso }}</span></h5>
                                <p>{{ 'USUARIOS CON ACCESO'|trans }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <i class="fa fa-user"></i> </div>
                        <br>
                        <i class="bg-icon text-center fa fa-unlock" style="margin-top: 0px;"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 ">
                    <div class="activity-block linkg2" data-toggle="tooltip" data-placement="bottom" title="{{ 'Son todos los usuarios inscritos por la empresa, que tienen acceso a la plataforma y que se han logueado al menos una vez'|trans }}.">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ activos }}</span></h5>
                                <p>{{ 'USUARIOS ACTIVOS'|trans }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <i class="fa fa-user"></i> </div>
                        <br>
                        <i class="bg-icon text-center fa fa-check-square-o" style="margin-top: 0px;"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 ">
                    <div class="activity-block warning" data-toggle="tooltip" data-placement="bottom" title="{{ 'Son todos los usuarios inscritos por la empresa, que tienen acceso a la plataforma y que no se han logueado'|trans }}.">
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="spincreament">{{ inactivos }}</span></h5>
                                <p>{{ 'USUARIOS INACTIVOS'|trans }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <i class="fa fa-user" ></i> </div>
                        <br>
                        <i class="bg-icon text-center fa fa-exclamation-circle" style="margin-top: 0px;"></i>
                    </div>
                </div>

            </div>
            <!-- fin bloques de empresas registradas -->
            <br>
            <div class="row">
                <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="card" >
                        <div class="card-header gradiente">
                            <div class="card-title">{{'Listado de programas' |trans}}</div>
                        </div>
                        <div class="card-block" >
                            <table class="table data_table">
                                <thead class="sty__title">
                                    <tr>
                                        <th class="hd__title">{{ 'Nombre'|trans }}</th>
                                        <th class="hd__title">{{ 'Nivel'|trans }}</th>
                                        <th class="hd__title">{{ 'Fecha inicio'|trans }}</th>
                                        <th class="hd__title">{{ 'Fecha fin'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Participantes no iniciados'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Participantes cursando'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Participantes aprobados'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Participantes activos'|trans }}</th>
                                        <th class="hd__title text-center">{{ 'Participantes registrados'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pagina in paginas %}
                                        {% set eo = cycle(['odd', 'even'], loop.index) %}
                                        <tr class="{{ eo }}">
                                            <td>{{ pagina.pagina }}</td>
                                            <td>{{ pagina.nivel }}</td>
                                            <td>{{ pagina.fecha_i }}</td>
                                            <td>{{ pagina.fecha_f }}</td>
                                            <td class="text-center"><a href="{{ path('_participantesNoIniciados',{'app_id': 34, 'pagina_id': pagina.id, 'empresa_id': usuario.empresa.id, 'nivel_id': pagina.nivel_id }) }}"><span>{{ pagina.usuariosN }} <i class="fa fa-user"></i></span></a></td>
                                            <td class="text-center"><a href="{{ path('_participantesCursando',{'app_id': 21 , 'pagina_id': pagina.id, 'empresa_id': usuario.empresa.id, 'nivel_id': pagina.nivel_id }) }}"><span>{{ pagina.usuariosCur }} <i class="fa fa-user"></i></span></a></td>
                                            <td class="text-center"><a href="{{ path('_participantesAprobados',{'app_id': 22,'pagina_id': pagina.id, 'empresa_id': usuario.empresa.id, 'nivel_id': pagina.nivel_id }) }}"><span>{{ pagina.usuariosF }} <i class="fa fa-user"></i></span></a></td>
                                            <td class="text-center"><span>{{ pagina.usuariosA }} <i class="fa fa-user"></i></span></td>
                                            <td class="text-center"><a href="{{ path('_participantesRegistrados',{'app_id': 20, 'pagina_id': pagina.id, 'empresa_id': usuario.empresa.id, 'nivel_id': pagina.nivel_id }) }}"><span>{{ pagina.usuariosT }} <i class="fa fa-user"></i></span></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> {# fin del cuero de la tabla #}
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 text-right">
                                   <a href="{{ path('_excelReporteGeneral',{'app_id':20, 'empresa_id':usuario.empresa.id}) }} "> <button type="button" class="bttn__edit" data-toggle="tooltip" data-placement="bottom" title="Descargar"><span class="fa fa-download"></span></button></a>
                                </div>
                            </div>
                        </div>
                    </div> {# fin de la tarjeta #}
                </div>
            </div>
            {% if reporteAprobados %}
                <div class="row">
                    <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                        <div class="card">
                            <div class="card-header gradiente">
                                <div class="card-title" id="labelCursosAprobados">{{ 'Reporte - Histórico de aprobados por programa'|trans }}</div>
                            </div>
                            <div class="card-block" id="tablaAprobados">
                                <table class="table" id="tabla_aprobados">
                                    <thead class="sty__title">
                                       <tr>
                                            <th class="hd__title">Id</th>
                                            <th class="hd__title">{{'Nombre'|trans}}</th>
                                            <th class="hd__title">{{'Estatus'|trans}}</th>
                                            <th class="hd__title">{{'Categoría'|trans}} </th>
                                            <th class="hd__title">{{'Aprobados'|trans}}</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    {% for curso in reporteAprobados %}
                                        <tr >
                                            <td>{{ curso.id }}</td>
                                            <td>{{ curso.nombre }}</td>
                                            <td>{{ curso.estatus_pagina }}</td>
                                            <td>{{ curso.categoria }}</td>
                                            <td>{{ curso.aprobados }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody> 
                                </table>
                            </div>
                            <div class="card-footer" id="footer_aprobados" style="">
                                <div class="row">
                                    <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 text-right">
                                    <a href="{{ path('_excelHistoricoAprobados') }} "> <button type="button" class="bttn__edit" data-toggle="tooltip" data-placement="bottom" title="Descargar"><span class="fa fa-download"></span></button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-users" style="display:none;">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <form id="form" name="form" action="{{ path ('_ajaxUsuariosConectados') }}" method="POST">
                 <input type="hidden" id="empresa_id" name="empresa_id" value="{{ usuario.empresa.id }}">
            </form>

            <input type="hidden" id="usuarios_conectados" name="usuarios_conectados" value="{{ path('_ajaxUsuariosConectados') }}">
            <div class="row">
                <div class="col-md-14 col-sm-14 col-lg-14 col-xl-14 offset-md-1 offset-sm-1 offset-lg-1 offset-xl-1">
                    <div class="card">
                        <div class="card-header gradiente">
                            <div class="card-title" id="labelConectados" style="display:none;">{{ 'Participantes conectados'|trans }}: <span id="totalConectados"></span></div>
                            <div class="card-title" id="labelConectadosLoading" style="display:none;">{{ 'Actualizando la lista de participantes conectados'|trans}}..</div>
                        </div>
                        <div class="card-block" id="tablaConectados">
                        </div>
                        <div class="card-footer" id="footer_conectados">
                            <div class="row">
                                <div class="col-sm-16 col-md-16 col-lg-16 col-xl-16 text-right">
                                   <a href="{{ path('_excelUsuariosConectados',{'empresa_id':usuario.empresa.id}) }} "> <button type="button" class="bttn__edit" data-toggle="tooltip" data-placement="bottom" title="Descargar"><span class="fa fa-download"></span></button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 alert alert-danger" role="alert" id="div-error-users" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/cicular_progress/circle-progress.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/sparklines/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/chartjs/Chart.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/chartjs/utils.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/spincrement/jquery.spincrement.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/dashboard1_light.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/reportes/usuarios_conectados.js') }}"></script>
    <script type="text/javascript">
        $('#frmt1, #frmt2').jstree({
            'core' : {
                'data' : [
                    {
                        "text" : "Pensamiento Estrategico",
                        "state" : { "opened" : true },
                        "children" : [
                            {
                                "text" : "Modulo1",
                                "state" : { "selected" : true },
                                "icon" : "jstree-file"
                            },
                            { "text" : "Modulo2", "state" : { "disabled" : true } }
                        ]
                    }
                ]
            }
        });
        
        $('#tabla_aprobados').DataTable({
                        responsive: false,
                        pageLength:10,
                        sPaginationType: "full_numbers",
                        lengthChange: false,
                        info: true,
                        order: [[ 4, "desc" ]],
                        oLanguage: {
                            "sProcessing":    "{{ 'Procesando'|trans }}...",
                            "sLengthMenu":    "{{ 'Mostrar'|trans }} _MENU_ {{ 'registros'|trans }}",
                            "sZeroRecords":   "{{ 'No se encontraron resultados'|trans }}",
                            "sEmptyTable":    "{{ 'Ningún dato disponible en esta tabla'|trans }}",
                            "sInfo":          "{{ 'Registros del'|trans }} _START_ {{ 'al'|trans }} _END_ {{ ' total'|trans }} _TOTAL_",
                            "sInfoEmpty":     "{{ 'Registros del'|trans }} 0 al 0 total de 0 ",
                            "sInfoFiltered":  "",
                            "sInfoPostFix":   "",
                            "sSearch":        "{{ 'Buscar'|trans }}:",
                            "sUrl":           "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "{{ 'Cargando..'|trans }}.",
                            oPaginate: {
                                sFirst: "<<",
                                sPrevious: "<",
                                sNext: ">",
                                sLast: ">>"
                            },
                            "oAria": {
                                "sSortAscending":  ": {{ 'Activar para ordenar la columna de manera ascendente'|trans }}",
                                "sSortDescending": ": {{ 'Activar para ordenar la columna de manera descendente'|trans }}"
                            }
                        }
        });
    </script>

{% endblock %}