{% extends '::'~preferencia.plantilla %}

{% block title %}{{ 'Error de Excepción'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/base_styles/css/bootstrap/bootstrap.css') }}">
    {% set css = preferencia.css is not null and preferencia.css != '' ? asset(preferencia.css) : asset('front/client_styles/formacion/css/main.css') %}
    <link rel="stylesheet" href="{{ css }}">
    <style>
        #main {
            margin: 0 !important;
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block header %}
    <nav class="navbar justify-content-between py-0 fixed-top bg-white">
        <a class="navbar-brand" href="#">
            {% set img_logo = preferencia.logo is not null and preferencia.logo != '' ? uploads~preferencia.logo : asset('front/assets/img/logo_formacion_smart.png') %}
            <img class="img-fluid py-1" src="{{ img_logo }}" width= "200" alt="logo formación smart">
        </a>
    </nav>
{% endblock %}

{% block sidemenu %}{% endblock %}

{% block body %}
    <section class="error_except mt-sm-5 px-sm-5 mx-auto">
        <div class="row align-content-center flex-column-reverse flex-sm-row">
            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                {% if not servidor_mantenimiento %}
                    <h3 class="titulo-error sub-line text-center text-sm-left">{{ 'Error de Excepción'|trans }}</h3>
                {% endif %}
                <h5 class="subtitulo-error">{{ mensaje.principal }}</h5>
                <ul class="lista-error px-0 pl-sm-2 pl-md-5">
                    {% for indicacion in mensaje.indicaciones %}
                        <li class="elem-txt-error">
                            <p class="text-error">{{ indicacion }}.</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-right">
                <img class="img-error" src="{{ asset ( imagen ) }}" alt="">
                {% if not servidor_mantenimiento %}
                    <h3 class="titulo-error">{{ texto }}</h3>
                {% endif %}
                <div class="mr-sm-4">
                    {{ continuar|raw }}
                </div>    
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front/js/custom.js') }}"></script>
{% endblock %}