<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,400i,600,600i,700|Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>{{ empresa.titulo != '' ? empresa.titulo : 'Sistema Formación'|trans ~ '2.0' }}</title>
        {% set img = empresa.favicon is not null and empresa.favicon != '' ? uploads~empresa.favicon : asset('img/icono.png') %}
        <link rel="icon" type="image/x-icon" href="{{ img }}" />
        <link rel="stylesheet" href="{{ asset('front/base_styles/css/bootstrap/bootstrap.css') }}">
        {% set css = empresa.css is not null and empresa.css != '' ? asset(empresa.css) : asset('front/client_styles/formacion/css/main.css') %}
        <link rel="stylesheet" href="{{ css }}">
        <style>
            .ancho{

                height: 450px;"
            }

            .error__style{
                color: #fd5c63; 
                margin: 5px 10px 0px 0px; 
                text-align: left;


            }

            .success__style{
                color: #49A12F; 
                margin: 5px 10px 0px 0px; 
                text-align: left;
            }

            #contCorreoRecu{
                margin-left: 14px;
            }
           
        </style>
    </head>
    <body class="bg-white bckLogin">
        <div class="container-fluid">
            <input type="hidden" id="url_recuperar_correo" name="url_recuperar_correo" value="{{ path('_ajaxCorreo') }}">
            <input type="hidden" id="empresa_id" name="empresa_id" value="{{ empresa.id }}">
            <div class="row">
                <div class="col-7 col-xl-7 col-lg-7 col-md-5 d-none d-sm-none login-cover d-md-flex align-content-center align-items-center justify-content-center">
                    <div class="row  d-flex align-content-center  justify-content-center  ">
                        <div class="col-7 col-xl-7 col-lg-7 col-md-9 col-sm-9 text-center mb-3">
                            <h3 class="sloganLogin">{{ 'Experimenta la potencialidad de la capacitación online'|trans }}. </h3>
                        </div>
                        <div class="col-12 text-center">
                            {% set img_logo = logo_login ? uploads~logo_login : asset('front/assets/img/logo_formacion.png') %}
                            <img class="img-fluid" src="{{ img_logo }}" alt="logo formación 2.0">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-5 col-xl-5 col-lg-5 text-center mx-auto d-lg-flex justify-content-center">
                    <div class="d-sm-block d-md-none mt-5 mb-6 imgLogin">
                        <img width="65%" class="img-fluid" src="{{ img_logo }}" alt="logo formación 2.0">
                    </div>
                    <div class="col-12 mt-12v pnlogin">
                        <h3 class="title-grey titleLogin">{{ 'Iniciar Sesión'|trans }}</h3>
                        <p class="mb-4 txtLogin">{{ 'Por favor, ingresa tu usuario y contraseña'|trans }}</p>
                        <form id="form_inicio" name="form_inicio" action="{{ path('_login', { 'empresa_id': empresa.id }) }}" method="POST">
                            <div class="col-lg-8 col-xl-8 col-8 col-sm-12 col-md-12 mx-auto">
                                <div class="form-group text-left userLogin">
                                    <label class="mb-2" for="usuario">{{ 'Usuario'|trans }}</label>
                                    <input type="text" class="form-control mb-4" id="usuario" name="usuario" aria-describedby="usuarioHelp" placeholder="{{ 'Ingresa tu usuario'|trans }}">
                                </div>
                                <div class="form-group text-left pwdLogin">
                                    <label class="mb-2" for="password">{{ 'Contraseña'|trans }}</label>
                                    <input type="password" class="form-control mb-1" id="password" name="password" placeholder="{{ 'Contraseña'|trans }}">
                                    <span class="error error__style">{{ error }}</span>
                                </div>
                                <div class="wrap-recordar-check ml-1 mb-5 d-flex align-items-center justify-content-start checkLogin">
                                    <input type="checkbox" id="check_mostrar" class="mr-2">
                                    <label class="text-sm py-0 my-0" for="check_recordar">{{ 'Mostrar contraseña'|trans }}</label>
                                </div>
                                <div class="wrap-recordar-check ml-1 mb-5 d-flex align-items-center justify-content-start checkLogin">
                                    <input type="checkbox" id="check_recordar" class="mr-2">
                                    <label class="text-sm py-0 my-0" for="check_recordar">{{ 'Recordar mi contraseña'|trans }}</label>
                                    <input type="hidden" id="recordar_datos" name="recordar_datos" value="0">
                                </div>

                                <button type="submit" class="btn btn-primary mb-5 btnLogin" id="entrar">{{ 'Entrar'|trans }}</button>
                            </div>
                        </form>                      
                        <div class="row">
                            <div class="col-12 mb-3 text-center recupLogin">
                                <a href="#" class="links" data-toggle="modal" data-target="#modal1">{{ '¿Olvidaste tu contraseña?'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         

        {# Modal #}
        <div class="modal modal-recuperacion" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 text-right offset-9">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-6 justify-content-center align-items-center">
                    <div class="col-10 col-md-10 col-sm-12 col-xs-12 col-lg-10 col-xl-10 text-center">
                        <h4 class="titulo">{{ '¿Olvidaste tu contraseña?'|trans }}</h4>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center align-items-center">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                        <p class="txt-modal">{{ 'No hay problema, te enviaremos un correo con'|trans }}<br/>{{ 'tu usuario y clave. Ingresa tu correo.'|trans }}</p>
                    </div>
                </div>
                <form id="form_clave" name="form_clave" >
                    <div class="row mt-3 justify-content-center align-items-center">
                        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12 text-center">
                            <div class="form-group" id="contCorreoRecu">
                                <label class="mb-2" for="mail-rec">{{ 'Correo electrónico'|trans }}</label>
                                <input type="email" class="form-control " name="correo" id="correo" aria-describedby="mailRecoveryHelp" placeholder="Ingrese su correo">
                                <span class="aviso_ajax "></span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8">
                            <div class="form-group text-center">
                                <button type="button" id="recuperar_clave" class="btn btn-primary btn_rc mx-0">{{ 'Recuperar contraseña'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 align-items-center justify-content-center" style="display:none;" id="wait_soporte">
                        <div class="col-auto px-0 py-0">
                            <div class="contenedor">
                                    <div class="radar"></div>
                            </div>
                        </div>
                </div>
                </form>
                <div class="row align-items-center justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <a href="#" class="close link_ri" id="close_link_ri" data-dismiss="modal">{{ 'Regresar al inicio'|trans }}</a>
                    </div>
                </div>
                <div class="row align-items-end justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <p class="txt-modal txt-modal-footer">{{ 'Si necesitas ayuda escribenos a'|trans }}<br/><strong>{{ email_soporte }}</p>
                    </div>
                </div>
            </div>
        </div>
		
		 <div class="modal modal-recuperacion ancho" id="modalExplorador" tabindex="-1" role="dialog"  aria-hidden="true" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 text-right offset-9">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-6 justify-content-center align-items-center">
                    <div class="col-10 col-md-10 col-sm-12 col-xs-12 col-lg-10 col-xl-10 text-center">
                        <h4 class="titulo">{{ 'Notificación'|trans }}</h4>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center align-items-center">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                        <p class="txt-modal">
                            {{ 'Hemos detectado que estás usando un navegador no recomendado, te invitamos a usar Google Chrome, Mozilla Firefox o Microsoft Edge en sus últimas versiones para garantizar una correcta funcionalidad de la plataforma'|trans }}. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
		
		

        <script src="{{ asset('front/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jq/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
        <script type="text/javascript">

            
            is_chrome();
            $('#check_mostrar').change(function()
                {
                     var check= document.getElementById('password');
                     if(check.type=="password")
                     {
                        check.type="text";
                     }
                     else
                    {
                        check.type="password";
                    }
                });


            $("#form_inicio").validate({
                rules: {
                    'usuario': {
                        required: true
                    },
                    'password': {
                        required: true
                    }
                },
                messages: {
                    'usuario': {
                        required: "- {{ 'El usuario es requerido'|trans }}.",
                    },
                    'password': {
                        required: "- {{ 'La contraseña es requerida'|trans }}.",
                    }
                }
            });

            $('#check_recordar').click(function()
            {
                if( $('#check_recordar:checked').val() == 'on')
                    $('#recordar_datos').val(1);
                else
                    $('#recordar_datos').val(0);
               
            });

            $('#entrar').click(function()
            {
                var valid = $('#form_inicio').valid();
                if(!valid)
                {
                    notify($('#div-error').html());
                }else
                {
                    $('#entrar').hide();
                    $('.error').hide();
                    $('#form_inicio').submit();
                }
            });

            $('.aviso_ajax').hide();
            $('.aviso_ajax').html('');

            $('#correo').click(function()
                {
                    $('.aviso_ajax').html('');
                    $('.aviso_ajax').removeClass('error__style');
                    $('.aviso_ajax').hide();
                });

            $('#recuperar_clave').click(function()
            {
                if($('#correo').val())
                {
                   $('.aviso_ajax').html('');
                   $('#recuperar_clave').hide();
                   $('#close_link_ri').hide();
                   $('#wait_soporte').show(1000);
                   $('#correo').prop('disabled',true);
                   recuperar();
                }
                else
                {
                    $('.aviso_ajax').addClass('error__style');
                    $('.aviso_ajax').html("{{ 'El correo es requerido'|trans }}!");
                    $('.aviso_ajax').show();
                }
               
            });

            $('.close').click(function()
            {
                $('#correo').val('');
                $('.aviso_ajax').html('');
                $('.aviso_ajax').hide();
                $('#recuperar_clave').show();
            });



            function recuperar()
            {
                var url_recuperar_correo = $('#url_recuperar_correo').val();
                var empresa_id = $('#empresa_id').val();
                var correo = $('#correo').val();
                
                if(empresa_id!="" && correo!="")
                {
                    $.ajax({
                        type: "POST",
                        url: url_recuperar_correo,
                        dataType: "json",
                        data: { correo: correo, empresa_id: empresa_id },
                        success: function(data){
                           console.log(data.error);
                           $('#wait_soporte').hide();
                           $('#correo').prop('disabled',false);
                           $('#correo').val('');
                           $('#recuperar_clave').show();
                           $('#close_link_ri').show();
                            if(data.ok==0)
                            {
                                $('.aviso_ajax').show();
                                $('.aviso_ajax').removeClass('error__style');
                                $('.aviso_ajax').addClass('success__style');
                                $('.aviso_ajax').html(data.error);

                                setTimeout(function(){
                                    $('.modal-backdrop,#modal1').hide();
                                    $('.aviso_ajax').hide();
                                    $('.aviso_ajax').removeClass('success__style');                                
                                    $('#recuperar_clave').show();
                                }, 10000); // 10 segundos
                            }else
                            {
                                $('.aviso_ajax').addClass('error__style');
                                $('.aviso_ajax').show();
                                $('.aviso_ajax').html(data.error);
                                $('#recuperar_clave').show();
                                $('#correo').val('');
                               

                            }

                        },
                        error: function(){
                            $('#wait_soporte').hide();
                            $('#correo').prop('disabled',false);
                            $('#recuperar_clave').show();
                            $('#close_link_ri').show();
                            $('.aviso_ajax').addClass('error__style');
                            $('.aviso_ajax').html("{{ 'El servidor a tardado mucho en responder, verifique su conexión a internet o comuníquese con el administrador del sistema'|trans }}!");
                            $('.aviso_ajax').show();
                           
                        }
                    });
                }else{
                    $('#correo').val('');
                }
            }

            function is_chrome()
            {
                var googleChrome = !!window.chrome && !!window.chrome.webstore;

                var firefox = typeof InstallTrigger !== 'undefined';

                var isIE = /*@cc_on!@*/false || !!document.documentMode;

                var edge = !isIE && !!window.StyleMedia;

                var Safari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

                if (!googleChrome && !firefox && !edge) 
                {
                    
                    if (Safari) 
                    {
                      alert("{{ 'Hemos detectado que estás usando un navegador no recomendado, te invitamos a usar Google Chrome, Mozilla Firefox o Microsoft Edge en sus últimas versiones para garantizar una correcta funcionalidad de la plataforma'|trans }}.");
                    }
                    else
                    {
                        $('#modalExplorador').modal('show');//desplegar modal de notificacion
                    }
                    
                    
                }
            }
        </script>
    </body>
</html>