{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
{% set uri = app.request.getbasepath %}
<div id="message" class="for-message well-message container py-6 px-6 mb-4">
    <i id="equis" class="material-icons mr-2" >close</i>
    <h1 class="mb-4">Bienvenido a Formación&nbsp;2.0</h1>
    {{ bienvenida|raw }}
    <img class="img-fluid img-message d-none d-lg-block" src="{{ asset('front/assets/img/well_hero.png') }}" alt="hero">
</div>

{% if reciente == 0 %}

<div id="" class="for-message es-message container py-5 px-6 mb-4 ">
    <h4 class="mb-4 title-grey">Actividades Recientes</h4>
    <p>Aquí podrás acceder a tus últimas actividades, y ver tu progreso en ellas.</p>
    <h5>¡Comencemos! Elige tu programa </h5>
</div>

{% else %}
<div class="for-message  container py-5 px-6 mb-4 ">

    <h4 class="mb-4 title-grey">Actividades Recientes</h4>

    {# CURSANDO #}
    <div class="container d-flex flex-column justify-content-center align-items-center ">
        
        {% for ar in actividad_reciente %}
            <div class="card-hrz card-current">
            <img class="card-hrz-img " src="{{  uploads ~ ar.imagen }}" alt="">
            <div class="card-hrz-body">
                <h5 class="title-grey "> {{ ar.titulo_padre }} </h5>
                <span class="text-sm title-grey d-none d-lg-block"> {{ ar.categoria }} </span>
                <span class="text-sm color-light-grey d-none d-lg-block"> {{ ar.titulo_hijo }} </span>
                <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: {{ ar.porcentaje }}%" aria-valuenow="{{ ar.porcentaje }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-hrz-right float-right col-3 ml-4 d-flex flex-wrap align-items-center justify-content-center ">
                <div class="percent text-center mt-3">
                    <h2 class="color-light-grey mb-0 pb-0"> {{ ar.porcentaje }}% </h2>
                    <span class="count mt-0 mb-2 text-xs d-none d-lg-block  color-light-grey ">Finaliza en {{ ar.fecha_vencimiento }} días</span>
                </div>
                <a href="{{ path('_programa', { 'programa_id':  ar.id }) }}" class="btn btn-sm btn-continuar mt-0 px-3 mb-3" > Continuar </a>
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endif %}
{# FILTERS #}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-3 pt-3 mb-0 pb-1 title-grey sub-line "> Grupos </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="filter-group d-flex justify-content-around mb-3">
                <ul class="tabs">
                    {% for g in grupos %}
                    <li class="mt-3">
                        <span>{{ g.nombre }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="tab__content">
        {% for g in grupos %}
            <li>
                <div class="content__wrapper">
                    <div class="cards-section container d-flex justify-content-between justify-content-sm-center flex-wrap">
                    {% for pd in programas_disponibles %}
                        {% if pd.nombregrupo == g.nombre %}
                            <div class="card">
                                <img class="card-img-top" src="{{ pd.imagen }}" alt="Card image cap">
                                <div class="card-img-overlay">
                                    <span class="count text-xs ">Finaliza en {{ pd.fecha_vencimiento }} días</span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-3"> {{ pd.nombre }} </h5>
                                    <p class="card-text">{{ pd.descripcion | raw }}</p>
                                    {% if pd.continuar == 0 %}
                                        <a href="{{ path('_programa', { 'programa_id':  pd.id }) }}" class="btn btn-primary mt-3"> Iniciar </a>
                                    {% elseif pd.continuar == 1 %}
                                        <a href="{{ path('_programa', { 'programa_id':  pd.id }) }}" class="btn btn-continuar  mt-3">Continuar </a>
                                    {% elseif  pd.continuar in [2, 3] %}
                                    <div class="badge-wrap">
                                        <i class="material-icons badge-aprobado ">check_circle</i>
                                        <span class="text-badge"> Aprobado </span>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if pd.continuar in [2, 3] %}
                                    {% if pd.continuar == 2 %}
                                        {% set class = '' %}
                                    {% else %}
                                        {% set class = 'disabled' %}
                                    {% endif %}
                                <div class="card-footer  d-flex justify-content-around">
                                    <a  href="#" class="flex-column align-items-center col-4 btn-edge btn-certificado">
                                        <i class="material-icons d-block">aspect_ratio</i>
                                        <small class=" d-block"> Certificado </small>
                                    </a>
                                    <a  href="#" class="flex-column align-items-center col-4 btn-edge btn-notas " >
                                        <i class="material-icons   d-block">content_copy</i>
                                        <small class=" d-block"> Notas </small>
                                    </a>
                                    <a  href="#" class="flex-column align-items-center col-4 btn-edge btn-ver {{ class }}" >
                                        <i class="material-icons   d-block">visibility</i>
                                        <small class=" d-block"> Ver </small>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('.tab__content li:first').addClass('activo');
        $('.tabs li:first').addClass('activo');
    </script>
{% endblock %}