{% extends '::'~app.session.get('empresa').plantilla %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .disabled {
            cursor: default;
        }
    </style>
{% endblock %}

{% block body %}

<input type="hidden" id="url_servicio" name="url_servicio" value="{{ path('_ajaxServicioInteractivo') }}">

<div id="message" class="for-message well-message container py-6 px-6 mb-4 bckgd">
    <i id="equis" class="material-icons mr-2" >close</i>
    {{ bienvenida|raw }}    
</div>

{% if reciente == 0 %}

    <div class="for-message es-message container py-5 px-6 mb-4">
        <h4 class="mb-4 title-grey">{{ 'Actividades Recientes'|trans }}</h4>
        <p>{{ 'Aquí podrás acceder a tus últimas actividades, y ver tu progreso en ellas.'|trans }}</p>
        <h5>{{ '¡Comencemos! Elige tu programa'|trans }}</h5>
    </div>

{% else %}

    <div class="for-message  container py-5 px-6 mb-4 ">

        <h4 class="mb-4 title-grey">{{ 'Actividades Recientes'|trans }}</h4>

        {# CURSANDO #}
        <div class="container d-flex flex-column justify-content-center align-items-center ">
            
            {% for ar in actividad_reciente %}
                <div class="card-hrz card-current">
                    <img class="card-hrz-img  rounded-left" src="{{ uploads ~ ar.imagen }}" alt="">
                    <div class="card-hrz-body">
                        <h5 class="title-grey "> {{ ar.titulo_padre }} </h5>
                        <span class="text-sm title-grey d-none d-lg-block"> {{ ar.categoria }} </span>
                        <span class="text-sm color-light-grey d-none d-lg-block"> {{ ar.titulo_hijo }} </span>
                        <div class="progress mt-2">
                            <div class="progress-bar" role="progressbar" style="width: {{ ar.porcentaje }}%" aria-valuenow="{{ ar.porcentaje }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="card-hrz-right float-right px-2 d-flex flex-wrap align-items-center justify-content-center ">
                        <div class="percent text-center mt-3">
                            <h2 class="color-light-grey mb-0 pb-0"> {{ ar.porcentaje }}% </h2>
                            <span class="count mt-0 mb-2 text-xs d-none d-lg-block  color-light-grey {{ ar.class_finaliza }}">{{ ar.dias_vencimiento }}</span>
                        </div>
                        {% if ar.link_enabled %}
                            {% if ar.avanzar == 2 %}
                                <a href="{{ path('_test', { 'pagina_id':  ar.evaluacion_pagina, 'programa_id': ar.evaluacion_programa }) }}" class="btn btn-sm btn-continuar mt-0 px-3 mb-3">{{ 'Continuar'|trans }}</a>
                            {% else %}
                                <a href="{{ path('_lecciones', { 'programa_id':  ar.padre_id, 'subpagina_id': ar.id }) }}" class="btn btn-sm btn-continuar mt-0 px-3 mb-3">{{ 'Continuar'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endif %}
{# FILTERS #}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-3 pt-3 mb-0 pb-1 title-grey sub-line ">{{ 'Grupos'|trans }}</h4>
        </div>
    </div>   
    <div class="row">
        <div class="col-12">
            <div class="filter-group d-flex justify-content-around mb-3">
                <ul class="tabs">
                    {% for grupo in grupos %}
                        <li class="{% if loop.index == 1 %} activo {% endif %} mt-3">
                            <span>{{ grupo.nombre }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="tab__content">
            {% for grupo in grupos %}
                <li {% if loop.index == 1 %} class="activo" {% endif %}>
                    <div class="content__wrapper">
                        <div class="cards-section container d-flex justify-content-between justify-content-sm-center flex-wrap">
                            {% for pagina in grupo.paginas %}
                                <div class="card">
                                    <img class="card-img-top" src="{{ uploads ~ pagina.imagen }}" alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <span class="count text-xs {{ pagina.class_finaliza }}">{{ pagina.dias_vencimiento }}</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title mb-3"> {{ pagina.nombre }} </h5>
                                        <p class="card-text">{{ pagina.descripcion|raw }}</p>
                                        {% if pagina.continuar == 0 %}
                                            {% if pagina.tiene_subpaginas == 1 %}
                                                <a href="{{ path('_programa', { 'programa_id':  pagina.id }) }}" class="btn btn-primary mt-3">{{ 'Iniciar'|trans }}</a>
                                            {% else %}
                                                <a href="{{ path('_lecciones', { 'programa_id':  pagina.id }) }}" class="btn btn-primary mt-3">{{ 'Iniciar'|trans }}</a>
                                            {% endif %}
                                        {% elseif pagina.continuar == 1 %}
                                            {% if pagina.tiene_subpaginas == 1 %}
                                                <a href="{{ path('_programa', { 'programa_id':  pagina.id }) }}" class="btn btn-continuar mt-3">{{ 'Continuar'|trans}}</a>
                                            {% else %}
                                                <a href="{{ path('_lecciones', { 'programa_id':  pagina.id }) }}" class="btn btn-continuar mt-3">{{ 'Continuar'|trans}}</a>
                                            {% endif %}
                                        {% elseif  pagina.continuar in [2, 3] %}
                                            <div class="badge-wrap">
                                                {% if pagina.link_enabled %}
                                                    <i class="material-icons badge-aprobado">check_circle</i>
                                                    <span class="text-badge">{{ 'Aprobado'|trans }}</span>
                                                {% else %}
                                                    {# Cambiar el ícono por un relojito #}
                                                    <i class="material-icons badge-aprobado">update</i>
                                                    <span class="text-badge">{{ 'Vencido'|trans }}</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            {# Cambiar el ícono por un relojito #}
                                            <div class="badge-wrap">
                                                <i class="material-icons badge-aprobado">update</i>
                                                <span class="text-badge">{{ 'Vencido'|trans }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a id="iconos"></a>
                                    <div class="card-footer d-flex justify-content-around">
                                        {% if pagina.tiene_certificado == 1 %}
                                            {% if pagina.ver_certificado == 1 %}
                                                <a href="{{ path('_generarCertificado', { 'programa_id': pagina.id }) }}" target="_blank" class="flex-column align-items-center col-4 btn-edge btn-certificado">
                                            {% else %}
                                                <a href="#iconos" class="flex-column align-items-center col-4 btn-edge btn-certificado disabled">
                                            {% endif %}
                                                <i class="material-icons d-block">aspect_ratio</i>
                                                <small class="d-block">{{ 'Certificado'|trans }}</small>
                                            </a>
                                        {% endif %}
                                        {% if pagina.tiene_notas == 1 %}
                                            {% if pagina.ver_notas == 1 %}
                                                <a href="{{ path('_generarNotas', { 'programa_id': pagina.id }) }}" target="_blank" class="flex-column align-items-center col-4 btn-edge btn-notas">
                                            {% else %}
                                                <a href="#iconos" class="flex-column align-items-center col-4 btn-edge btn-notas disabled">
                                            {% endif %}
                                                <i class="material-icons d-block">content_copy</i>
                                                <small class=" d-block">{{ 'Notas'|trans }}</small>
                                            </a>
                                        {% endif %}
                                        {% if pagina.continuar in [0,1,2] %}
                                            <a href="{{ path('_programa', { 'programa_id':  pagina.id }) }}" class="flex-column align-items-center col-4 btn-edge btn-ver">
                                        {% else %}
                                            <a href="#iconos" class="flex-column align-items-center col-4 btn-edge btn-ver disabled">
                                        {% endif %}
                                            <i class="material-icons d-block">visibility</i>
                                            <small class=" d-block">{{ 'Ver'|trans }}</small>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/front/tabs.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#dashBoard').addClass("active");


            // OJO: BORRAR
            $('#message').click(function(){
                $.ajax({
                    type: "POST",
                    url: $('#url_servicio').val(),
                    async: true,
                    data: { codigo: '125874128888885', visto: 1 },
                    dataType: "json",
                    success: function(data) {
                        console.log('OK: '+data.ok);
                        console.log('MSG: '+data.msg);
                        //clearTimeout( timerId );
                    },
                    error: function(){
                        console.log('Error invocando el servicio');
                    }
                });
            });
        });
    </script>
{% endblock %}
