<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,400i,600,600i,700|Roboto:300,400,500,700" rel="stylesheet">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/icono.png') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('front/styles/css/main.css') }}">
        {% endblock %}
    </head>
    <body class="bg-white">
        <div class="container-fluid">
        {% block body %}
            <div class="row">
            <div class="col-sm-5 d-none d-sm-none  login-cover d-md-flex align-content-center align-items-center justify-content-center">
                <div class="row  d-flex align-content-center  justify-content-center  ">
                    <div class="col-8 text-center mb-3">
                        <h3> Experimenta la pontencialidad de la capacitación digital. </h3>
                    </div>
                    <div class="col-12 text-center">

                        <img class="img-fluid" src="{{ asset('front/assets/img/logo_formacion.png') }}" alt="logo formación 2.0">
                    </div>
                </div>
            </div>
            <div class="col-md-7  text-center mx-auto d-lg-flex justify-content-center">
                <div class="d-sm-block d-md-none mt-5 mb-6">
                    <img width="65%" class="img-fluid" src="{{ asset('front/assets/img/logo_formacion.png') }}" alt="logo formación 2.0">
                </div>
                <div class="col-12 mt-12v">
                    <h3 class="title-grey mb-md-6 mb-sm-3">{{ 'Iniciar Sesión' |trans }}</h3>
                    <p class="mb-4">{{ 'Por favor, ingresa tu usuario y contraseña' |trans }}</p>
                    <div class="col-lg-5 col-12 col-sm-12 mx-auto">
                        <form action="{{ path('_login', { 'empresa_id': empresa_id}) }}" method="POST">
                            <div class="form-group text-left">
                                <label class="mb-2" for="usuario">{{ 'Usuario'|trans }}</label>
                                <input type="text" class="form-control mb-4" id="usuario" name="usuario" aria-describedby="usuarioHelp" placeholder="Ingresa tu usuario">
                            </div>
                            <div class="form-group text-left">
                                <label class="mb-2" for="password">{{ 'Contraseña'|trans }}</label>
                                <input type="password" class="form-control mb-1" id="password" name="password" placeholder="Contraseña">
                                <span class="error error__style">{{ error }}</span>
                            </div>
                            <div class="wrap-recordar-check ml-1 mb-5 d-flex align-items-center justify-content-start">
                              <input type="checkbox" id="check_recordar" class="mr-2">
                              <label class="text-sm py-0 my-0" for="check_recordar">{{ 'Recordar mi contaseña'|trans }}</label>
                            </div>
                            <button type="submit" class="btn btn-primary mb-5">{{ 'Entrar'|trans }}</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3 text-center">
                            <a href="{{ path('_recuperarClave') }}" class="links" data-toggle="modal" data-target="#modal1">{{ '¿Olvidaste tu contraseña?'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('front/js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>